<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Settings',id:7}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Geo Fencing Management</h2>
        <!-- *ngIf="validateFeature(featureConst.zoneCreate)" -->
        <a class="btn btn-info page-add-new col-md-2" data-toggle="modal" data-target="#modalContent"
            (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Geo fence</span>
        </a>
    </div>
    <div class="row form-row" [hidden]="showManageForm">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.zoneUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1"
                            *ngIf="!element.isHavingActiveJourney && validateFeature(featureConst.zoneDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="!element.isHavingActiveJourney && validateFeature(featureConst.zoneActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div [hidden]="showManageForm">
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div [hidden]="!showManageForm" class="manage-form">
    <div class="row">
        <h5 class="col-11"> {{zone.id>0? 'Update Zone': 'Add Zone'}}</h5>
        <button id="bntClose" type="button" class="col-1 close" (click)="initList()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row form-row">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="zone.name" placeholder="Name" />
                    <img class="input-group-prepend" *ngIf="zone.name=='' && isSubmitted"
                        src="assets/images/JMS/input-error.svg" />
                </div>

                <div *ngIf="zone.name=='' && isSubmitted" class="input-error"> Name is required. </div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-form-label"> Description</label>
                <textarea type="text" [ngClass]="{'form-control':true}" [(ngModel)]="zone.description"></textarea>
            </div>

            <div class="form-group col-md-12">
                <mat-slide-toggle color="primary" [(ngModel)]="zone.isActive">Active</mat-slide-toggle>
            </div>

            <div class="form-group col-md-12">
                <div class="input-group mainInputComp">
                    <input type="text" class="form-control bgLight" placeholder="Search for location Address"
                        autocorrect="off" autocapitalize="off" spellcheck="false" [(ngModel)]="zone.search"
                        #search="ngModel" name="searchd" style="width: 95%">

                    <span>
                        <img src="assets/images/Jms_assets/ic_pin.svg">
                    </span>

                    <a (click)="deleteSelectedShape()" class="cursor" *ngIf="selectedArea>0"> <img class="img-reset"
                            src="assets/images/JMS/cancel.svg" matTooltipPosition="above"
                            matTooltip="delete selected zone from map"></a>
                </div>

                <agm-map style="height: 300px" [zoom]="zone.zoom" [latitude]="zone.latitude"
                    [longitude]="zone.longitude" #map [mapTypeId]="'terrain'" [agmDrawingManager]="drawingManager"
                    (mapReady)="onMapReady($event)">
                </agm-map>
                <div *ngIf="(zone.zoneLocations.length<=0 ||zone.zoneLocations==null) && isSubmitted"
                    class="input-error"> Determine zone is required. </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
    </div>
</div>