<div class="container">
    <section id="viewuserProfile">
        <div id="userProfile" class="">
            <h2></h2>
            <div class=" firstDiv">
                <div class="form-row">
                    <div class="col-md-7 Admin--Profile">
                        <p>Manager Profile</p>
                    </div>
                    <div class="col-md-2 text-justify Rectangle-Copy">
                        <a [routerLink]="['/manager/profile/edit']" class="Edit">Edit</a>
                    </div>
                    <div class="col-md-2 text-justify Rectangle-Copy col-md-2">
                        <a (click)="openChangePasswordModal()" class="Edit">Change Password</a>
                    </div>
                </div>
            </div>

            <app-profile-image [profileImg]="profile?.data?.image"></app-profile-image>

            <div class="Rectangle-Copy-3">
                <div class="cpoy3padding">
                    <form *ngIf="profile?.data" id="profileFrm" name="profileFrm">
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="label-text">Full Name <span class="required-input">*</span></label>
                                <input type="text" name="name" id="name" [value]="profile.data.fullName"
                                    class="form-control col Rectangle-Copy-12" readonly>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="label-text">User Name</label>
                                <input type="text" name="userName" id="userName" [value]="profile.data.username"
                                    class="form-control col Rectangle-Copy-12" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="label-text">Email</label>
                                <input type="text" name="email" id="email" [value]="profile.data.email"
                                    class="form-control col Rectangle-Copy-12" readonly>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="label-text">Phone Number</label>
                                <input type="text" name="phoneNumber" id="phoneNumber"
                                    [value]="profile.data.phoneNumber" class="form-control col Rectangle-Copy-12"
                                    readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="label-text">Emergency Contact</label>
                                <input type="text" name="emergContact" id="emergContact"
                                    [value]="profile.data.emergencyContact" class="form-control col Rectangle-Copy-12"
                                    readonly>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="label-text">Address</label>
                                <input type="text" name="address" id="address" [value]="profile.data.address"
                                    class="form-control col Rectangle-Copy-12" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="label-text">Nationality</label>
                                <input type="text" name="nationality" id="nationality"
                                    [value]="profile.data.nationality" class="form-control col Rectangle-Copy-12"
                                    readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>