.Rectangle {
    width: 1024px;
    height: 672px;
    background-color: #eefcff;
  }
  .Rectangle-Copy {
    width: 107px;
    height: 34px;
    border-radius: 6px;
    background-color: #673bb7;
  }
  .Admin--Profile {
    width: 111px;
    height: 21px;
    font-family: SFProDisplay;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Oval-Copy {
    width: 150px;
    height: 150px;
    background-color: #4a90e2;
  }
  align-center{
  
    text-align: center;
  }
  .Path {
    width: 94px;
    height: 33px;
    background-color: #ffffff;
  }
  .Rectangle-Copy-3 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .Admin-profile-01 {
    width: 1024px;
    height: 672px;
    background-color: #ffffff;
  }
  .Combined-Shape {
    width: 133.7px;
    height: 41px;
    opacity: 0.73;
    background-color: #ffffff;
  }
  .Full-Name- {
    width: 77px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Full-Name- .text-style-1 {
    color: #d0021b;
  }
  .User-Name {
    width: 76px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Email {
    width: 37px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Password- {
    width: 75px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Password- .text-style-1 {
    color: #d0021b;
  }
  .profileContainer{
    padding-top: 15px;
    padding-bottom: 2px;
    margin: 5px;
  
  }
  .firstDiv{
    padding-left: 43px;
    padding-right: 43px;
    margin: 29px;
  }
  
  .field{
    margin: 10px;
    padding: 15px;
  
  }
  .cpoy3padding{
    margin: 41px 40px;
    padding: 15px 18px 34px 10px;
  }
  .form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
  
  }
  .Rectangle-Copy-9 {
    width: 445px;
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  input.Rectangle-Copy-12 {
    width: 405px;
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  .Rectangle-Copy-11 {
    width: 445px;
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  .Rectangle-Copy-33 {
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  .text-justify {
    text-align: center!important;
    margin: 5px;
  }
  .Edit {
    width: 24px;
    height: 16px;
    font-family: SFProDisplay-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
  .label-text {
    height: 19px;
    margin-bottom: 10px;
    margin-left: 10px;
    opacity: 0.4;
    font-family: SFProDisplay-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .label-text .required-input {
    color: #d0021b;
  }
  input {
    font-family: SFProDisplay-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
    padding-left: 10px !important;
  }
  
  
  