<h1 mat-dialog-title>Reject</h1>
<div mat-dialog-content class="pt-3">
  <mat-radio-group class="action-radio-group" [(ngModel)]="selectedAction">

    <mat-radio-button *ngIf="actions.isAllowedToRequestToRescheduleTheJourney" [value]="actionsPermissions[0]">
      Request to reschedule The journey
    </mat-radio-button>

    <mat-radio-button *ngIf="actions.isAllowedToRequestToChangeDriver" [value]="actionsPermissions[1]">
      Request to change driver
    </mat-radio-button>

    <mat-radio-button *ngIf="actions.isAllowedToRequestToChangeVehicle" [value]="actionsPermissions[2]">
      Request to change vehicle
    </mat-radio-button>

    <mat-radio-button *ngIf="actions.isAllowedToRollBackToDriverToResubmitAssessments" [value]="actionsPermissions[3]">
      Roll back to driver to re-submit assessments
    </mat-radio-button>

  </mat-radio-group>

  <div *ngIf="selectedAction" class="form-group">
    <label>Please enter the Reason<span class="star">*</span></label>
    <textarea class="form-control  input-reason" #reasonRef="ngModel" name="reason" [(ngModel)]="reason"
      class="form-control input-reason" required rows="3"></textarea>
    <mat-error *ngIf="reasonRef && (reasonRef.invalid && ( (reasonRef.dirty || reasonRef.touched) ||isSubmit))">
      Please Enter Your Reason
    </mat-error>
  </div>

  <mat-dialog-actions class="action-btns">
    <button class="mat-raised-button cancel-btn " type="button" (click)="close()">Cancel</button>
    <button class="mat-raised-button submit-btn" type="button" (click)="submit()">Submit</button>
  </mat-dialog-actions>
</div>