@import "./../../../../shared/scss/variables";
.action-radio-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mat-radio-button {
        margin-bottom: 30px;
    }
}
.action-btns {
    display: flex;
    justify-content: space-around;
    float: right;
    margin-bottom: 5px;
    padding: 0;
    button {
        margin-left: 20px;
        width: 118px;
        height: 48px;
        border-radius: 6px;
        color: $white-color;
    }
}
.cancel-btn {
    background-color: $red-color;
}
.submit-btn {
    background-color: $green-color;
}
.star {
    color: red;
}
