<section id="subHomePage">
  <div class="mobileContainer container">
    <div class="row col-md-12">
      <div class="form-group col-md-12"> <span> &nbsp;</span> </div>
    </div>

    <div class="row col-md-12">
      <div class="form-group col-md-10">
        <span class="sub-group-title">
          {{subGroupName}}
        </span>
      </div>
      <div class="col-md-2 d-flex justify-content-end pr-0">
        <a routerLinkActive="active" routerLink="/" class="cursor back-btn">
          <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
      </div>
    </div>

    <div class="row">

      <ng-container *ngFor="let item of menu">
        <ng-container *ngIf="item.childrens">
          <ng-container *ngFor="let child of item.childrens">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="validateFeature(child.permissions[0], item.id)">
              <div class="card" [routerLink]="child.route">
                <div class="img-container">
                  <img [src]="child.icon" class="card-img_" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{child.name}}</h5>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>
  </div>
</section>