<form class="row p-0 m-0" [formGroup]="form">
    <h4 class="col-12 mt-3 font-weight-bold">
        General Settings
    </h4>

    <h5 class="col-12 mt-4 font-weight-bold">
        Distance Restrictions
    </h5>

    <h6 class="col-12 mt-1">
        This setting allows the drivers to mark 'Check-in or Success' only when they are within a certain distance from
        the location.
    </h6>

    <div class="form-group col-8">
        <input type="text" class="form-control" formControlName="distanceRestriction">
    </div><b class="pt-3">In meters</b>

    <p class="col-12">
        <mat-error *ngIf="!form.controls['distanceRestriction'].valid">
            {{getError('distanceRestriction')}}
        </mat-error>
    </p>

    <h5 class="col-12 font-weight-bold">
        Driving Hours Limits
    </h5>

    <h6 class="col-12 mt-1">
        This setting states the limitation driving hours for a driver to be selected for a journey
    </h6>

    <div class="form-group mt-1 col-8">
        <input type="text" class="form-control" formControlName="drivingHourLimit">
    </div><b class="pt-3">In Hours</b>

    <p class="col-12">
        <mat-error *ngIf="!form.controls['drivingHourLimit'].valid">
            {{getError('drivingHourLimit')}}
        </mat-error>
    </p>

    <div class="col-12 mt-1">
        <div class="text-right">
            <button mat-stroked-button color="primary" class="ml-3 mr-3 save-btn" type="button"
                (click)="updateSettings()">Save</button>
        </div>
    </div>

</form>