@import "./../../shared/scss/variables";

input {
    border-radius: 6px !important;
    border: solid 1px #979797 !important;
    background-color: white !important;
    padding-left: 10px !important;
}

.save-btn {
    font-size: 14px;
    width: 120px;
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $blue-color;
    color: white;
    border: none;
}
