<!-- app.component.html -->
<div class="container">  
    <div class="row form-row">
        <h2 class="page-title col-md-10">Workforces Management</h2>
        <a  class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.workForceCreate)" data-toggle="modal" data-target="#modalContent" (click)="initModal()">
           <span class="page-add-new-text align-middle">Add Workforce</span> 
        </a>
    </div>  
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="userCount">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Number Of Members </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> 
                    <a (click)="BrowseUser(element)"  class="cursor" data-toggle="modal"  data-target="#modalUsers" >
                        <ins> {{element.userCount}}</ins>
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> 
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                   <div class="row">
                    <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.workForceUpdate)" (click)="Update(element)" data-toggle="modal"  data-target="#modalContent">
                        <img src="assets/images/JMS/edit.svg">
                    </a>
                    <a class="cursor col-md-1" *ngIf="!element.isHavingActiveJourney&& validateFeature(featureConst.workForceDelete)" (click)="Delete(element)">
                        <img src="assets/images/JMS/delete.svg">
                    </a>
                    <mat-slide-toggle class="col-md-2" color="primary" *ngIf="!element.isHavingActiveJourney && validateFeature(featureConst.workForceActivateDeactivate)"  (change)="ActivateOrDeactivate(element)" [(ngModel)]="element.isActive"></mat-slide-toggle>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-header-text" id="modalLabel"> {{workforce.id>0? 'Update Workforce': 'Add Workforce'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label"> Name <span class="required">*</span></label>
                       <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="workforce.name"  placeholder="Name" />
                        <img class="input-group-prepend" *ngIf="workforce.name=='' && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                       </div>
                    </div>
                    <div *ngIf="workforce.name=='' && isSubmitted" class="input-error col-md-12"> Name is required. </div>
                   
                    <div class="form-group col-md-12">
                        <label class="col-form-label"> Description</label>
                        <textarea type="text" [ngClass]="{'form-control':true}"  [(ngModel)]="workforce.description"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <mat-slide-toggle color="primary" [(ngModel)]="workforce.isActive">Active</mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
                
        </div>
    </div>
</div>

<div class="modal fade" id="modalUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Workforce {{workforceName}}</h5>
            <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <div class="table-responsive" style="overflow:auto; max-height: 300px;">
                <table class="table">
                    <tr>
                        <th>Member</th>
                        <th>Role</th>
                    </tr>
                    <tr *ngFor="let user of workforceUsers; index as i;">
                        <td>{{user.fullName}}</td>
                        <td>{{user.isDriver? 'Driver' :'Manager'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
    
