@import "./../../../../shared/scss/variables";

.mat-expansion-panel {
    box-shadow: none;
}
.mat-expansion-panel-header {
    border: 1px solid #4a90e2;
    padding: 5 7px;
}
.accordion-container {
    width: 100%;
}
.assessment-container {
    margin: 13px 0 24px 1px;
    padding: 15px 44px 19px 17px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #018c6f;
    background-color: #ffffff;
    .assess-name {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.06px;
        color: #018c6f;
    }
}
.question-body {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    button {
        background-color: $blue-color;
    }
}

.assessment-header {
    padding-top: 5px;
    height: unset !important;
}

:host ::ng-deep.mat-accordion .mat-expansion-panel {
    margin-top: 20px;
    margin-bottom: 20px;
}
.title-text {
    padding-right: 0;
}
.title-header {
    font-family: SFProDisplay-Regular;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black-color;
}
.answer-btn {
    cursor: auto;
    &:focus {
        outline: none;
    }
}
