<section class="container no-padding no-margin p-3">
    <div class="row mt-4">
        <div class="col-6">
            <h5>
                <b>Risk Assessment</b>:
                {{journeyData?.riskResult!=null && journeyData?.riskResult!="" ? journeyData?.riskResult: '---' }}
            </h5>
        </div>
        <div class="col-6">
            <h5>
                <b>Total Risk</b>: {{journeyData?.totalRiskCount!=null?journeyData?.totalRiskCount:'---'}}
            </h5>
        </div>
        <div class="col-6">
            <h5>
                <b>Is Night Driving</b>:
                <ng-container *ngIf="journeyData?.isNightDriving">Yes</ng-container>
                <ng-container *ngIf="!journeyData?.isNightDriving">No</ng-container>
            </h5>
        </div>
    </div>
    <div>
        <mat-accordion class="row" *ngFor="let assessmentAnswerTiming of assessmentAnswerList"
            class="accordion-container" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="assessment-header">
                    <mat-panel-title class="row">
                        <span class="col-4 title-text">
                            <span class="title-header">Location</span>:
                            {{assessmentAnswerTiming?.assessmentData?.location}}
                        </span>

                        <span class="col-4  title-text">
                            <span class="title-header">Timing</span>:
                            {{assessmentAnswerTiming?.assessmentData?.assessmentTimming}}
                        </span>

                        <span *ngIf="assessmentAnswerTiming?.assessmentData?.approvedDate" class="col-4  title-text">
                            <span class="title-header">Approved at</span> :
                            {{assessmentAnswerTiming.assessmentData.approvedDate | dateToTimezone}}
                        </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="assessment-container"
                    *ngFor="let assessmentAnswer of assessmentAnswerTiming.assessmentWithAnwswers">
                    <div>
                        <p class="assess-name">Assessment Name: {{assessmentAnswer.assessmentName}}</p>
                    </div>
                    <div class="question-body" *ngFor="let answer of assessmentAnswer.answers">
                        <span>Q{{answer?.questionOrder}}: {{answer?.questionName}}</span>
                        <button mat-flat-button color="primary" class="ml-1 mr-1 approve-btn answer-btn">
                            {{answer?.driverAnswer}}
                        </button> </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>