<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Users-Management',id:3}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Drivers Management</h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.driverCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Driver</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> User name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="fullName">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>
            <ng-container matColumnDef="userDepartmentsNames">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header>Department </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    <ng-container *ngFor="let department of element.userDepartmentsNames; let i = index">{{department}}
                        <ng-container *ngIf="element.userDepartmentsNames.length -1 !== i">,</ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.driverUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1"
                            *ngIf="!element.isHavingActiveJourney && validateFeature(featureConst.driverDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="validateFeature(featureConst.driverActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" #modalContent role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{driver.id>0? 'Update Driver': 'Add Driver'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-12">
                        <ngb-accordion #acc="ngbAccordion" class="languages-accordian" activeIds="toggle-1"
                            [closeOthers]="true">
                            <ngb-panel id="toggle-1" title="Details">
                                <ng-template ngbPanelContent let-opened="opened">
                                    <div class="form-row tab-pane">
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Username <span
                                                    class="required-input">*</span></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="driver.username"
                                                    placeholder="Username" [readonly]="driver.id>0" />
                                                <img class="input-group-prepend"
                                                    *ngIf="driver.username=='' && isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="driver.username=='' && isSubmitted" class="input-error">
                                                Username is required. </div>
                                        </div>
                                        <div class="form-group  col-md-6">
                                            <label class="col-form-label">Email</label>
                                            <div class="input-group">
                                                <input type="email" class="form-control" [(ngModel)]="driver.email"
                                                    placeholder="Email" />
                                                <img class="input-group-prepend"
                                                    *ngIf="(driver.email && !validateEmail())&& isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <!-- <div *ngIf="driver.email==''&&isSubmitted"  class="input-error">Email is required</div>
                                        <div *ngIf="!validateEmail()&&isSubmitted"  class="input-error">Email format not valid</div> -->
                                        </div>
                                        <div class="form-group  col-md-6">
                                            <label class="col-form-label">Fullname <span
                                                    class="required-input">*</span></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="driver.fullName"
                                                    placeholder="Fullname" />
                                                <img class="input-group-prepend"
                                                    *ngIf="driver.fullName=='' && isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="driver.fullName=='' && isSubmitted" class="input-error">
                                                Fullname is required. </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Password <span class="required-input"
                                                    *ngIf="driver.id<=0">*</span></label>
                                            <div class="input-group">
                                                <input type="password" class="form-control"
                                                    [(ngModel)]="driver.password" />
                                                <img class="input-group-prepend"
                                                    *ngIf="driver.password =='' && driver.id<=0 && isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div class="input-error"
                                                *ngIf="driver.password =='' && driver.id<=0 && isSubmitted">Password is
                                                required</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Confirm Password <span class="required-input"
                                                    *ngIf="driver.id<=0">*</span></label>
                                            <div class="input-group">
                                                <input type="password" class="form-control"
                                                    [(ngModel)]="driver.confrimPassword" />
                                                <img class="input-group-prepend"
                                                    *ngIf="driver.confrimPassword!=driver.password"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div class="input-error" *ngIf="driver.confrimPassword!=driver.password">
                                                Password does not match</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Department <span
                                                    class="required-input">*</span></label>
                                            <div class="input-group">
                                                <ng-multiselect-dropdown class="form-control"
                                                    [placeholder]="'Select Department(s)  ...'" [data]="Teams"
                                                    [(ngModel)]="driver.teams" [settings]="dropdownSettings">
                                                </ng-multiselect-dropdown>
                                                <img class="input-group-prepend"
                                                    *ngIf="driver.teams==null && isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="driver.teams==null&&isSubmitted" class="input-error">Department
                                                is required</div>
                                        </div>
                                        <div class="form-group col-md-6" *ngIf="false">
                                            <label class="col-form-label">Workforce</label>
                                            <select class="form-control" [(ngModel)]="driver.workForceId">
                                                <option *ngFor="let item of WorkForces" value="{{item.id}}">
                                                    {{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">License No <span
                                                    class="required-input">*</span></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="driver.licenseNo"
                                                    placeholder="License No" />
                                                <img class="input-group-prepend"
                                                    *ngIf="driver.licenseNo==''&&isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="driver.licenseNo==''&&isSubmitted" class="input-error">License
                                                No is required</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">License Expiry Date <span
                                                    class="required-input">*</span></label>
                                            <div class="input-group">
                                                <input type="date" class="form-control"
                                                    [ngModel]="driver.licenseExpiryDate | date:'yyyy-MM-dd'"
                                                    (ngModelChange)="driver.licenseExpiryDate = $event"
                                                    placeholder="LicenseExpiryDate" />
                                                <img class="input-group-prepend"
                                                    *ngIf="driver.licenseExpiryDate==null&&isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="driver.licenseExpiryDate==null&&isSubmitted"
                                                class="input-error">License Expiry Date is required</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Gate Pass Status</label>
                                            <input type="text" class="form-control"
                                                [(ngModel)]="driver.gatePassStatus" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Phone No <span
                                                    class="required-input">*</span></label>
                                            <div class="input-group">
                                                <input type="tel" class="form-control" [(ngModel)]="driver.phoneNumber"
                                                    placeholder="Phone No" #phone="ngModel"
                                                    [ngClass]="{'is-invalid':phone.invalid &&(phone.touched || phone.dirty)}"
                                                    required />
                                                <img class="input-group-prepend" *ngIf="!validatePhone() && isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="driver.phoneNumber && !validatePhone() && isSubmitted"
                                                class="input-error">Phone No format not valid for
                                                ex: +(code)-xx-xx-xx </div>
                                            <div *ngIf="!driver.phoneNumber && isSubmitted" class="input-error"> Please
                                                enter the phone number </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label" for="inputDefault">Training Details</label>
                                            <textarea type="text" class="form-control"
                                                [(ngModel)]="driver.trainingDetails"></textarea>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">&nbsp;</label>
                                            <div>
                                                <mat-slide-toggle color="primary" [(ngModel)]="driver.isActive">Active
                                                </mat-slide-toggle>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Can Drive (Vehicle Types) </label>
                                            <div class="input-group">
                                                <ng-multiselect-dropdown class="form-control"
                                                    [placeholder]="'Select Vehicle Type ...'" [data]="vechilesTypes"
                                                    [(ngModel)]="driver.uiDriverVehicleTypes"
                                                    [settings]="dropdownSettings">
                                                </ng-multiselect-dropdown>
                                            </div>
                                            <div *ngIf="driver.driverVehicleTypes.length === 0 && isSubmitted"
                                                class="input-error"> Please select the vehicle type </div>

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">&nbsp;</label>
                                            <div>
                                                <mat-slide-toggle color="primary" (change)="onSlotChange($event)"
                                                    [(ngModel)]="driver.isCompanyEmployee">Company Employee
                                                </mat-slide-toggle>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6" *ngIf="driver.isCompanyEmployee">
                                            <label class="col-form-label">Employee Id <span
                                                    class="required-input">*</span></label>
                                            <div class="input-group">
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="driver.employeeId" #employeeId="ngModel"
                                                    placeholder="Employee Id"
                                                    [ngClass]="{'is-invalid':employeeId.invalid &&(employeeId.touched || employeeId.dirty)}"
                                                    required />
                                            </div>
                                            <div *ngIf="!driver.employeeId && isSubmitted" class="input-error"> Please
                                                enter the employee id </div>
                                        </div>

                                        <div class="form-group col-md-6" *ngIf="!driver.isCompanyEmployee">
                                            <label class="col-form-label">Employee For</label>
                                            <div class="input-group ">
                                                <ng-multiselect-dropdown class="form-control"
                                                    [placeholder]="'Select Employee For...'" [data]="Managers"
                                                    [(ngModel)]="driver.uiEmployeeFor" [settings]="dropdownSettings">
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="toggle-2" title="Additional Informations">
                                <ng-template ngbPanelContent>
                                    <div class="form-row col-md-12 tab-pane">
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Nationality</label>
                                            <input type="text" class="form-control" [(ngModel)]="driver.nationality"
                                                placeholder="Nationality" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Address</label>
                                            <input type="text" class="form-control" [(ngModel)]="driver.address"
                                                placeholder="Address" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Emergency Contact</label>
                                            <input type="number" class="form-control"
                                                [(ngModel)]="driver.emergencyContact" placeholder="Emergency Contact" />
                                        </div>
                                        <!-- <div class="form-group col-md-6">
                                        <label class="col-form-label" for="inputDefault">CID/Passport Number</label>
                                        <input type="text" class="form-control" [(ngModel)]="driver.cIDPasswordNumber"  placeholder="CID/Passport Number" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="inputDefault">Drive For</label>
                                        <select class="form-control" [(ngModel)]="driver.driveFor">
                                            <option *ngFor="let key of keys" [value]="key" [label]="DriveFors[key]"></option>
                                        </select>
                                    </div> -->
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">&nbsp;</label>
                                            <div>
                                                <mat-slide-toggle color="primary"
                                                    [(ngModel)]="driver.isHavingChronicDiseases">Has Chronic Diseases
                                                </mat-slide-toggle>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6" *ngIf="driver.isHavingChronicDiseases">
                                            <label class="col-form-label" for="inputDefault">Chronic Diseases</label>
                                            <textarea class="form-control"
                                                [(ngModel)]="driver.chronicDiseases"> </textarea>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label" for="inputDefault">Comments</label>
                                            <textarea class="form-control" [(ngModel)]="driver.comments"></textarea>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="upload-image-wrapper">
                                                <span *ngIf="driver.image" class="btn-floating-tr text-danger"
                                                    (click)="removeImage()"><i class="fas fa-times"></i></span>
                                                <img class="img-lg"
                                                    [src]="driver.image!=null &&driver.image!='' ?createImgPath(driver.image): 'assets/images/JMS/upload.svg'"
                                                    alt="profile picture" />
                                            </div>
                                            <br />
                                            <app-upload [showDetails]="!!driver.image"
                                                (onUploadFinished)="uploadFinished($event)"></app-upload>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>