<div class="container">
    <div class="row form-row">
        <h2 class="page-title col-md-9"></h2>
        <a  class="btn btn-info page-add-new col-md-3" *ngIf="validateFeature(featureConst.payloadCreate)" data-toggle="modal" data-target="#modalContent" (click)="initModal()">
           <span class="page-add-new-text align-middle">Add Payload</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.payloadType?.name}} </td>
          </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                   <div class="row">
                    <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.payloadUpdate)" (click)="Update(element)" data-toggle="modal"  data-target="#modalContent">
                        <img src="assets/images/JMS/edit.svg">
                    </a>
                    <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.payloadDelete)" (click)="Delete(element)">
                        <img src="assets/images/JMS/delete.svg">
                    </a>
                    <mat-slide-toggle class="col-md-2" color="primary"
                     *ngIf="validateFeature(featureConst.payloadActivateDeactivate) && element.payloadType?.isActive"
                      (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive"></mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> {{payload.id>0? 'Update Payload': 'Add Payload'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="initList()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> Name <span class="required">*</span></label>
                       <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="payload.name"  placeholder="Name" />
                        <img class="input-group-prepend" *ngIf="payload.name=='' && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                       </div>
                       <div *ngIf="payload.name=='' && isSubmitted" class="input-error"> Name is required. </div>
                    </div>
                    <div class="form-group col-md-6" >
                        <label class="col-form-label"> Payload Type <span class="required">*</span></label>
                        <select class="form-control" [(ngModel)]="payload.payloadTypeId">
                            <option *ngFor="let item of PayloadTypes" value="{{item.id}}">{{item.name}}</option>
                        </select>
                        <img class="input-group-prepend" *ngIf="payload.payloadTypeId == null && isSubmitted" src="assets/images/JMS/input-error.svg"/>

                        <div *ngIf="payload.payloadTypeId == null && isSubmitted" class="input-error"> Payload Type is required. </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-form-label"> Details</label>
                        <textarea class="form-control" [(ngModel)]="payload.details" rows="3"></textarea>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="payload.isActive">Active</mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

