.tbl-background {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #f2f2f2;
}
:host ::ng-deep .dropdown-list {
    width: 200px !important;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    width: unset !important;
}
.select-item {
    width: 150px;
}

:host ::ng-deep .mat-sort-header-container {
    justify-content: center !important;
    margin-right: 50px;
}
