<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Journey-Management',id:4}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-8">Journey Approval Settings </h2>
        <a *ngIf="validateFeature(featureConst.journeyApprovalSettingCreate)" class="btn btn-info page-add-new col-md-4"
            (click)="Add()">
            <span class="page-add-new-text align-middle">Add Journey Approval Setting</span>
        </a>
    </div>
    <div class="row form-row">
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="riskType">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Risk Type </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    <div class="row form-row form-group col-md-12">
                        <label> &nbsp; </label>
                        <select class="form-control select-item" [(ngModel)]="element.riskType"
                            [disabled]="!element.isProcessing">
                            <option value="0">Low</option>
                            <option value="1">Medium</option>
                            <option value="2">High</option>
                        </select>
                    </div>
                    <div class="required" *ngIf="element.isSubmitted && element.riskType==null">Risk Type is required
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="drivingType">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Driving Type </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    <div class="row form-row form-group col-md-12">
                        <label> &nbsp; </label>
                        <select class="form-control select-item" [(ngModel)]="element.drivingType"
                            [disabled]="!element.isProcessing">
                            <option value="0">Morning Driving</option>
                            <option value="1">Night Driving</option>
                        </select>
                    </div>
                    <div class="required" *ngIf="element.isSubmitted && element.drivingType==null">Driving Type is
                        required</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="approvalRole">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Approval Role </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    <div class="row form-row form-group col-md-12">
                        <label> &nbsp; </label>
                        <ng-multiselect-dropdown [placeholder]="'Select Role(s)  ...'"
                            [disabled]="!element.isProcessing" [data]="Roles" [(ngModel)]="element.approvalRoles"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event,element,'approval')"
                            (onSelectAll)="onSelectAll($event,element,'approval')"
                            (onDeSelect)="onItemDeSelect($event,element,'approval')"
                            (onDeSelectAll)="onItemDeSelectAll($event,element,'approval')">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="required" *ngIf="element.isSubmitted && element.approvalRoles.length<=0">Approval Role
                        is required</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="notifyRole">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Notify Role </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    <div class="row form-row form-group col-md-12">
                        <label> &nbsp;</label>
                        <ng-multiselect-dropdown [placeholder]="'Select Role(s)  ...'"
                            [disabled]="!element.isProcessing" [data]="Roles" [(ngModel)]="element.notifyRoles"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event,element,'notify')"
                            (onSelectAll)="onSelectAll($event,element,'notify')"
                            (onDeSelect)="onItemDeSelect($event,element,'notify')"
                            (onDeSelectAll)="onItemDeSelectAll($event,element,'notify')">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="required" *ngIf="element.isSubmitted && element.notifyRoles.length<=0">Notify Role is
                        required</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class=" d-flex justify-content-between pl-2">
                        <div class="form-group">
                            <a class="cursor"
                                *ngIf="validateFeature(featureConst.journeyApprovalSettingUpdate) && !element.isProcessing"
                                (click)="Update(element)">
                                <img src="assets/images/JMS/edit.svg">
                            </a>
                            <a class="cursor" *ngIf="element.isProcessing" (click)="onSubmit(element)">
                                <img class="img-sm-md" src="assets/images/JMS/save.svg">
                            </a>
                            <a class="cursor" *ngIf="false" (click)="cancel(element)">
                                <img class="img-sm-md" src="assets/images/JMS/cancel.svg">
                            </a>
                            <a *ngIf="element.id>0 && validateFeature(featureConst.journeyApprovalSettingDelete)"
                                class="cursor pl-2" (click)="Delete(element)">
                                <img src="assets/images/JMS/delete.svg">
                            </a>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>