input {
    height: 2rem !important;
    border: 1px solid #d4c2c2 !important;
    padding-left: 7px !important;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box {
    /* padding: 10px;
      margin: 10Px;
      border-bottom: solid 1px #ccc; */
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    margin-bottom: 5px;
}
.question-border {
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
}
