<div class="form-row ">
    <div class="form-group col-md-6">
        <label class="col-form-label"> Assessment Name <span class="required-input">*</span></label>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="assessmentLocalization.name"
                placeholder="Assessment Name" required />
            <img class="input-group-prepend" *ngIf="assessmentLocalization.name==''  && isSubmitted"
                src="assets/images/JMS/input-error.svg" />
        </div>
        <div *ngIf="assessmentLocalization.name=='' && isSubmitted" class="input-error">Name is required</div>
    </div>
</div>
<div class="form-row ">
    <div class="form-group col-md-8">
        <span class="questition-header">Questions</span>
    </div>
    <div class="form-group col-md-4">
        <a class="cursor" *ngIf="assessmentLocalization.languageIsDefault" (click)="addQuestion()">
            <img src="assets/images/JMS/add-question.svg" />
            <span>&nbsp;</span>
            <span class="add-question">Add Question</span>
        </a>
    </div>
</div>

<div *ngIf="assessmentLocalization.assessmentQuestions.length>0" cdkDropList class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box cursor" cdkDrag
        *ngFor="let question of assessmentLocalization.assessmentQuestions; index as ii;">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="question-border">
            <div class="row">
                <div class="form-group col-md-1 question-drag-drop-box">
                    <img *ngIf="assessmentLocalization.languageIsDefault" class="question-drag-drop-icon" cdkDragHandle
                        src="assets/images/JMS/move.svg">
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control input-astrek" [(ngModel)]="question.name"
                            placeholder="Question Name *" />
                        <img class="input-group-prepend" *ngIf="question.name=='' && isSubmitted"
                            src="assets/images/JMS/input-error.svg" />
                    </div>
                    <div *ngIf="question.name=='' && isSubmitted" class="input-error">
                        Question is required</div>
                </div>
                <div class="col-md-5" *ngIf="assessmentLocalization.languageIsDefault">
                    <div class="form-group">
                        <select class="form-control" *ngIf="displayWays.length == 0">
                            <option>No answer type
                                available</option>
                        </select>

                        <select class="form-control" required [(ngModel)]="question.displayway"
                            *ngIf="displayWays.length > 0">
                            <option disabled selected value=null>Select Display Way
                                <span class="required-asteric">*</span>
                            </option>

                            <option *ngFor="let item of displayWays" value="{{item.id}}">{{item.name}}
                            </option>
                        </select>

                        <div *ngIf="question.displayway==null && isSubmitted" class="input-error">
                            Display Way is required
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-1">
                        <a (click)="browseAnswers(ii)" href="javascript:void(0);" class="img-sm-md cursor"
                            *ngIf="!question.isBrowsingAnswerType">
                            <img src="assets/images/JMS/show.svg" class="img-sm-md" />
                        </a>
                        <span>&nbsp; &nbsp;</span>
                        <a (click)="hideAnswers(ii)" href="javascript:void(0);" class="img-sm-md cursor"
                            *ngIf="question.isBrowsingAnswerType">
                            <img src="assets/images/JMS/hide.svg" class="img-sm-md" />
                        </a>
                    </div> -->
                </div>
                <div class="form-group col-md-2 d-flex justify-content-end"
                    *ngIf="assessmentLocalization.languageIsDefault">
                    <a (click)="deleteQuestion(ii)" href="javascript:void(0);">
                        <img src="assets/images/JMS/remove.svg">
                    </a>
                </div>

            </div>
            <div *ngIf="question.displayway == 1 || question.assessmentQuestionAnswers.length != 0" class="form-row">
                <div class="col-md-1">&nbsp;</div>
                <div class="form-group col-md-7">
                    <span class="questition-header">Answers</span>
                </div>
                <div class="form-group col-md-4">
                    <a class="cursor" *ngIf="assessmentLocalization.languageIsDefault" (click)="addAnswer(ii)">
                        <img src="assets/images/JMS/add-question.svg" />
                        <span>&nbsp;</span>
                        <span class="add-question">Add Answer</span>
                    </a>
                </div>
            </div>
            <div *ngFor="let answer of question.assessmentQuestionAnswers;let answerIndex = index" class="form-row">
                <div class="col-md-1">&nbsp;</div>
                <div class="form-group col-md-5 mr-2">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="answer.name" placeholder="Please enter answer *">
                        <img class="input-group-prepend" *ngIf="answer.name =='' && isSubmitted"
                            src="assets/images/JMS/input-error.svg" />
                    </div>
                    <div *ngIf="answer.name=='' && isSubmitted" class="input-error">
                        answer is required</div>
                </div>
                <div *ngIf="assessmentLocalization.languageIsDefault" class="form-group col-md-3">
                    <div class="input-group">
                        <input type="number" [(ngModel)]="answer.pointValue" placeholder="Points *">
                        <img class="input-group-prepend"
                            *ngIf="(!answer.pointValue && answer.pointValue !=0) && isSubmitted"
                            src="assets/images/JMS/input-error.svg" />
                    </div>
                    <div *ngIf="(!answer.pointValue && answer.pointValue !=0) && isSubmitted" class="input-error">
                        point is required</div>
                </div>
                <div *ngIf="assessmentLocalization.languageIsDefault"
                    class="form-group col-md-2 d-flex justify-content-end">
                    <a (click)="deleteAnswer(ii,answerIndex)" href="javascript:void(0);">
                        <img src="assets/images/JMS/remove.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- *ngIf="assessment.isPreTrip && assessmentCategory.isAllowAutoRiskManagement && assessmentLocalization.languageIsDefault" -->

<div class="form-row"
    *ngIf="assessmentLocalization.assessmentQuestions.length > 0 && assessmentLocalization.languageIsDefault && isAutomaticRisk">
    <div class="form-group col-md-12 mt-3">
        <span class="questition-header">
            Risk Assessment
        </span>
    </div>

    <div class="form-row col-md-12">
        <div class="form-row col-md-12" *ngFor="let risk of assessmentRisks">
            <div class="form-group col-md-3 pt-3">
                <img class="img-sm mt-2 ml-2"
                    [src]="risk.riskStatus== 0? 'assets/images/JMS/green.svg': risk.riskStatus== 1?'assets/images/JMS/yellow.svg':'assets/images/JMS/red.svg'" />
                <span>&nbsp;</span>
                <label class="col-form-label">
                    {{risk.riskStatus== 0? 'Low Risk': risk.riskStatus== 1?'Medium Risk':'High Risk' }}</label>
            </div>
            <div class="form-group col-md-3 pt-3">
                <mat-slide-toggle color="primary" [(ngModel)]="risk.isRange">Range
                </mat-slide-toggle>
            </div>
            <div [ngClass]="{'form-group col-md-6':!risk.isRange ,'form-group col-md-3':risk.isRange}">
                <input type="number" class="form-control" placeholder="{{risk.isRange? 'Start Value': 'Value'}}"
                    [(ngModel)]="risk.startValue" (change)="validateRiskValues()" />
            </div>
            <div class="form-group col-md-3" *ngIf="risk.isRange">
                <input type="number" class="form-control" placeholder="End Value" [(ngModel)]="risk.endValue"
                    (change)="validateRiskValues()" />
            </div>
        </div>
    </div>
</div>