<nav class="menuAndNotificationNav">
  <div class="mobileContainer d-flex justify-content-between align-items-center">
    <a href="javascript:void(0);" [attr.data-target]="sideNavElement" class="sidenav-trigger header-open-menu"
      *ngIf="currentUser">
      <img src="assets/images/JMS/open-menu.svg">
    </a>
    <div class="text-center w-100">
      <a routerLinkActive="active" routerLink="/">
        <!-- <img src="assets/images/logo.png" id="logo"> -->
        <img src="assets/images/tracking-logo.svg">
      </a>
    </div>
    <a class="cursor browseLanguage" href='#' *ngIf="currentUser && browsingLanguage!=null" data-toggle="modal"
      data-target="#modalLanguage">
      <img src="assets/images/JMS/language.svg" class="imageLang" alt="{{browsingLanguage.name}}" />
    </a>

    <a class="notification" *ngIf="currentUser && currentUser?.roles[0]?.userRoleType != userRoleEnum.Admin"
      (click)="navigateToNotifications()">
      <span>
        <img src="assets/images/JMS/notification.svg">
      </span>
      <span *ngIf="Notifications.length>0" class="badge">{{Notifications.length}}</span>
    </a>

  </div>
</nav>
<!--end navbar-->

<!--start aside menu-->
<aside id="slideout" name="slideout" class="sidenav">
  <div class="userInfo" *ngIf="currentUser!=null">
    <img
      [src]="currentUser.image!=null&& currentUser.image!=''? createImgPath(currentUser.image):'assets/images/JMS/user.svg'"
      class="slider-oval image">
    <a class="font-weight-bold clickable" (click)="openProfile()">
      <h3 class="user-name">{{currentUser.fullName}}</h3>
    </a>
    <div>
      <span *ngFor="let role of currentUser.roles; index as i;"> {{role.name}} &nbsp; &nbsp; </span>
    </div>
  </div>
  <ul>
    <li class="cursor" routerLinkActive="active" routerLink="/">
      <img class="slider-Icon" src="assets/images/JMS/home.svg">
      <span class='slider-text'>Home</span>
    </li>
    <li class="cursor" *ngIf="currentUser&& browsingLanguage!=null" data-toggle="modal" data-target="#modalLanguage">
      <img src="assets/images/JMS/language.svg" class="slider-img" />
      <span class='slider-text'> {{browsingLanguage.name}}</span>
    </li>
    <li class="cursor" *ngIf="currentUser" (click)="logout()">
      <img class="slider-Icon" src="assets/images/JMS/logout.svg">
      <span class='slider-text'>Logout</span>
    </li>
  </ul>
</aside>
<!--end aside menu-->

<div class="modal fade" id="modalLanguage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Default Browsing Languge</h5>
        <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="form-group">
          <label id="example-radio-group-label">Select Language: </label>
          <mat-radio-group ria-labelledby="example-radio-group-label" class="example-radio-group vertical"
            [(ngModel)]="browsingLanguageId">
            <mat-radio-button class="example-radio-button" *ngFor="let lang of BrowsingLanguages" [value]="lang.id">
              {{lang.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="sumbitToInitiate" (click)="changeBrowsingLanguage()">Submit</button>
      </div>
    </div>
  </div>
</div>