.image {
  width: 71px;
  height: 71px;
  object-fit: contain;
  border-radius: 50%;
}

.imageLang {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2px;
  background-color: #0056b3;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.slider-text {
  width: 53px;
  height: 24px;
  font-family: SFProDisplay;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.slider-Icon {
  width: 13px;
  height: 20px;
  object-fit: contain;
}

.slider-img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0056b3;
}

.slider-oval {
  width: 113px;
  height: 118px;
  background-color: #ffffff;
}

.header-notification {
  width: 20px;
  height: 23.8px;
  object-fit: contain;
}

.header-language {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.header-open-menu {
  width: 26px;
  height: 18px;
  object-fit: contain;
}

.clickable {
  cursor: pointer;
}

.sidenav .userInfo a {
  color: #007bff;
  background-color: transparent;
}

.sidenav .userInfo a:hover {
  color: #0056b3;
}

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}

.notification .badge {
  position: absolute;
  top: -20px;
  right: -24px;
  border-radius: 50px;
  background: red;
  color: white;
  min-width: 2.5em;
  margin-left: 0px;
}

#logo {
  width: 64px;
  height: 64px;
}
.user-name {
  color: #2a4e6f;
  font-weight: 700;
}
