<div class="container">
  <section id="viewuserProfile">
    <div id="userProfile" class="">
      <h2></h2>
      <div class=" firstDiv">
        <div class="form-row">
          <div class="col-md-7 Admin--Profile">
            <p>Admin Profile</p>
          </div>
          <div class="text-justify Rectangle-Copy col-md-2 mr-2">
            <a [routerLink]="['/admin/profile/edit']" class="Edit">Edit</a>
          </div>
          <div class="text-justify Rectangle-Copy col-md-2">
            <a (click)="openChangePasswordModal()" class="Edit">Change Password</a>
          </div>
        </div>
      </div>

      <app-profile-image [profileImg]="profile?.image"></app-profile-image>

      <div class="Rectangle-Copy-3">
        <div class="cpoy3padding">
          <form id="profileFrm" name="profileFrm">
            <div class="form-row">
              <div class="col-md-6 col-sm-12 form-group">
                <label class="label-text">Full Name <span class="required-input">*</span></label>
                <input type="text" name="name" id="name" class="form-control col Rectangle-Copy-12"
                  [(ngModel)]="profile.fullName" readonly>
              </div>
              <div class="col-md-6 col-sm-12 form-group">
                <label class="label-text">User Name</label>
                <input type="text" name="userName" id="userName" class="form-control col Rectangle-Copy-12"
                  [(ngModel)]="profile.username" readonly>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 col-sm-12 form-group">
                <label class="label-text">Email</label>
                <input type="text" name="email" id="email" class="form-control col Rectangle-Copy-12"
                  [(ngModel)]="profile.email" readonly>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
</div>