<mat-card class="card">
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
            Journey ID: {{journey.journeyId}}
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            Creation Date/Time: {{journey.creationDate | date:'medium'}}
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            Delivery Date/Time: {{journey.deliveryDate | date:'medium'}}
        </div>

        <div class="col-md-2 col-sm-12 col-xs-12">
            Totol journey time: {{journey.drivingHours}}
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
            <button mat-stroked-button color="primary"
                (click)="openTimelineJourneyModal(journey.journeyId)">View</button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr class="bg-light">
                <th scope="col">Department</th>
                <th scope="col">Driver name</th>
                <th scope="col">Vehicle no</th>
                <th scope="col">Departure location</th>
                <th scope="col">Destination location</th>
                <th scope="col">Status</th>
                <th scope="col">Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{journey.department}}</th>
                <td>{{journey.driverName}}</td>
                <td>{{journey.vehicleNo}}</td>
                <td>{{journey.fromLocation}}</td>
                <td>{{journey.toLocation}}</td>
                <td>{{journey.status}}</td>
                <td>{{journey.reason}}</td>
            </tr>
        </tbody>
    </table>
</mat-card>