<h2 mat-dialog-title>
    <div class="d-flex justify-content-between align-items-center mb-3 border-bottom">
        <h4 class="text-right"> change Password</h4>
        <hr>
    </div>
</h2>

<mat-dialog-content>
    <form [formGroup]="changePsswordForm">
        <div class="form-group row">
            <div class="col-4 d-flex align-items-center">
                <label>Old Password</label>
            </div>
            <div class="col-8 ">
                <input type="password" formControlName="oldPassword" class="form-control pass-input"
                    [ngClass]="{ 'is-invalid': f.oldPassword.invalid && (f.oldPassword.touched || f.oldPassword.dirty) }" />
                <div *ngIf=" f.oldPassword.errors && (isSubmitted || (f.oldPassword.touched || f.oldPassword.dirty))"
                    class="text-danger">
                    <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row ">
            <label class="col-4 d-flex align-items-center">New Password</label>
            <div class="col-8 ">
                <input type="password" formControlName="newPassword" class="form-control pass-input"
                    [ngClass]="{ 'is-invalid':  f.newPassword.invalid && (f.newPassword.touched || f.newPassword.dirty)}" />
                <div *ngIf=" f.newPassword.errors && (isSubmitted || (f.newPassword.touched || f.newPassword.dirty))"
                    class="text-danger">
                    <div *ngIf="f.newPassword.errors.required">New password is required</div>
                    <div *ngIf="f.newPassword.errors.minlength">New Password must be at least 6 characters</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 d-flex align-items-center">Confirm Password</label>
            <div class="col-8 ">
                <input type="password" formControlName="confirmPassword" class="form-control pass-input"
                    [ngClass]="{ 'is-invalid':  f.confirmPassword.errors && (f.confirmPassword.touched || f.confirmPassword.dirty)}" />
                <div *ngIf=" f.confirmPassword.errors && (isSubmitted || (f.confirmPassword.touched || f.confirmPassword.dirty))"
                    class="text-danger">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
        </div>
    </form>

</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end mb-2">
    <button class=" btn btn-primary mr-3" type="button" (click)="save()">Submit</button>
    <button class=" btn  mr-3" type="button" (click)="close()">Cancel</button>
</mat-dialog-actions>