.firstDiv{
    padding-left: 34px;
    padding-right: 34px;
    margin: 29px;
  }
  .Admin--Profile {
    width: 111px;
    height: 21px;
    font-family: SFProDisplay;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Rectangle-Copy-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px #d0021b;
    background-color: #ffffff;
  }
  .Rectangle-Copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 34px;
    border-radius: 6px;
    background-color: #673bb7;
  }
  .btns{
    padding: 11px;
    margin: 5px;
  }
  .Save {
    width: 30px;
    height: 16px;
    font-family: SFProDisplay-Medium;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
  }
  .Cancel {
    width: 43px;
    height: 16px;
    font-family: SFProDisplay-Medium;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d0021b !important;
  }
  
  .Oval-Copy {
    width: 150px;
    height: 150px;
    background-color: #4a90e2;
  }
  .Path {
    width: 94px;
    height: 33px;
    background-color: #ffffff;
  }
  .Combined-Shape {
    width: 133.7px;
    height: 41px;
    opacity: 0.73;
    background-color: #ffffff;
  }
  .Rectangle-Copy-3 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .Rectangle-Copy-2 {
    width: 107px;
    height: 34px;
    border-radius: 6px;
    border: solid 1px #d0021b;
    background-color: #ffffff;
  }
  .cpoy3padding{
    margin: 41px 40px;
    padding: 15px 18px 34px 10px;
  }
  .Full-Name- {
    width: 77px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Full-Name- .text-style-1 {
    color: #d0021b;
  }
  
  .Email {
    width: 37px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Confirm-Password {
    width: 122px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .User-Name {
    width: 76px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Password- {
    width: 75px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .Password- .text-style-1 {
    color: #d0021b;
  }
  
  .Rectangle-Copy-9 {
    width: 445px;
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  input.Rectangle-Copy-12 {
    width: 405px;
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  .Rectangle-Copy-11 {
    width: 445px;
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  .Rectangle-Copy-33 {
    width: 445px;
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }
  .field{
  
    padding: 10px;
  
  }
  .text-justify {
    text-align: center!important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .clickable {
    cursor: pointer;
  }
  .label-text {
    height: 19px;
    margin-bottom: 10px;
    margin-left: 10px;
    opacity: 0.4;
    font-family: SFProDisplay-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
  }
  .label-text .required-input {
    color: #d0021b;
  }
  input {
    font-family: SFProDisplay-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
    padding-left: 10px !important;
  }
  .disabled{
    opacity: 0.3;
    cursor: not-allowed;
  }
  