<div class="container">

    <section id="editprofileSection">
        <div id="profilePage" class="Rectangle">
            <div id="firstDiv" name="firstDiv" class="firstDiv row form-row col-md-12">
                <div class="col col-md-8 Admin--Profile">
                    <p>Manager Profile</p>
                </div>

                <div class=" form-row  col-md-4 ">
                    <div class="Rectangle-Copy-2 btns clickable text-justify ">
                        <a class="Cancel" (click)="cancel()">Cancel</a>
                    </div>
                    <div class="Rectangle-Copy btns clickable  text-justify">
                        <a class="Save" (click)="save()" [ngClass]="{'disabled': form.invalid}"
                            [matTooltipDisabled]="form.valid" matTooltip="fill the required data">Save</a>
                    </div>
                </div>
            </div>

            <app-profile-image [profileImg]="profile?.data?.image"></app-profile-image>

            <div id="thirdDiv" name="thirdDiv" class="Rectangle-Copy-3">
                <div class="cpoy3padding">
                    <form id="profileFrm" name="profileFrm" [formGroup]="form">

                        <div class="form-row">
                            <div class=" col-md-6 col-sm-12 form-group ">
                                <label class="label-text" for="fullName">Full Name <span
                                        class="required-input">*</span></label>
                                <input type="text" class="form-control col Rectangle-Copy-12 " name="fullName"
                                    Id="fullName" formControlName="fullName"
                                    [ngClass]="{'is-invalid':f.fullName.invalid && (f.fullName || f.fullName.touched) }"
                                    required>
                                <div *ngIf="f.fullName.invalid && (f.fullName.dirty || f.fullName.touched)"
                                    class="help-block text-danger">
                                    <div *ngIf="f.fullName.errors?.required">Full Name is required</div>
                                </div>
                            </div>
                            <div class=" col-md-6 col-sm-12 form-group">
                                <label for="name" class="label-text">User Name</label>
                                <input type="text" name="name" id="name" class="form-control col Rectangle-Copy-12"
                                    formControlName="userName">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class=" col-md-6 col-sm-12 form-group ">
                                <label for="email" class="label-text">Email</label>
                                <input type="text" id="email" name="email" class="form-control col Rectangle-Copy-12"
                                    formControlName="email">
                            </div>
                            <div class=" col-md-6 col-sm-12 form-group">
                                <label for="phoneNumber" class="label-text">Phone Number</label>
                                <input type="text" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber"
                                    class="form-control col Rectangle-Copy-12">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class=" col-md-6 col-sm-12 form-group ">
                                <label for="emergencyContact" class="label-text">Emergency Contact
                                </label>
                                <input type="text" id="emergencyContact" name="emergencyContact"
                                    formControlName="emergencyContact" class="form-control col Rectangle-Copy-12">
                            </div>
                            <div class=" col-md-6 col-sm-12 form-group">
                                <label for="address" class="label-text">Address</label>
                                <input type="text" name="address" id="address"
                                    class="form-control col Rectangle-Copy-12" formControlName="address">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class=" col-md-6 col-sm-12 form-group ">
                                <label for="nationality" class="label-text">Nationality</label>
                                <input type="text" id="nationality" name="nationality" formControlName="nationality"
                                    class="form-control col Rectangle-Copy-12">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>