@import "./../../../shared/scss/variables";

.action-btns {
    display: flex;
    justify-content: space-around;
    float: right;
    margin-bottom: 5px;
    padding: 0;
    button {
        margin-left: 20px;
        width: 141px;
        height: 48px;
        font-family: SFProDisplay-Regular;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
}
.cancel-btn {
    color: $red-color;
    background-color: $white-color;
}
.submit-btn {
    color: $white-color;
    background-color: $green-color;
}
.line {
    flex: 1;
    width: 716px;
    height: 1px;
    background-color: #d8d8d8;
}
.unmerge-text {
    font-family: SFProDisplay-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black-color;
}
