<h1 mat-dialog-title>Unmerge Journeys</h1>
<div class="line" class="mb-4">
    <mat-divider></mat-divider>
</div>

<div mat-dialog-content class="unmerge-text">
    <p>Are you sure to unmerge journeys ?</p>
</div>

<!-- dialog actions -->
<mat-dialog-actions class="action-btns">
    <button class="mat-raised-button submit-btn" (click)="unmerge()">Unmerge</button>
    <button class="mat-raised-button cancel-btn " (click)="close()">Cancel</button>
</mat-dialog-actions>
<!-- end dialog actions -->