<div class="Rectangle">

    <!-- actions -->
    <div class="row mt-3 p-sm-2 p-xs-2">
        <h4 class="col pl-2">
            View Journey
        </h4>

        <div class="pr-0 col d-flex justify-content-end">
            <ng-container>
                <button mat-flat-button color="primary" (click)="cancel()" class="ml-1 mr-1 cancel-btn">
                    Back
                </button>
            </ng-container>

            <ng-container>
                <button mat-flat-button color="primary" (click)="onSubmit()" class="ml-1 mr-1 save-btn"
                    [disabled]="!valuesChanged"
                    *ngIf="journeyForm['currentUserPermission']?.isAllowedToSelectDriverAndVehicle || journeyForm['currentUserPermission']?.isAllowedToSelectDriver || journeyForm['currentUserPermission']?.isAllowedToChangeDriver || journeyForm['currentUserPermission']?.isAllowedToChangeVehicle || journeyForm['currentUserPermission']?.isAllowedToRescheduleTheJourney || journeyForm['currentUserPermission']?.isAllowedToSelectVehicle">
                    Save
                </button>
            </ng-container>

            <ng-container>
                <button
                    *ngIf="journeyForm['currentUserPermission']?.isAllowedToApprovePreAssessment || journeyForm['currentUserPermission']?.isAllowedToApproveCheckpointAssessment"
                    mat-flat-button color="primary" (click)="approveJourney()" class="ml-1 mr-1 approve-btn">
                    Approve
                </button>
            </ng-container>

            <ng-container>
                <button
                    *ngIf="journeyForm['currentUserPermission']?.isAllowedToRejectPreAssessment || journeyForm['currentUserPermission']?.isAllowedToRejectCheckpointAssessment"
                    mat-flat-button color="primary" (click)="openJourneyActionsModal()" class="ml-1 mr-1 cancel-btn">
                    Reject
                </button>
            </ng-container>

            <!-- <ng-container>
                <button *ngIf="showActionsButton" mat-flat-button color="primary" (click)="openJourneyActionsModal()"
                    class="ml-1 mr-1 save-btn">
                    Actions
                </button>
            </ng-container> -->

            <ng-container>
                <button *ngIf="journeyForm['currentUserPermission']?.isAllowedToCloseJourney" mat-flat-button
                    color="primary" (click)="closeJourney()" class="mr-1">
                    Close Journey
                </button>
            </ng-container>
        </div>
    </div>

    <div *ngIf="journeyForm.journeyStatus" class="row">
        <p class="col-md-5 pl-4 h5"><strong class="pr-2">ID:</strong>#{{journeyForm.id}}</p>
        <p class="col-md-7 pl-3 h5"><strong class="pr-2">Status:</strong>{{journeyForm.journeyStatus.statusName}}
        </p>
    </div>

    <div class="Rectangle-Copy-3 d-flex">
        <div class="tab d-flex" [class.active]="tab == 1" (click)="tab = 1">
            <span>
                Details
            </span>
        </div>
        <div class="tab d-flex" [class.active]="tab == 2" (click)="tab = 2">
            <span>
                Cargo
            </span>
        </div>
        <div class="tab d-flex" [class.active]="tab == 3" (click)="tab = 3">
            <span>
                Assessment
            </span>
        </div>

        <div class="tab d-flex" [class.active]="tab == 4" (click)="tab = 4">
            <span>
                Assessments Answers
            </span>
        </div>
    </div>

    <div [ngSwitch]="tab">
        <ng-container *ngSwitchCase="1">
            <section class="container no-margin no-padding">
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Title <span class="star">*</span></label>
                        <input type="text" class="form-control" placeholder="Title *" name="title"
                            [ngModel]="journeyForm.title" [disabled]="true">
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Request type <span class="star">*</span></label>
                        <select type="text" class="form-control" [disabled]="true">
                            <option>{{journeyForm.requestType?.name}}</option>
                        </select>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Department <span class="star">*</span></label>
                        <select class="form-control" [disabled]="true">
                            <option>{{journeyForm?.department?.name}}</option>
                        </select>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Delivery date <span class="star">*</span></label>
                        <input type="text" placeholder="Delivery Date*" class="form-control"
                            onfocus="(this.type='datetime-local')" id="date" required #deliveryDate="ngModel"
                            name="deliveryDate" required [(ngModel)]="journeyForm.deliveryDate"
                            [disabled]="!journeyForm['currentUserPermission']?.isAllowedToRescheduleTheJourney"
                            (change)="onChangeDate($event)">

                        <mat-error *ngIf="deliveryDate.invalid  &&  (deliveryDate.dirty || deliveryDate.touched)">
                            Please Select Delivery Date
                        </mat-error>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Emergency Contact</label>
                        <input type="text" class="form-control" placeholder="Emergency Contact" name="emergencyContact"
                            [(ngModel)]="journeyForm.emergencyContact" [disabled]="true">
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Purpose</label>
                        <input type="text" class="form-control" placeholder="Purpose" name="purpose"
                            [(ngModel)]="journeyForm.purpose" [disabled]="true">
                    </div>

                    <!-- From Distination -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Location from <span class="star">*</span></label>
                        <input type="text" class="form-control" placeholder="Journey From*" [value]="origin?.title"
                            [disabled]="true">
                    </div>

                    <!-- To Distination -->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Location to <span class="star">*</span></label>
                        <input type="text" class="form-control" placeholder="Journey To*" [value]="destination?.title"
                            [disabled]="true">
                    </div>

                </div>
            </section>

            <!-- Map -->
            <section class="initiateJourneyMap mb-2">
                <agm-map [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="6" class="map"
                    (mapReady)="onMapReady($event)">
                    <agm-direction *ngIf="origin && destination" [origin]="origin" [destination]="destination"
                        [waypoints]="waypoints" [renderOptions]="renderOptions" [optimizeWaypoints]="optimizeWaypoints">
                    </agm-direction>
                </agm-map>
            </section>

            <!-- checkPoints -->
            <section class=" checkpoints" *ngIf="journeyForm.checkPoints?.length > 0">
                <div class="d-flex justify-content-between align-items-baseline">
                    <h4 class="Checkpoints mb-2">
                        Checkpoints
                    </h4>
                </div>

                <div class="overflow-auto mt-2">
                    <table>
                        <tr *ngFor="let point of journeyForm.checkPoints; let i = index">
                            <td class="text-center">
                                <img id="u5169_img" class="img" src="assets/images/icons/ic_arrows.svg">
                            </td>

                            <td style="width: 45%">
                                <div class="with-icon d-flex">
                                    <select class="form-control ml-1 mr-3" [disabled]="true">
                                        <option *ngIf="point?.isMapLocation">
                                            {{point.fromLocation}}
                                        </option>

                                        <option *ngIf="!point?.isMapLocation">
                                            {{point.zone.latitude != 0 && point.zone.longitude != 0 ? point.zone.name :
                                            point.location.name}}
                                        </option>
                                    </select>

                                    <img src="assets/images/icons/location.svg">
                                </div>
                            </td>

                            <td>
                                <div class="eta">
                                    <span>ETA</span>
                                    <select class="form-control" [disabled]="true">
                                        <option>{{point.eta}}</option>
                                    </select>
                                </div>
                            </td>

                            <td>
                                <mat-checkbox name="haveCargo{{i}}" [disabled]="true" [(ngModel)]="point.haveCargo"
                                    class="example-margin pt-3"><span class="mx-15">Have Cargo</span></mat-checkbox>
                            </td>

                            <td class="mx-auto"
                                *ngIf="!point.isChekedIn && journeyForm['currentUserPermission']?.isAllowedToCheckinOnCheckpoint">
                                <button mat-flat-button color="primary" class="check-in"
                                    (click)="checkInJourney(point.id)">Check In</button>
                            </td>

                            <td class="mx-auto completed" *ngIf="point.isChekedIn">
                                Completed
                            </td>

                        </tr>

                    </table>
                </div>
            </section>

            <!-- Company Vehicle -->
            <section class="details">

                <div class="row">

                    <div class="col-md-6">
                        <mat-label class="font-weight-bold">Company Vehicle <mat-hint class="star">*</mat-hint>
                        </mat-label>
                        <mat-radio-group name="isCompanyVehicle" class="d-flex justify-content-between options mt-2"
                            [disabled]="true">
                            <mat-radio-button value="true" [checked]="journeyForm.isCompanyVehicle"><span>Yes</span>
                            </mat-radio-button>

                            <mat-radio-button value="false" [checked]="!journeyForm.isCompanyVehicle">
                                <span>No</span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-md-6">
                        <mat-label class="font-weight-bold">Is Night Drivinge</mat-label>
                        <mat-radio-group name="isNight" [(ngModel)]="journeyForm.isNight"
                            class="d-flex justify-content-between options mt-2" [disabled]="true">
                            <mat-radio-button [value]="true" name="isNight"><span>Yes</span></mat-radio-button>
                            <mat-radio-button [value]="false" name="isNight" [checked]="!journeyForm.isNight">
                                <span>No</span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-md-6 mt-2">
                        <mat-label>Vehicle Type <mat-hint class="star">*</mat-hint>
                        </mat-label>
                        <select class="form-control" name="vehicleTypeId" [ngModel]="journeyForm?.vehicleTypeId"
                            [disabled]="true" (change)="onSelectVehicleType($event.target.value)">
                            <ng-container *ngFor="let vehicle of vehicleTypes">
                                <option [value]="vehicle.vehicleId">{{vehicle.vehicleName}}</option>
                            </ng-container>
                        </select>
                    </div>

                    <div class="col-md-6 mt-2">
                        <mat-label>Driver <mat-hint class="star">*</mat-hint>
                        </mat-label>
                        <mat-select [placeholder]="'Select driver'" class="form-control pt-2 pr-0" name="drivers"
                            [(ngModel)]="journeyForm.drivers" (selectionChange)="onSelectDrivers($event)"
                            [disabled]="!(journeyForm['currentUserPermission']?.isAllowedToChangeDriver || journeyForm['currentUserPermission']?.isAllowedToSelectDriverAndVehicle)"
                            [compareWith]="compareDriversFn">
                            <mat-option *ngFor="let driver of drivers" [value]="driver">
                                {{driver.driverName}}
                            </mat-option>
                        </mat-select>
                    </div>

                    <div class="col-md-6 mt-2">
                        <mat-label>Vehicle plate no <mat-hint class="star">*</mat-hint>
                        </mat-label>
                        <mat-select [placeholder]="'Select vehicle plate no'" class="form-control pr-0"
                            style="padding-top: 10px;width: 96%;" name="vehicles" [(ngModel)]="journeyForm.vehicles"
                            (selectionChange)="onSelectVehicles($event)" [compareWith]="compareVehiclesFn"
                            [disabled]="!(journeyForm['currentUserPermission']?.isAllowedToSelectDriverAndVehicle || journeyForm['currentUserPermission']?.isAllowedToChangeVehicle || journeyForm['currentUserPermission']?.isAllowedToSelectVehicle)">
                            <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
                                {{vehicle.vehicleName}}
                            </mat-option>
                        </mat-select>
                    </div>

                    <div class="col-md-6 mt-2">
                        <mat-label class="font-weight-bold">Priority Degree</mat-label>
                        <mat-radio-group name="priorityDegree" [disabled]="true" [ngModel]="journeyForm.priorityDegree"
                            class="d-flex justify-content-between options mt-3">
                            <mat-radio-button [value]="0" name="priorityDegree"
                                [checked]="journeyForm.priorityDegree == 0">
                                <span>Low</span>
                            </mat-radio-button>

                            <mat-radio-button [value]="1" name="priorityDegree"
                                [checked]="journeyForm.priorityDegree == 1">
                                <span>Medium</span>
                            </mat-radio-button>

                            <mat-radio-button [value]="2" name="priorityDegree"
                                [checked]="journeyForm.priorityDegree == 2">
                                <span>High</span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

            </section>
        </ng-container>

        <!-- cargoes -->
        <ng-container *ngSwitchCase="2">
            <div class="d-flex justify-content-between align-items-baseline Assessment-header">
                <h4>
                    Cargo Details
                </h4>
            </div>

            <section class="checkpoints" *ngFor="let cargo of journeyForm.cargoes; let icargo = index">
                <div class="d-flex justify-content-between align-items-baseline">

                    <div class="d-flex align-items-baseline flex-column flex-sm-row">
                        <h4>Payload Type <span class="star">*</span></h4>
                        <ng-container *ngFor="let PayloadType of cargo.payloadTypes">
                            <mat-checkbox [checked]="cargo.payloadTypes?.includes(PayloadType)" [disabled]="true">
                                <span>{{PayloadType.payloadTypeName}}</span>
                            </mat-checkbox>
                        </ng-container>
                    </div>
                </div>

                <!-- Journey Trucks -->
                <div class="overflow-auto" *ngIf="cargo.journeyTrucks?.length > 0">
                    <div class="d-flex align-items-baseline flex-column flex-sm-row"
                        *ngFor="let journeyTruck of cargo.journeyTrucks">
                        <select class="form-control" name="payloadId" [ngModel]="journeyTruck.payloadId"
                            [disabled]="true">
                            <ng-container *ngFor="let payLoad of payLoads">
                                <option [value]=payLoad.id>{{payLoad.name}}</option>
                            </ng-container>
                        </select>

                        <div class="m-1"></div>

                        <input type="text" class="form-control" placeholder="Weight" name="weight"
                            [ngModel]="journeyTruck.weight" [disabled]="true">
                    </div>
                </div>

                <!-- Journey Passengers -->
                <div class="overflow-auto mt-3" *ngIf="cargo.journeyPassengers?.length > 0">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <h4 class="Checkpoints">
                            Passengers details
                        </h4>
                    </div>

                    <table class="table mt-2">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Contact No</th>
                            </tr>

                            <tr *ngFor="let journeyPassenger of cargo.journeyPassengers">
                                <td>
                                    {{ journeyPassenger.fullName }}
                                </td>
                                <td>
                                    {{ journeyPassenger.contactNumber }}
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </section>
        </ng-container>

        <ng-container *ngSwitchCase="3">

            <div class="d-flex justify-content-between align-items-baseline Assessment-header mb-0">
                <p>
                    Assessment
                </p>
            </div>

            <!-- Journey Assessments -->
            <div class="overflow-auto" *ngIf="journeyForm.journeyAssessments?.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Timing</th>
                            <th>Category</th>
                            <th>Assessment Name</th>
                        </tr>
                        <tr *ngFor="let journeyAssessment of journeyForm.journeyAssessments; let i = index">
                            <td>
                                <select class="form-control" name="assessmentTiming"
                                    [value]="journeyAssessment.assessmentTiming" [disabled]="true">
                                    <option value=0>PreTrip</option>
                                    <option value=1>CheckPoint</option>
                                    <option value=2>AddingCargo</option>
                                    <option value=3>PostTrip</option>
                                </select>
                            </td>

                            <td>
                                <select class="form-control" [disabled]="true">
                                    <option>{{journeyAssessment.assessmentCategoryName}}</option>
                                </select>
                            </td>

                            <td>
                                <select class="form-control" [disabled]="true">
                                    <option>{{journeyAssessment.assessmentName}}</option>
                                </select>
                            </td>

                        </tr>
                    </thead>
                </table>
            </div>

            <app-communication-points
                *ngIf="journeyForm['currentUserPermission']?.isAllowedToAddUpdateCommunicationPoint"
                [points]="journeyForm['journeyCommunicationPoints']" [journeyId]="journeyId"
                [isAllowedToAddUpdateCommunicationPoint]="journeyForm['currentUserPermission']?.isAllowedToAddUpdateCommunicationPoint">
            </app-communication-points>
        </ng-container>

        <ng-container *ngSwitchCase="4">
            <app-assessment-answers [journeyId]="journeyId" (onGetAnswersIds)="answersIds = $event">
            </app-assessment-answers>
        </ng-container>
    </div>

</div>