.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0;
    li {
        width: 34px;
        height: 32px;
        padding: 5px;
        text-align: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
        background-color: #ffffff;
        color: #000000 !important;
        cursor: pointer;
        &.active {
            background-color: #4a90e2;
            color: #ffffff !important;
        }
    }
}
.dots {
    opacity: 0.29;
    background-color: #d8d8d8;
}
.fas {
    width: 13px;
    height: 7px;
    color: #393085;
}
.disabled {
    color: #d8d8d8;
    background-color: #fff;
    opacity: 0.2;
}
