<div *ngIf="totalPages > 1">
    <ul class="flex-container">
        <li>
            <a href="javascript:;" (click)="changePage(currentPage-1)" [ngClass]="{'disabled': currentPage === 1}">
                <i class="fas fa-chevron-left"></i> </a>
        </li>
        <li [ngClass]="{'active': currentPage === 1}" (click)="changePage(1)">
            {{1}}
        </li>
        <li *ngIf="isShowStartDots()" class="dots">
          <a href="javascript:;">...</a>
        </li>
        <li class="" *ngFor="let pageNumber of ' '.repeat(totalPages-2).split(''); let i = index"
            [ngClass]="{'active': currentPage === i+2}" (click)="changePage(i+2)"
            [hidden]="!isNearToCurrentPage(i+2)">
            {{(i+2) }}
        </li>
        <li *ngIf="isShowEndDots()" class="dots">
          <a href="javascript:;">...</a>
        </li>
        <li [ngClass]="{'active': currentPage === totalPages}" (click)="changePage(totalPages)">
            {{totalPages}}
        </li>
        <li>
            <a href="javascript:;" (click)="changePage(currentPage+1)" [ngClass]="{'disabled':currentPage==totalPages}">
                <i class="fas fa-chevron-right"></i> </a>
        </li>
    </ul>
</div>







<!-- <div class="d-flex justify-content-center align-items-center">
    <ul>
      <li>
        <a href="javascript:;" (click)="changePage(currentPage-1)" [ngClass]="{'disabled': currentPage==1}">
          <i class="icon-chevron-left"></i>
        </a>
      </li>
      <li>
        <a href="javascript:;" (click)="changePage(1)" [ngClass]="{'active': currentPage === 1}">{{1 }}</a>
      </li>
      <li>
        <a href="javascript:;" *ngIf="isShowStartDots()">...</a>
      </li>
      <li *ngFor="let pageNumber of ' '.repeat(totalPages-2).split(''); let i = index"
        [hidden]="!isNearToCurrentPage(i+2)">
        <a href="javascript:;" (click)="changePage(i+2)"
          [ngClass]="{'active': currentPage === i+2}">{{(i+2) }}</a>
      </li>
      <li>
        <a href="javascript:;" *ngIf="isShowEndDots()">...</a>
      </li>
      <li>
        <a href="javascript:;" (click)="changePage(totalPages)"
          [ngClass]="{'active': currentPage === totalPages}">{{totalPages}}</a>
      </li>
      <li>
        <a href="javascript:;" (click)="changePage(currentPage+1)" [ngClass]="{'disabled':currentPage==totalPages}">
          <i class="icon-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div> -->