<div class="container">
    <div class="row form-row">
        <h2 class="page-title col-md-9"></h2>
        <a  class="btn btn-info page-add-new col-md-3" *ngIf="validateFeature(featureConst.vehicleTypeCreate)" data-toggle="modal" data-target="#modalContent" (click)="initModal()">
           <span class="page-add-new-text align-middle">Add Vehicle Type</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                   <div class="row">
                    <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.vehicleTypeUpdate)" (click)="Update(element)" data-toggle="modal"  data-target="#modalContent">
                        <img src="assets/images/JMS/edit.svg">
                    </a>
                    <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.vehicleTypeDelete)" (click)="Delete(element)">
                        <img src="assets/images/JMS/delete.svg">
                    </a>
                    <mat-slide-toggle class="col-md-2" color="primary" *ngIf="validateFeature(featureConst.vehicleTypeActivateDeactivate)"   (click)="ActivateOrDeactivate($event,element)"  [(ngModel)]="element.isActive"></mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"  style="z-index: -1;" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> {{vehicleType.id>0? 'Update Vehicle Type': 'Add Vehicle Type'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="initList()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row" >
                    <div class="form-group col-md-12">
                        <label class="col-form-label"> Name <span class="required">*</span></label>
                       <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="vehicleType.name"  placeholder="Name" />
                        <img class="input-group-prepend" *ngIf="vehicleType.name=='' && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                       </div>
                       <div *ngIf="vehicleType.name=='' && isSubmitted" class="input-error"> Name is required. </div>
                    </div>


                    <div class="form-group col-md-12" >
                      <div [hidden]="true">


                        <label class="col-form-label"> Require <span class="required"></span></label>
                         <div>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1" [checked]="selectedRadio==1" name="selectedRadio" (click)="setradio(1)">Specific Times</mat-radio-button>
                            <mat-radio-button value="2" [checked]="selectedRadio==2" (click)="setradio(2)">Specific Routes</mat-radio-button>
                            <mat-radio-button value="3"[checked]="selectedRadio==3" (click)="setradio(3)">Both</mat-radio-button>
                          </mat-radio-group>
                          <div style="margin-top: 10px;"></div>
                                        <!--Time-->
                          <div *ngIf="selectedRadio== 1" >

                            <div class="row form-row" *ngFor="let time of times; let i = index;">
                                <label class="col-form-label"> Time <span class="required"></span></label>

                                <div class="form-group col-md-4">
                                   <div class="input-group">
                                    <input type="time" class="form-control" [(ngModel)]="time.FromTime"  pattern="[0-9]{2}:[0-9]{2}" placeholder="Time From" />
                                    <img class="input-group-prepend" *ngIf="time.FromTime ==null && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                                   </div>

                                   <div *ngIf="time.FromTime ==null && isSubmitted" class="input-error"> Time From is required. </div>

                                </div>
                                <div class="form-group col-md-4">
                                    <div class="input-group">
                                     <input type="time" class="form-control" [(ngModel)]="time.ToTime"  pattern="[0-9]{2}:[0-9]{2}" placeholder="Time From" />
                                     <img class="input-group-prepend" *ngIf="time.ToTime ==null && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                                    </div>

                                    <div *ngIf="time.ToTime ==null && isSubmitted" class="input-error"> Time From is required. </div>

                                 </div>
                                <div class="form-group col-md-2">
                                    <a (click)="deleteTime(i)" href="javascript:void(0);" >
                                        <img src="assets/images/JMS/remove.svg">
                                    </a>
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                <a class="cursor" (click)="addNewTime()">
                                   <span class="add-question">Add Time</span>
                                </a>
                            </div>
                            </div>

                        </div>
                                <!--Rote-->
                        <div *ngIf="selectedRadio== 2">
                            <div class="row form-row" style="margin-bottom: -12px;">
                                <div class="form-group col-md-2" >
                                </div>
                                <div class="form-group col-md-4" >
                            <label class="col-form-label"> location From</label>
                                </div>
                                <div class="form-group col-md-4" >
                                    <label class="col-form-label"> location To</label>
                                        </div>
                            </div>
                            <div class="row form-row" *ngFor="let location of locations; let i = index;">
                            <label class="col-form-label"> Rout <span class="required"></span></label>
                            <div class="form-group col-md-4" >
                                <div class="input-group">
                                    <select class="form-control" [(ngModel)]="location.locationFrom" placeholder="ddddddd">
                                       <!-- <option hidden [value]=""  selected>Location From </option>
                                        <option hidden value=""  selected>Select one category </option>-->
                                        <option *ngFor="let item of Zones" value="{{item.id}}"  >{{item.name}}</option>
                                    </select>
                                    <img class="input-group-prepend" *ngIf="location.locationFrom==null  && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                                </div>
                                <div *ngIf="location.locationFrom==null && isSubmitted" class="input-error">Location is required. </div>
                            </div>

                            <div class="form-group col-md-4" >
                                <div class="input-group">
                                    <select class="form-control" [(ngModel)]="location.locationTo">
                                        <option *ngFor="let item of Zones" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                    <img class="input-group-prepend" *ngIf="location.locationTo==null  && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                                </div>
                                <div *ngIf="location.locationTo==null && isSubmitted" class="input-error">Location is required. </div>
                            </div>

                            <div class="form-group col-md-2">
                                <a (click)="deleteLocation(i)" href="javascript:void(0);" >
                                    <img src="assets/images/JMS/remove.svg">
                                </a>
                            </div>




                        </div>

                        <div class="form-group col-md-6">
                            <a class="cursor" (click)="addNewLocation()">
                               <span class="add-question">Add Route</span>
                            </a>
                        </div>
                        </div>


                          <!--Both-->
                          <div *ngIf="selectedRadio== 3">
                            <label class="col-form-label"> Rout & Time <span class="required"></span></label>

                            <div class="row form-row" *ngFor="let Timelocation of TimeAndlocations; let i = index;">

                            <div class="form-group col-md-4">
                              <label class="col-form-label"> Time From</label>
                                <div class="input-group">
                                 <input type="time" class="form-control" [(ngModel)]="Timelocation.TimeFrom"  pattern="[0-9]{2}:[0-9]{2}" placeholder="Time" />
                                 <img class="input-group-prepend" *ngIf="Timelocation.TimeFrom==null && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                                </div>

                                <div *ngIf="Timelocation.TimeFrom==null && isSubmitted" class="input-error"> Time is required. </div>
                             </div>

                             <div class="form-group col-md-4">
                              <label class="col-form-label"> Time To</label>
                              <div class="input-group">

                               <input type="time" class="form-control" [(ngModel)]="Timelocation.TimeTo"  pattern="[0-9]{2}:[0-9]{2}" placeholder="Time" />
                               <img class="input-group-prepend" *ngIf="Timelocation.Time==null && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                              </div>

                              <div *ngIf="Timelocation.TimeTo==null && isSubmitted" class="input-error"> Time is required. </div>
                           </div>

                            <div class="form-group col-md-4" >
                              <label class="col-form-label"> location From</label>
                                <div class="input-group">
                                    <select class="form-control" [(ngModel)]="Timelocation.locationFrom">
                                        <option *ngFor="let item of Zones" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                    <img class="input-group-prepend" *ngIf="Timelocation.locationFrom==null  && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                                </div>
                                <div *ngIf="Timelocation.locationFrom==null && isSubmitted" class="input-error">Location is required. </div>
                            </div>

                            <div class="form-group col-md-4" >
                              <label class="col-form-label"> location To</label>
                                <div class="input-group">

                                    <select class="form-control" [(ngModel)]="Timelocation.locationTo">
                                        <option *ngFor="let item of Zones" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                    <img class="input-group-prepend" *ngIf="Timelocation.locationTo==null  && isSubmitted" src="assets/images/JMS/input-error.svg"/>
                                </div>
                                <div *ngIf="Timelocation.locationTo==null && isSubmitted" class="input-error">Location is required. </div>
                            </div>

                            <div class="form-group col-md-2" style="margin-top: 9%;">
                                <a (click)="deleteTimeAndLocation(i)" href="javascript:void(0);" >
                                    <img src="assets/images/JMS/remove.svg">
                                </a>
                            </div>


                        </div>

                        <div class="form-group col-md-6">
                            <a class="cursor" (click)="addNewTimeAndLocation()">
                               <span class="add-question">Add Route & Time</span>
                            </a>
                        </div>
                        </div>

                      </div>

                    <div class="form-group col-md-4">
                        <mat-slide-toggle color="primary" [(ngModel)]="vehicleType.isActive">Active</mat-slide-toggle>
                    </div>
                    <div class="form-group col-md-8">
                        <mat-slide-toggle color="primary" [(ngModel)]="vehicleType.isNeedingPreRequestForJourneyInitiation">
                          Selection of vehicle no. by authorized user
                        </mat-slide-toggle>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

</div>

