<div class="edit-journey-container">


    <div class="d-flex justify-content-between align-items-baseline mt-4">
        <h4 class="Checkpoints">
            Edit Journey
        </h4>

        <button mat-flat-button color="primary" (click)="onSubmit(editJourneyForm)" class="Checkpoints d-flex"
            *ngIf="journeyForm['currentUserPermission']?.isAllowedToUpdateJourney">
            Submit
        </button>
    </div>

    <mat-error *ngIf="isSubmit && errorMsg">
        <span class="text-center star font-weight-bold">{{errorMsg}}</span>
    </mat-error>

    <div class="edit-journey-container-Copy-3 d-flex">
        <div class="tab d-flex" [class.active]="tab == 1" (click)="tab = 1">
            <span>
                Details
            </span>
        </div>
        <div class="tab d-flex" [class.active]="tab == 2" (click)="tab = 2">
            <span>
                Cargo
            </span>
        </div>
        <div class="tab d-flex" [class.active]="tab == 3" (click)="tab = 3">
            <span>
                Assessment
            </span>
        </div>

        <div class="tab d-flex" [class.active]="tab == 4" (click)="tab = 4">
            <span>
                Assessments Answers
            </span>
        </div>
    </div>

    <form #editJourneyForm="ngForm">
        <div class="container p-0" [ngSwitch]="tab">
            <ng-container *ngSwitchCase="1">

                <section>
                    <div class="input-group mt-17 row">
                        <div class="col-6 pl-3 pr-3">
                            <label>Title <span class="star">*</span></label>
                            <input type="text" placeholder="Title" class="form-control  m-0" #title="ngModel"
                                name="title" [(ngModel)]="journeyForm.title" required>
                            <mat-error *ngIf="title.invalid && ( (title.dirty || title.touched) || isSubmit)">
                                Please Enter Journey Title
                            </mat-error>
                        </div>

                        <div class="col-6 pl-3 pr-3">
                            <label>Request Type <span class="star">*</span></label>
                            <select type="text" class="form-control  m-0" #requestTypeId="ngModel" name="requestTypeId"
                                [(ngModel)]="journeyForm.requestTypeId" required>
                                <option selected disabled value=0>Select Request Type*</option>
                                <ng-container *ngFor="let type of requests">
                                    <option [value]=type.id>{{type.name}}</option>
                                </ng-container>
                            </select>
                            <mat-error
                                *ngIf="journeyForm.requestTypeId == 0  && ( (requestTypeId.dirty || requestTypeId.touched) || isSubmit)">
                                Please Select Request type
                            </mat-error>
                        </div>
                    </div>

                    <div class="input-group row">
                        <div class="col-6 pl-3 pr-3">
                            <label>Department <span class="star">*</span></label>
                            <select class="form-control m-0" name="departmentId" required #departmentId="ngModel"
                                [(ngModel)]="journeyForm.departmentId">
                                <option selected disabled value=0>Select Department*</option>
                                <ng-container *ngFor="let dep of departments">
                                    <option [value]=dep.id>{{dep.name}}</option>
                                </ng-container>
                            </select>
                            <mat-error class="mt-2"
                                *ngIf="journeyForm.departmentId == 0  && ( (departmentId.dirty || departmentId.touched) || isSubmit)">
                                Please Select Department
                            </mat-error>
                        </div>

                        <div class="col-6 pl-3 pr-3">
                            <label>Delivery Date <span class="star">*</span></label>
                            <input type="text" placeholder="Delivery Date*" class="form-control"
                                onfocus="(this.type='datetime-local')" id="date" required #deliveryDate="ngModel"
                                name="deliveryDate" required [(ngModel)]="journeyForm.deliveryDate"
                                [disabled]="!journeyForm['currentUserPermission']?.isAllowedToRescheduleTheJourney">

                            <mat-error
                                *ngIf="deliveryDate.invalid  && ( (deliveryDate.dirty || deliveryDate.touched) || isSubmit)">
                                Please Select Delivery Date
                            </mat-error>
                        </div>
                    </div>

                    <div class="input-group row">
                        <div class="col-6 pl-3 pr-3">
                            <label>Emergency Contact</label>
                            <input type="text" placeholder="Emergency Contact" class="form-control"
                                name="emergencyContact" [(ngModel)]="journeyForm.emergencyContact">
                        </div>
                        <div class="col-6 pl-3 pr-3">
                            <label>Purpose</label>
                            <input type="text" placeholder="Purpose" class="form-control" name="purpose"
                                [(ngModel)]="journeyForm.purpose">
                        </div>
                    </div>

                    <!-- location / zone from if exist -->
                    <div class="input-group row">
                        <div class="col-6">
                            <label>Journey from <span class="star">*</span></label>
                            <select class="form-control" (change)="onLocationSlotChange($event,1)"
                                *ngIf="!isJourneyFromToVisible" required>
                                <option selected [disabled]="!isJourneyFromToVisible" [value]=0>Select zone or location
                                    from</option>
                                <optgroup label="Zones">
                                    <ng-container *ngFor="let zone of zones">
                                        <option [value]="zone.id"
                                            [selected]="journeyForm['fromCompoundId'] == 'zone_' + zone.id">
                                            {{zone.name}}</option>
                                    </ng-container>
                                </optgroup>

                                <optgroup label="Locations">
                                    <ng-container *ngFor="let location of locations">
                                        <option [value]="location.id"
                                            [selected]="journeyForm['fromCompoundId'] == 'location_' + location.id">
                                            {{location.name}}</option>
                                    </ng-container>
                                </optgroup>
                            </select>

                            <select *ngIf="isJourneyFromToVisible" class="form-control" [disabled]="true">
                                <option selected value="0">
                                    Select zone or location from
                                </option>
                            </select>

                            <mat-error
                                *ngIf="(!journeyForm.isMapLocation && journeyForm.fromZone == null && journeyForm.fromLocation == null  && isSubmit)">
                                Please Select Journey from
                            </mat-error>
                        </div>

                        <div class="col-5">
                            <label>Journey to <span class="star">*</span></label>
                            <select class="form-control" (change)="onLocationSlotChange($event,2)"
                                *ngIf="!isJourneyFromToVisible" required>
                                <option selected [disabled]="!isJourneyFromToVisible" value=0>Select zone or location to
                                </option>
                                <optgroup label="Zones">
                                    <ng-container *ngFor="let zone of zones">
                                        <option [value]="zone.id"
                                            [selected]="journeyForm['toCompoundId'] == 'zone_' + zone.id">
                                            {{zone.name}}</option>
                                    </ng-container>
                                </optgroup>

                                <optgroup label="Locations">
                                    <ng-container *ngFor="let location of locations">
                                        <option [value]=location.id
                                            [selected]="journeyForm['toCompoundId'] == 'location_' + location.id">
                                            {{location.name}}
                                        </option>
                                    </ng-container>
                                </optgroup>
                            </select>

                            <select *ngIf="isJourneyFromToVisible" class="form-control" [disabled]="true">
                                <option selected value="0">
                                    Select zone or location to
                                </option>
                            </select>

                            <mat-error
                                *ngIf="(!journeyForm.isMapLocation  && journeyForm.toZone == null && journeyForm.toLocation == null  && isSubmit)">
                                Please Select Journey to
                            </mat-error>
                        </div>

                        <div class="col-1 pt-1">
                            <label></label>
                            <button mat-icon-button (click)="showHideFromTo()">
                                <mat-icon>room</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- end location / zone from if exist -->

                    <!-- map location from / to -->
                    <div class="input-group row" *ngIf="isJourneyFromToVisible && journeyForm.isMapLocation">
                        <div class="col-6">
                            <ng-container>
                                <!-- From Distination -->
                                <label>Journey from <span class="star">*</span></label>
                                <input type="text" class="form-control bgLight" placeholder="Journey From*"
                                    autocorrect="off" autocapitalize="off" spellcheck="false" name="fromDestination"
                                    required #fromDestinationInput="ngModel" [(ngModel)]="journeyForm.fromDestination"
                                    ngx-google-places-autocomplete
                                    (onAddressChange)="handleAddressChange($event,'origin')">
                                <div
                                    *ngIf="fromDestinationInput.invalid && (fromDestinationInput.dirty || fromDestinationInput.touched)">
                                    <mat-error *ngIf="fromDestinationInput.errors.required">Please Enter Journey From
                                    </mat-error>
                                </div>
                            </ng-container>
                        </div>

                        <div class="col-6">
                            <ng-container>
                                <!-- To Distination -->
                                <label>Journey to <span class="star">*</span></label>
                                <input type="text" class="form-control bgLight" placeholder="Journey To*"
                                    autocorrect="off" autocapitalize="off" spellcheck="false" name="toDestination"
                                    #toDestinationInput="ngModel" required [(ngModel)]="journeyForm.toDestination"
                                    ngx-google-places-autocomplete
                                    (onAddressChange)="handleAddressChange($event,'destination')">

                                <div
                                    *ngIf="toDestinationInput.invalid && (toDestinationInput.dirty || toDestinationInput.touched)">
                                    <mat-error *ngIf="toDestinationInput.errors.required">Please Enter Journey To
                                    </mat-error>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- end map location from / to -->
                </section>

                <!-- map -->
                <agm-map class="map" [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="9"
                    (mapReady)="onMapReady($event)">
                    <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints"
                        [renderOptions]="renderOptions" [optimizeWaypoints]="optimizeWaypoints"
                        (onResponse)="onResponse($event)">
                    </agm-direction>
                </agm-map>
                <!-- end map -->

                <!-- checkpoints -->
                <section class="checkpoints">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <p class="Checkpoints">
                            Checkpoints
                        </p>

                        <mat-error *ngIf="checkPointError">
                            Please select checkpoint
                        </mat-error>

                        <button mat-button (click)="addCheckPoint()" class="Checkpoints d-flex"
                            *ngIf="!(journeyForm.journeyStatus == journeyStatus.JourneyCompleted || journeyForm.journeyStatus == journeyStatus.PendingPostTripAssessmentApproval || journeyForm.journeyStatus == journeyStatus.JourneyRejected || journeyForm.journeyStatus == journeyStatus.JourneyCancelled)">
                            <mat-icon>add_circle</mat-icon>
                            Checkpoints
                        </button>
                    </div>

                    <div class="overflow-auto">
                        <table>
                            <tr *ngFor="let point of journeyForm.checkPoints; let i = index">
                                <td>
                                    <img id="u5169_img" class="img " src="assets/images/icons/ic_arrows.svg">
                                </td>

                                <td>
                                    <div class="with-icon d-flex">
                                        <select class="form-control" (change)="onSlotChange($event,i)"
                                            *ngIf="!point.IsMapLocation" [disabled]="point.isChekedIn">
                                            <option selected disabled value=0>Select zone or location</option>
                                            <optgroup label="Zones">
                                                <ng-container *ngFor="let zone of zones">
                                                    <option [value]=zone.id [selected]="point?.zone?.id== zone.id">
                                                        {{zone.name}}</option>
                                                </ng-container>
                                            </optgroup>

                                            <optgroup label="Locations">
                                                <ng-container *ngFor="let location of locations">
                                                    <option [value]=location.id
                                                        [selected]="point?.location?.id == location.id">
                                                        {{location.name}}
                                                    </option>
                                                </ng-container>
                                            </optgroup>
                                        </select>

                                        <input type="text" class="form-control " placeholder="Enter Checkpoint Address"
                                            autocorrect="off" autocapitalize="off" spellcheck="false"
                                            name="FromLocation{{i}}" #checkpointAddressInput{{i}}="ngModel"
                                            [(ngModel)]="point.FromLocation" [hidden]="!point.IsMapLocation"
                                            id="checkpointAddressClass{{i}}" [disabled]="point.isChekedIn">

                                        <button mat-icon-button (click)="iniCheckPoint(i);">
                                            <mat-icon>room</mat-icon>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="eta">
                                        <span>ETA</span>
                                        <select class="form-control" name="ETA{{i}}" [(ngModel)]="point.eta"
                                            [disabled]="point.isChekedIn">
                                            <option *ngFor="let item of eta" value="{{item.value}}"
                                                [selected]="item.value == 0">{{item.title}}
                                            </option>
                                        </select>
                                    </div>
                                </td>

                                <td>
                                    <mat-checkbox name="haveCargo{{i}}" [(ngModel)]="point.haveCargo"
                                        [disabled]="point.isChekedIn" (change)="isHaveCargo($event)"
                                        class="example-margin"><span class="mx-15">Have Cargo</span>
                                    </mat-checkbox>
                                </td>

                                <td class="mx-auto" *ngIf="point.allowCheckInAction">
                                    <button mat-flat-button color="primary" class="check-in"
                                        (click)="checkInJourney(point.id)">Check In</button>
                                </td>

                                <td class="mx-auto text-green" *ngIf="point.isChekedIn">
                                    Completed
                                </td>

                                <td *ngIf="!point.isChekedIn && point.allowUpdateDeleteAction">
                                    <button mat-icon-button class="d-danger" (click)="removeCheckpoint(i)">
                                        <mat-icon>remove_circle</mat-icon>
                                    </button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </section>
                <!-- end checkpoints -->

                <section class="details">
                    <div class="d-flex align-items-baseline flex-column flex-sm-row">
                        <div class="col col-md-6">
                            <label> Company Vehicle <sup class="text-danger star">*</sup> </label>
                            <div class="my-10"></div>
                            <mat-radio-group name="isCompanyVehicle" [(ngModel)]="journeyForm.isCompanyVehicle"
                                class="d-flex justify-content-between options" aria-label="Select an option"
                                (change)="onChangeCompany($event)">

                                <mat-radio-button [value]="true" [checked]="journeyForm.isCompanyVehicle">
                                    <span>Yes</span>
                                </mat-radio-button>

                                <mat-radio-button [value]="false">
                                    <span>No</span>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col col-md-6">
                            <label> Is Night Driving <sup class="text-danger star">*</sup> </label>
                            <div class="my-10"></div>
                            <mat-radio-group name="isNight" [(ngModel)]="journeyForm.isNight"
                                class="d-flex justify-content-between options" aria-label="Select an option">
                                <mat-radio-button [value]="true" name="isNight"><span>Yes</span></mat-radio-button>
                                <mat-radio-button [value]="false" name="isNight" [checked]="!journeyForm.isNight">
                                    <span>No</span>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <mat-label>Vehicle Type <mat-hint class="star">*</mat-hint>
                            </mat-label>
                            <select class="form-control" name="vehicleTypeId" [(ngModel)]="journeyForm.vehicleTypeId"
                                [disabled]="journeyForm['isIncludedInMergedJourneyGroup']"
                                (change)="onSelectVehicle($event)">
                                <ng-container *ngFor="let vehicle of vehicleTypes">
                                    <option [value]="vehicle.vehicleId">{{vehicle.vehicleName}}</option>
                                </ng-container>
                            </select>
                        </div>

                        <div class="col-md-6 mt-2">
                            <mat-label>Driver <mat-hint class="star">*</mat-hint>
                            </mat-label>
                            <mat-select [placeholder]="'Select driver'" class="form-control pt-2 pr-0" name="drivers"
                                [(ngModel)]="journeyForm.drivers" (selectionChange)="onSelectDrivers($event)"
                                [disabled]="journeyForm['isIncludedInMergedJourneyGroup']"
                                [compareWith]="compareDriversFn">
                                <mat-option *ngFor="let driver of drivers" [value]="driver">
                                    {{driver.driverName}}
                                </mat-option>
                            </mat-select>
                        </div>

                        <div class="col-md-6 mt-2">
                            <mat-label>Vehicle plate no <mat-hint class="star">*</mat-hint>
                            </mat-label>
                            <mat-select [placeholder]="'Select vehicle plate no'" class="form-control pr-0"
                                style="padding-top: 10px;width: 96%;" name="vehicles" [(ngModel)]="journeyForm.vehicles"
                                [compareWith]="compareVehiclesFn" (selectionChange)="onChangeVehiclePlateNo($event)"
                                [disabled]="journeyForm['isIncludedInMergedJourneyGroup']">
                                <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
                                    {{vehicle.vehicleName}}
                                </mat-option>
                            </mat-select>
                        </div>

                        <div class="col-md-6 mt-2">
                            <label>Priority Degree</label>
                            <mat-radio-group name="priorityDegree" [(ngModel)]="journeyForm.priorityDegree"
                                class="d-flex justify-content-between options">
                                <mat-radio-button [value]="0" name="priorityDegree"
                                    [checked]="journeyForm.priorityDegree == 0">
                                    <span>Low</span>
                                </mat-radio-button>

                                <mat-radio-button [value]="1" name="priorityDegree"
                                    [checked]="journeyForm.priorityDegree == 1">
                                    <span>Medium</span>
                                </mat-radio-button>

                                <mat-radio-button [value]="2" name="priorityDegree"
                                    [checked]="journeyForm.priorityDegree == 2">
                                    <span>High</span>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="2">
                <div class="d-flex justify-content-between align-items-baseline Assessment-header">
                    <p>
                        Cargo
                    </p>
                </div>

                <section class="checkpoints" *ngFor="let cargo of journeyForm.cargoes; let icargo = index">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <div class="row m-2">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <strong class="Checkpoints">
                                    Payload Type <span class="text-danger">*</span>
                                </strong>
                            </div>

                            <ng-container *ngFor="let pay of payloadTypes">
                                <mat-checkbox (change)="addPayload(pay,icargo,$event.checked)"
                                    [checked]="checkPayload(icargo,pay)" [disabled]="true">
                                    <span>{{pay.name}}</span>
                                </mat-checkbox>
                            </ng-container>
                        </div>
                    </div>

                    <div class="overflow-auto" *ngIf="cargo.journeyTrucks?.length != 0">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <p class="Checkpoints"></p>
                        </div>

                        <div class="d-flex align-items-baseline flex-column flex-sm-row"
                            *ngFor="let g of cargo.journeyTrucks; let iT = index">

                            <select class="form-control" name="payloadId" [(ngModel)]="g.payloadId" [disabled]="true">
                                <option selected disabled value=0> PayLoad *</option>
                                <ng-container *ngFor="let payLoad of payLoads">
                                    <option [value]=payLoad.id>{{payLoad.name}}</option>
                                </ng-container>
                            </select>

                            <div class="input-space"></div>
                            <input type="text" class="form-control" placeholder="Weight" name="weight"
                                [(ngModel)]="g.weight" [disabled]="true">
                        </div>
                    </div>

                    <div class="overflow-auto mt-4" *ngIf="cargo.journeyPassengers?.length != 0">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <strong class="Checkpoints pb-2">
                                Passengers details
                            </strong>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Contact No</th>
                                </tr>

                                <tr *ngFor="let journeyPassenger of cargo.journeyPassengers; let i = index">
                                    <td>
                                        {{ journeyPassenger.fullName }}
                                    </td>
                                    <td>
                                        {{ journeyPassenger.contactNumber }}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </section>
            </ng-container>

            <ng-container *ngSwitchCase="3">
                <div class="d-flex justify-content-between align-items-baseline Assessment-header">
                    <p>
                        Assessment
                    </p>

                    <mat-error *ngIf="!isValidAssessment" class="star">
                        Please enter valid assessment's data
                    </mat-error>
                    <button mat-flat-button color="primary" type="button" (click)="addAssessment()">Add
                        Assessment</button>
                </div>

                <div class="overflow-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Timing</th>
                                <th>Category</th>
                                <th>Assessment Name</th>
                                <th>Actions</th>
                            </tr>
                            <tr
                                *ngFor="let journeyAssessment of journeyForm.journeyAssessments; let assessmentIndex = index">
                                <td>
                                    <select class="form-control" [name]="'assessmentTiming'+ assessmentIndex"
                                        [(ngModel)]="journeyAssessment.assessmentTiming">
                                        <option value=null>Please Select</option>
                                        <option value=0>PreTrip</option>
                                        <option value=1>CheckPoint</option>
                                        <option value=2>AddingCargo</option>
                                        <option value=3>PostTrip</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" [name]="'assessmentCategoryId'+ assessmentIndex"
                                        [(ngModel)]="journeyAssessment.assessmentCategoryId"
                                        (change)="getAssessmentByCategory(journeyAssessment.assessmentCategoryId)"
                                        [disabled]="!journeyAssessment.allowUpdateDeleteAction">
                                        <option disabled value=0>Select category</option>
                                        <ng-container
                                            *ngFor="let assessmentCategory of assessmentCategories ; let index = index">
                                            <option [value]="assessmentCategory.id"
                                                [selected]="journeyAssessment.assessmentCategoryId == assessmentCategory.id">
                                                {{assessmentCategory.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" [name]="'assessmentId' + assessmentIndex"
                                        [(ngModel)]="journeyAssessment.assessmentId"
                                        [disabled]="!journeyAssessment.allowUpdateDeleteAction">
                                        <option value=0>
                                            Assessment Name
                                        </option>
                                        <ng-container
                                            *ngFor="let assessment of assessments[journeyAssessment.assessmentCategoryId]">
                                            <option [value]="assessment.id"
                                                [selected]="journeyAssessment.assessmentId == assessment.id">
                                                {{assessment.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </td>
                                <td>
                                    <button mat-icon-button (click)="removeAssessment(assessmentIndex)"
                                        *ngIf="journeyAssessment.allowUpdateDeleteAction">
                                        <mat-icon>delete</mat-icon>
                                    </button>

                                    <button mat-icon-button *ngIf="!journeyAssessment.allowUpdateDeleteAction">
                                        <mat-icon style="color: gray">delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="overflow-auto">
                    <mat-error
                        *ngIf="isSubmit && (!isValidCommunicationsPoints) && (journeyForm['journeyCommunicationPoints'].length > 0)">
                        <span class="text-center star font-weight-bold">
                            Please fill communications points
                        </span>
                    </mat-error>

                    <app-communication-points [showSaveButton]="false"
                        [points]="journeyForm['journeyCommunicationPoints']" [journeyId]="editJourneyId"
                        (onChangePoints)="changePoints($event)" [points]="journeyForm['journeyCommunicationPoints']"
                        [journeyId]="journeyId"
                        [isAllowedToAddUpdateCommunicationPoint]="journeyForm['currentUserPermission']?.isAllowedToAddUpdateCommunicationPoint">
                    </app-communication-points>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="4">
                <app-assessment-answers [journeyId]="editJourneyId">
                </app-assessment-answers>
            </ng-container>
        </div>
    </form>
</div>