<section id="forgotPasswordFormSection">
    <section class="formWrapper">
        <h2>New Password</h2>
        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control placeholder-parent" [pattern]="pattern"
                placeholder="Password *" aria-label="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required" class="text-error">Password is required</div>
                </div>
                <div *ngIf="submitted && f.password?.errors?.pattern" class="invalid-feedback">
                    <div *ngIf="f.password?.errors?.pattern" class="text-error">Password must be at least 8 characters long and must contain one lower case, one uppercase, one numeric and one special characters</div>
                </div>
            </div>
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Confirm Password *" aria-label="Confirm Password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted &&( f.confirmpassword.errors ||showConfirmError()) }">
                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmpassword.errors.required" class="text-error">Confirm Password is required</div>
                </div>
                <div class="invalid-feedback text-error" *ngIf="submitted  && f.confirmpassword.value && showConfirmError()">
                    Password does not match</div>
                
            </div>
           

            

            <button type="submit">
                Submit 
            </button>
            <div class="d-flex justify-content-end">
                <a class="back-login-btn" routerLink="/login">
                    Back to Sign in</a>
            </div>
        </form>
    </section>
</section>