$primary-color: #4a90e2;
.timeline-table {
    overflow: auto;
    height: 400px !important;
}
:host ::ng-deep {
    tr.mat-header-row {
        border: 2px solid #4a90e2 !important;
        border-bottom: 2px solid $primary-color !important;
        border-radius: 2px;
        color: $primary-color !important;
        text-align: center;
    }
    .mat-table {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
        background-color: #f9f9f9;
    }
    td,
    th {
        border-right: 1px solid #f5e9e9;
        padding: 0 20px !important;
        opacity: 0.97;
        &:first-child {
            border-left: 1px solid #f5e9e9;
        }
    }
    th {
        color: $primary-color;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.09px;
    }
}
