<div mat-dialog-title class="d-flex justify-content-between mb-3">
    <h5>Journey Timeline</h5>
    <!--tabindex to remove focus from close button-->
    <button tabindex="-1" class="close" (click)="close()">&times;</button>
</div>
<div mat-dialog-content *ngIf="timelineDetails.length != 0" class="timeline-table">
    <table mat-table [dataSource]="timelineDetails" class="mat-elevation-z8">

        <!-- actionDate Column -->
        <ng-container matColumnDef="actionDate">
            <th mat-header-cell *matHeaderCellDef> Date & Time </th>
            <td mat-cell *matCellDef="let element"> {{element.actionDate | dateToTimezone}} </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action name </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
        </ng-container>

        <!-- userName Column -->
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> By Who </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>