<section class="mt-3">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="expanded" (opened)="expanded = true" (closed)="expanded = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Search reports</b>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <form class="row mt-3 filters" [formGroup]="form">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Creation date from <span class="star">*</span></mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <input matInput [matDatepicker]="dateForm" formControlName="creationDateFrom">
                        <mat-datepicker-toggle matSuffix [for]="dateForm"></mat-datepicker-toggle>
                        <mat-datepicker #dateForm></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Creation date to <span class="star">*</span></mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <input matInput [matDatepicker]="dateTo" formControlName="creationDateTo">
                        <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                        <mat-datepicker #dateTo></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Delivery date from</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <input matInput [matDatepicker]="deliveryDateForm" formControlName="deliveryDateFrom">
                        <mat-datepicker-toggle matSuffix [for]="deliveryDateForm"></mat-datepicker-toggle>
                        <mat-datepicker #deliveryDateForm></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Delivery date to</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <input matInput [matDatepicker]="deliveryDateTo" formControlName="deliveryDateTo">
                        <mat-datepicker-toggle matSuffix [for]="deliveryDateTo"></mat-datepicker-toggle>
                        <mat-datepicker #deliveryDateTo></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Journey Id</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <input matInput formControlName="journeyId" type="number">
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Department</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="departmentsIds"
                            [ngClass]="{'isSelectAll':departmentsIds?.length == data?.departments?.length +1}"
                            (selectionChange)="onSelectDepartment()" [placeholder]="'please select'"
                            [(ngModel)]="departmentsIds">
                            <mat-option #selectedDepartments (click)="toggleAllSelection('departments')" [value]="0"
                                *ngIf="data?.departments?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let department of data?.departments" [value]="department.id"
                                (click)="selectOne('departments')">
                                {{department.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Third party</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="thirdPartysIds" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':thirdpartysIds?.length == data?.thirdPartys?.length +1}"
                            (selectionChange)="onSelectThirdparty()" [(ngModel)]="thirdpartysIds">
                            <mat-option #selectedThridParties (click)="toggleAllSelection('thirdParties')" [value]="0"
                                *ngIf="data?.thirdPartys?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let thirdParty of data?.thirdPartys" [value]="thirdParty.id"
                                (click)="selectOne('thirdParties')">
                                {{thirdParty.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Driver</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="driversIds" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':form.get('driversIds').value?.length == data?.drivers?.length +1}">
                            <mat-option #selectedDrivers (click)="toggleAllSelection('drivers')" [value]="0"
                                *ngIf="data?.drivers?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let driver of data?.drivers" [value]="driver.id"
                                (click)="selectOne('drivers')">
                                {{driver.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Vechile type</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="vehicleTypesIds" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':vehiclesTypesIds?.length == data?.vehicleTypes?.length +1}"
                            (selectionChange)="onSelectVehicleType()" [(ngModel)]="vehiclesTypesIds">
                            <mat-option #selectedVehicleTypes (click)="toggleAllSelection('vehicles')" [value]="0"
                                *ngIf="data?.vehicleTypes?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let vehicleType of data?.vehicleTypes" [value]="vehicleType.id"
                                (click)="selectOne('vehicles')">
                                {{vehicleType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Vehicle Plate No</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="vehiclesIds" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':form.get('vehiclesIds').value?.length == vehiclesNoList?.length +1}">
                            <mat-option #selectedVehiclesIds (click)="toggleAllSelection('vehiclesIds')" [value]="0"
                                *ngIf="vehiclesNoList?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let vehicle of vehiclesNoList" [value]="vehicle.id"
                                (click)="selectOne('vehiclesIds')">
                                {{vehicle.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Location/Zone</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="locationsZones" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':form.get('locationsZones').value?.length == data?.locations?.length + data?.zones?.length + data?.fromMapLocations?.length +1 }">

                            <mat-optgroup label="Select Locations and zones">
                                <mat-option #selectedLocationsAndZones (click)="toggleAllSelection('locationsAndZones')"
                                    [value]="0" *ngIf="data?.locations?.length > 0">
                                    All
                                </mat-option>
                            </mat-optgroup>

                            <mat-optgroup label="Locations">
                                <mat-option *ngFor="let location of data?.locations" [value]="'location_' + location.id"
                                    (click)="selectOne('locationsAndZones')">
                                    {{location.name}}
                                </mat-option>
                            </mat-optgroup>

                            <mat-optgroup label="Zones">
                                <mat-option *ngFor="let zone of data?.zones" [value]="'zone_' + zone.id"
                                    (click)="selectOne('locationsAndZones')">
                                    {{zone.name}}
                                </mat-option>
                            </mat-optgroup>

                            <mat-optgroup label="Map Locations">
                                <mat-option *ngFor="let mapLocation of data?.fromMapLocations" [value]="mapLocation"
                                    (click)="selectOne('mapLocations')">
                                    {{mapLocation}}
                                </mat-option>
                            </mat-optgroup>

                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Journey creator</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="creatorsIds" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':form.get('creatorsIds').value?.length == data?.journeyCreators?.length +1}">
                            >

                            <mat-option #selectedCreators (click)="toggleAllSelection('creators')" [value]="0"
                                *ngIf="data?.journeyCreators?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let creator of data?.journeyCreators" [value]="creator.id"
                                (click)="selectOne('creators')">
                                {{creator.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Journey manager</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="managersIds" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':form.get('managersIds').value?.length == data?.journeyManagers?.length +1}">

                            <mat-option #selectedManagers (click)="toggleAllSelection('managers')" [value]="0"
                                *ngIf="data?.journeyManagers?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let manager of data?.journeyManagers" [value]="manager.id"
                                (click)="selectOne('managers')">
                                {{manager.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Request type</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="requestTypesIds" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':form.get('requestTypesIds').value?.length == data?.requestTypes?.length +1}">
                            <mat-option #selectedRequestTypes (click)="toggleAllSelection('requestTypes')" [value]="0"
                                *ngIf="data?.requestTypes?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let requestType of data?.requestTypes" [value]="requestType.id"
                                (click)="selectOne('requestTypes')">
                                {{requestType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <mat-label>Status</mat-label>
                    <mat-form-field class="pl-0 pr-0 pt-0 full-width" appearance="fill">
                        <mat-select multiple formControlName="status" [placeholder]="'please select'"
                            [ngClass]="{'isSelectAll':form.get('status').value?.length == data?.requestTypes?.length +1}">
                            <mat-option #selectedStatus (click)="toggleAllSelection('status')" [value]="0"
                                *ngIf="status?.length > 0">
                                All
                            </mat-option>

                            <mat-option *ngFor="let value of status" [value]="value.id" (click)="selectOne('status')">
                                {{value.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-start pt-4">
                    Show Merged journeys &nbsp; &nbsp;<mat-checkbox formControlName="showMergedJourneys"></mat-checkbox>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 d-flex justify-content-end pt-4">
                    <button mat-button color="warn" class="clear ml-2 mr-2" type="button"
                        (click)="reset()">Clear</button>
                    <button mat-button color="primary" type="button" class="search" type="button"
                        (click)="search()">Search</button>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="row mt-4">
        <section class="col-4 justify-content-start">
            <h5 *ngIf="noResult">
                no result is found
            </h5>
        </section>

        <div class="col-8 d-flex justify-content-end">
            <button mat-button color="primary" class="export" (click)="export()">Export</button>
        </div>
    </div>
</section>

<section *ngIf="journeys?.length > 0">
    <app-report-journey *ngFor="let journey of journeys" [journey]="journey"></app-report-journey>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons [length]="length" [pageSize]="pageSize"
        (page)="onChangePage($event)"></mat-paginator>
</section>