$primary-color: #559ddf;
$height: 35px;

.filters {
    .full-width {
        width: 100%;
    }

    .search {
        padding-left: 10px;
        width: 107px;
        height: $height;
        border-radius: 6px;
        color: white;
        background-color: #4a90e2;
        text-align: center;
    }

    .clear {
        padding-left: 5px;
        width: 107px;
        height: $height;
        border-radius: 6px;
        border: solid 1px #d0021b;
        background-color: #ffffff;
        text-align: center;
    }

    .set-hr {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        border-top: solid 1px #b4b4b4;
    }

    .star {
        color: red;
    }
}

:host ::ng-deep {
    .mat-form-field-flex {
        background-color: white;
        border-radius: 5px;
        border: solid 1px #979797;
        font-size: 14px;
        padding: 0px !important;
        padding-left: 5px !important;
        height: 35px;

        .mat-input-element {
            border-bottom: none !important;
            padding-top: 0px;
            height: 10px;
            box-shadow: none !important;
        }

        .mat-input-element:focus {
            border-bottom: none;
            box-shadow: none;
        }

        .mat-form-field-infix {
            padding: 0px;
        }

        .mat-select-arrow-wrapper {
            padding-top: 10px;
        }

        .mat-input-element {
            font-size: 13px;
        }
    }
}

.export {
    padding-left: 10px;
    width: 107px;
    height: $height;
    border-radius: 6px;
    color: white;
    background-color: #4a90e2;
    text-align: center;
}
:host ::ng-deep .isSelectAll .mat-select-value-text {
    span {
        margin-left: -20px;
    }
}
