<!--start notifications section-->
<section id="notifications">
    <h2 class="sectionHeader text-center mb-2">Notifications</h2>
    <div class="notification mt-2 mb-2" *ngFor="let item of Notifications">
        <div class="mobileContainer">
            <div class="notContainer">
                <img class="notificationIcon" src="assets/images/assets_icons/notify.svg">
                <div class="notificationDesc">
                    <h5 class="notificationName">{{item.text}}</h5>
                    <p class="notificationDestination">{{item.creationTime | dateToTimezone}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end notifications section-->