<div>
  <section id="homePage" class="text-center">
    <div class="mobileContainer container">
      <div class="row mt-4">
        <div class="page-text col-md-10 d-flex justify-content-start">Assessments</div>
        <div class="col-md-2 d-flex justify-content-end pr-5">
          <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Journey-Management',id:4}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
          </a>
        </div>
      </div>
      <br>
      <div class="container">
        <mat-tab-group class="tabs-links" #tabGroup (selectedTabChange)="onTabClick($event)">
          <mat-tab label="Assessment Categories">
            <ng-template matTabContent>
              <app-assessment-category-management></app-assessment-category-management>
            </ng-template>
          </mat-tab>
          <mat-tab label="Assessments">
            <ng-template matTabContent>
              <app-assessment-management></app-assessment-management>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
</div>