.modal {
  background: transparent !important;
  max-height: 100% !important;
  height: 100% !important;
  z-index: -999;
}
.modal-backdrop {
  top: 0;
  left: 0;
  z-index: -999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal.fade {
  z-index: 10000 !important;
}
.page-text {
  font-family: SFProDisplay-Medium;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-left: 34px;
}
