<div class="container">

  <section id="editprofileSection">
    <div id="profilePage" class="Rectangle">
      <div id="firstDiv" name="firstDiv" class="firstDiv row form-row col-md-12">
        <div class="col col-md-8 Admin--Profile">
          <p>Admin Profile</p>
        </div>

        <div class="col-md-4 form-row">
          <div class="Rectangle-Copy-2 btns clickable text-justify ">
            <a class="Cancel" (click)="cancel()">Cancel</a>
          </div>
          <div class="Rectangle-Copy btns clickable  text-justify">
            <a class="Save " (click)="update()">Save</a>
          </div>
        </div>
      </div>

      <app-profile-image [profileImg]="profile?.image"></app-profile-image>

      <div id="thirdDiv" name="thirdDiv" class="Rectangle-Copy-3">
        <div class="cpoy3padding">
          <form id="profileFrm" name="profileFrm" #profileFrm="ngForm">

            <div class="form-row">
              <div class=" col-md-6 col-sm-12 form-group ">
                <label class="label-text" for="fullName">Full Name <span class="required-input">*</span></label>
                <input type="text" class="form-control col Rectangle-Copy-12 " name="fullName" Id="fullName"
                  [(ngModel)]="profile.fullName" [ngModelOptions]="{standalone:
          true}" required #modelFullNmae="ngModel">
                <span *ngIf="isSubmitted==true &&profile.fullName=='' " class="help-block text-danger">
                  <div>
                    FullName is required
                  </div>
                </span>
              </div>
              <div class=" col-md-6 col-sm-12 form-group">
                <label for="name" class="label-text">User Name</label>
                <input type="text" name="name" id="name" class="form-control  Rectangle-Copy-12"
                  [(ngModel)]="profile.username" [ngModelOptions]="{standalone:
          true}" #modelusername="ngModel" [disabled]="true">
              </div>
            </div>
            <div class="form-row">
              <div class=" col-md-6 col-sm-12 form-group ">
                <label for="email" class="label-text">Email</label>
                <input type="text" id="email" nam="email" class="form-control  Rectangle-Copy-12"
                  [(ngModel)]="profile.email" [ngModelOptions]="{standalone:
          true}" #modelemail="ngModel" [disabled]="true">
              </div>
            </div>



          </form>
        </div>


      </div>
    </div>
  </section>
</div>