<div class="container">
    <div class="row form-row">
        <h2 class="page-title col-md-9"></h2>
        <a class="btn btn-info page-add-new col-md-3" *ngIf="validateFeature(featureConst.vehicleCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Vehicle </span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" (focus)="setupFilter()"
                    class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Plate Number </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.plateNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="typeName">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header>Type Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.vehicleTypeName}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.vehicleUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.vehicleDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="validateFeature(featureConst.vehicleActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true" style="z-index: -1;" data-backdrop="false">
    <div class="modal-dialog  modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div *ngIf="isError" class="input-error"> Please Fill all required data. </div>
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> {{vehicle.id>0? 'Update Vehicle': 'Add Vehicle'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="initList()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> Plate Number <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="vehicle.plateNumber"
                                placeholder="Plate Number" />
                            <img class="input-group-prepend" *ngIf="vehicle.plateNumber=='' && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="vehicle.plateNumber=='' && isSubmitted" class="input-error"> Plate Number is
                            required. </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-form-label">Vehicle Type <span class="required">*</span></label>
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="vehicle.vehicleTypeId">
                                <option *ngFor="let item of VehicleTypes" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <img class="input-group-prepend" *ngIf="vehicle.vehicleTypeId==null  && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="vehicle.vehicleTypeId==null && isSubmitted" class="input-error">Vehicle Type is
                            required. </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label class="col-form-label">Color <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="vehicle.color" placeholder="Color" />
                            <img class="input-group-prepend" *ngIf="vehicle.color==''&&isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="vehicle.color==''&&isSubmitted" class="input-error">Color is required</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Validation Date From <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control"
                                [ngModel]="vehicle.licenseExpiryDateFrom | date:'yyyy-MM-dd'"
                                (ngModelChange)="vehicle.licenseExpiryDateFrom = $event"
                                placeholder="Validation Date From" />
                            <img class="input-group-prepend" *ngIf="vehicle.licenseExpiryDateFrom ==null &&isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="vehicle.licenseExpiryDateFrom ==null&&isSubmitted" class="input-error">Validation
                            From Date is required</div>
                        <!-- <div *ngIf="vehicle.licenseExpiryDateFrom >= vehicle.licenseExpiryDateTo &&isSubmitted" class="input-error">Validation From Date can not be greater than Validation To Date </div> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Validation Date To <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="date" class="form-control"
                                [ngModel]="vehicle.licenseExpiryDateTo | date:'yyyy-MM-dd'"
                                (ngModelChange)="vehicle.licenseExpiryDateTo = $event"
                                placeholder="Validation Date To" />
                            <img class="input-group-prepend" *ngIf="vehicle.licenseExpiryDateTo  ==null &&isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="vehicle.licenseExpiryDateTo ==null&&isSubmitted" class="input-error">Validation To
                            Date is required</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Model|Year </label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="vehicle.modelAndYear"
                                placeholder="Model" />
                            <img class="input-group-prepend" *ngIf="vehicle.modelAndYear==''&&isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="vehicle.modelAndYear==''&&isSubmitted" class="input-error">Model is required</div>
                    </div>
                    <div class="form-group col-md-12">
                        <mat-slide-toggle color="primary" [(ngModel)]="vehicle.isActive">Active</mat-slide-toggle>
                    </div>


                    <div class="form-group col-md-12">
                        <mat-slide-toggle color="primary" [(ngModel)]="vehicle.isCompanyVehicle">Company Vehicle
                        </mat-slide-toggle>
                    </div>

                    <div class="form-group col-md-6" *ngIf="!vehicle.isCompanyVehicle">
                        <label class="col-form-label">Third Party <span class="required">*</span></label>
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="vehicle.thirdPartyManagementId">
                                <option *ngFor="let item of thirdParties" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <img class="input-group-prepend"
                                *ngIf="vehicle.thirdPartyManagementId==null  && isSubmitted && !vehicle.isCompanyVehicle"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="vehicle.thirdPartyManagementId==null  && isSubmitted && !vehicle.isCompanyVehicle"
                            class="input-error">Third Party is required. </div>
                    </div>

                    <div class="form-group col-md-6" *ngIf="!vehicle.isCompanyVehicle">
                        <label class="col-form-label"> Supplier Contract No </label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="vehicle.supplierContractNo"
                                placeholder="Supplier Contract No" />
                        </div>
                    </div>

                    <div class="form-group col-md-9">
                    </div>
                    <div class="form-group col-md-3">
                        <a class="cursor" (click)="addGatePass()">
                            <img src="assets/images/JMS/add-question.svg" />
                            <span>&nbsp;</span>
                            <span class="add-question">Add GatePass</span>
                        </a>
                    </div>

                    <div class="form-row col-md-12" style="overflow: auto; max-height: 300px;">
                        <div class="form-group col-md-12">
                            <table class="tbl">
                                <tr>
                                    <th> Operation Contract No<span class="required pl-1">*</span></th>
                                    <th> Location<span class="required pl-1">*</span></th>
                                    <th> Expiry Date<span class="required pl-1">*</span> </th>
                                    <th> Action</th>
                                </tr>
                                <tr *ngFor="let gatePass of vehicle.gatePassDetails; index as ii; ">

                                    <td>
                                        <div class="form-group col-md-12">
                                            <div class="input-group">
                                                <input class="form-control" [(ngModel)]="gatePass.contractNumber "
                                                    placeholder="Contract No" />
                                            </div>
                                            <div *ngIf="!gatePass.contractNumber && isSubmitted" class="input-error">
                                                Contract Number is required</div>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <div class="input-group">
                                                <select class="form-control" (change)="setGatePassRoute($event,ii)">
                                                    <option disabled selected value="null">Select zone or location
                                                    </option>
                                                    <optgroup label="Zones">
                                                        <ng-container *ngFor="let zone of Zones.zones">
                                                            <option [value]=zone.id
                                                                [selected]="gatePass.zoneId == zone.id">{{zone.name}}
                                                            </option>
                                                        </ng-container>
                                                    </optgroup>
                                                    <optgroup label="Locations">
                                                        <ng-container *ngFor="let location of Zones.locations">
                                                            <option [value]=location.id
                                                                [selected]="gatePass.checkpointId == location.id">
                                                                {{location.name}}</option>
                                                        </ng-container>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div *ngIf="(!gatePass.zoneId && !gatePass.checkpointId) && isSubmitted"
                                                class="input-error">Location is
                                                required</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <div class="input-group">
                                                <input type="date" class="form-control"
                                                    [ngModel]="gatePass.expiredDate | date:'yyyy-MM-dd'"
                                                    (ngModelChange)="gatePass.expiredDate = $event"
                                                    placeholder="Expiry Date" />
                                            </div>
                                            <div *ngIf="!gatePass.expiredDate && isSubmitted" class="input-error">Expiry
                                                Date is required</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-md-12">
                                            <a (click)="deleteGatePass(ii)" href="javascript:void(0);">
                                                <img src="assets/images/JMS/remove.svg">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>