
<h3 mat-dialog-title class="title">{{formTitle}} Type</h3>
<button class="close-button" (click)="cancel()" mat-icon-button >
  <mat-icon >close</mat-icon>
</button>
<hr>
<div mat-dialog-content class="content">
    <form class="block-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Name </mat-label>
            <input  matInput formControlName="name">
            <mat-error *ngIf="!form.controls['name'].valid">
                {{getError('name')}}
            </mat-error>
        </mat-form-field>
        <section class="example-section">
          <mat-checkbox  matInput class="example-margin" formControlName="isActive">Active</mat-checkbox>
        </section>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button class="o-add-btn" (click)="onSubmit()">{{'Submit'}}</button>
</div>
