<!-- <div class="form-row col-md-12">
  <div *ngIf="validateFeature(featureConst.journeyCreate)" class="home-feature col-md-5" routerLinkActive="active" routerLink="/initiate-journey" >
    <img class="home-feature-icon" src="assets/images/JMS/add-journey.svg" >
    <span class="home-feature-text">Initiate Journey</span>
  </div>
  </div> -->
