<h2 mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center mb-3 border-bottom">
    <h4 class="text-right"> change Profile image</h4>
    <hr>
  </div>
</h2>

<mat-dialog-content>

  <div class="container rounded bg-white">
    <div class="row">
      <div class="col-md-6 img-container">
        <img [src]="imgURL!= null? createImgPath(imgURL):'assets/images/JMS/user.svg'">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="file" #file placeholder="Choose file" accept="image/*" (change)="uploadFile(file.files)"
          style="display:none;">
        <button type="button" class="btn btn-primary select-img" (click)="file.click()">Select image</button>
      </div>
    </div>
    <div class="row">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end mb-2">
  <button class=" btn btn-primary mr-3" type="button" (click)="changeImage()" [disabled]="progress!=100 || !isCanSubmit">Save</button>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>