.Rectangle {
  width: 1024px;
  height: 672px;
  background-color: #eefcff;
}
.Rectangle-Copy {
  width: 107px;
  height: 34px;
  border-radius: 6px;
  background-color: #673bb7;
}
.profile-button {
  background: #673bb7;
  box-shadow: none;
  border: none;
}
.setPadding {
  padding: 10px;
}
.img-container img {
  width: 150px;
  height: 100px;
}
button.select-img {
  width: 120px;
  margin-left: 20px;
}
.btn {
  text-transform: none !important;
}