<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Users-Management',id:3}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Roles Management</h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.roleCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Role</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="userRoleType">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Role Type </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{UserRoles[element.userRoleType]}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.roleUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.roleDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{role.id>0? 'Update Role': 'Add Role'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> Name <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="role.name" placeholder="Name" />
                            <img class="input-group-prepend" *ngIf="role.name=='' && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="role.name=='' && isSubmitted" class="input-error"> Name is required. </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Role Type <span class="required">*</span> </label>
                        <div class="input-group">
                            <select class="form-control" #userRoleType [(ngModel)]="role.userRoleType"
                                (change)="getSelectedRole(role.userRoleType)">
                                <option *ngFor="let key of keys" [value]="key" [label]="UserRoles[key]"></option>
                            </select>
                            <img class="input-group-prepend" *ngIf="role.userRoleType==null && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div class="input-error" *ngIf="role.userRoleType==null && isSubmitted">Role Type is required
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-6">
                          <mat-checkbox [ngModel]="role.isCompanyRole" [checked]="true" #CompanyRole (change)="getCompanyRole($event)" >
                            <label> Company Role </label>
                          </mat-checkbox>
                      </div> -->
                    <div class="form-group col-md-12" style="overflow: auto; max-height: 500px;">
                        <label class="col-form-label" for="inputDefault">Permissions </label>
                        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngIf="showDefaultPermissions">
                            <ngb-panel class="accordian-header" *ngFor="let permission of Permissions; index as i;"
                                id="toggle-{{i}}" title="{{permission.name}}">
                                <ng-template ngbPanelContent>
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-6 custom-control custom-checkbox"
                                            *ngFor="let feature of permission.features; index as ii;">
                                            <input type="checkbox" class="custom-control-input" id="{{feature.value}}"
                                                [checked]="SelectedPermission!=null&& SelectedPermission.indexOf(feature.value) !== -1"
                                                (change)="checkValue(this, feature.value)" />
                                            <label class="custom-control-label" for="{{feature.value}}">
                                                {{feature.name}}</label>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                        <ng-container *ngIf="!showDefaultPermissions">
                            <ngb-accordion #accDriver="ngbAccordion" [closeOthers]="true">
                                <ngb-panel class="accordian-header" *ngFor="let permission of Permissions; index as i;"
                                    id="toggle-{{i}}" title="{{permission.name}}">
                                    <ng-template ngbPanelContent>
                                        <div class="form-row col-md-12">
                                            <div class="form-group col-md-6 custom-control custom-checkbox"
                                                *ngFor="let feature of permission.features; index as ii;">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="{{feature.value}}"
                                                    [checked]="SelectedPermission!=null&& SelectedPermission.indexOf(feature.value) !== -1"
                                                    (change)="checkValue(this, feature.value)" />
                                                <label class="custom-control-label" for="{{feature.value}}">
                                                    {{feature.name}}</label>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>

        </div>
    </div>
</div>