<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Settings',id:7}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Languages Management</h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.languageCreate)"
            data-toggle="modal" data-target="#manage-language-modal" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Language</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1"
                            *ngIf="!element.isDefault &&  validateFeature(featureConst.languageUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#manage-language-modal">
                            <img src="assets/images/JMS/edit.svg">
                        </a>

                        <a class="cursor col-md-1"
                            *ngIf="!element.isDefault && validateFeature(featureConst.languageDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>

                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="!element.isDefault && validateFeature(featureConst.languageActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="manage-language-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> {{language.id>0? 'Update Language': 'Add Language'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="initList()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> Name <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="language.name" placeholder="Name" />
                            <img class="input-group-prepend" *ngIf="language.name=='' && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="language.name=='' && isSubmitted" class="input-error"> Name is required. </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Language Direction <span class="required">*</span></label>
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="language.direction">
                                <option [value]="0"> ltr</option>
                                <option [value]="1"> rtl</option>
                            </select>
                            <img class="input-group-prepend" *ngIf="language.direction==null && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="language.direction==null && isSubmitted" class="input-error"> Direction is required.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="language.isActive">Active</mat-slide-toggle>
                    </div>

                    <!-- <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="language.isDefault">Default Language</mat-slide-toggle>
                    </div> -->

                    <!-- <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="language.isForDriver">Appears For Driver</mat-slide-toggle>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="language.isForManager">Appears For Manager</mat-slide-toggle>
                    </div> -->
                    <!-- 
                    <div class="form-group  col-md-12">
                       <img class="img-lg" [src]="language.image!=null &&language.image!='' ?createImgPath(language.image): 'assets/images/JMS/upload.svg'" alt="Language Logo" />
                       <br/>
                       <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>