.myJourneyMap {
    height: 175px;
    border-radius: 8px;
    margin: 30px 0;
}

.driverAndTripInfo {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $mainBoxShadow;
    margin-bottom: 30px;
    padding: 15px;
}
.driverAndTripInfo .nameAndDestination {
    margin: 20px 0;
}
.driverAndTripInfo .nameAndDestination h3 {
    color: #4f8db0;
    font-size: 17px;
    font-weight: bold;
}
.driverAndTripInfo .nameAndDestination p {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: bold;
}
.driverAndTripInfo .teamAndPassengers {
    margin: 20px 0;
}
.driverAndTripInfo .teamAndPassengers .key {
    color: #abb6c6;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.driverAndTripInfo .teamAndPassengers .val {
    color: #8f8f8f;
    font-weight: bold;
    font-size: 14px;
}
.driverAndTripInfo .journeyInfo li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.driverAndTripInfo .journeyInfo li.infoWithNoDesc {
    margin: 25px 0;
}
.driverAndTripInfo .journeyInfo li .info h4 {
    color: #8f8f8f;
    font-family: MontserratLight;
    font-weight: bold;
    font-size: 16px;
}
.driverAndTripInfo .journeyInfo li .info p {
    color: #c1cad5;
    font-size: 12px;
    font-weight: bold;
}
.driverAndTripInfo .journeyInfo li button {
    padding: 5px 15px;
    border: 0;
    color: #fff;
    background-color: #17bc9b;
    border-radius: 5px;
}
.driverAndTripInfo .journeyInfo li button.notActive {
    color: #999;
    background-color: #d0d0d0;
}
.cheackInSection {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: $mainBoxShadow;
}
.cheackInSection .infoAndCheckCont {
    border-bottom: 1px solid #ddd;
    padding: 20px 15px;
}
.cheackInSection .infoAndCheckCont .info h3 {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.cheackInSection .infoAndCheckCont .info h3 span {
    color: #17bc9b;
}
.cheackInSection .infoAndCheckCont .info p {
    font-size: 13px;
    line-height: 18px;
    color: #979797;
    margin-top: 10px;
}
.cheackInSection .infoAndCheckCont .checkInBtn {
    border: 2px solid #00adee;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px 5px;
}
.cheackInSection .infoAndCheckCont .checkInBtn p {
    line-height: 15px;
    color: #00adee;
    font-size: 14px;
    font-weight: bold;
}
.cheackInSection .buttonsAndPopUpsCont {
    padding: 15px;
}
.cheackInSection .modalAndBtnCont {
    padding: 0 15px;
    margin: 10px 0;
    width: 50%;
}
.cheackInSection .modalAndBtnCont button {
    width: 80%;
}
@media only screen and (max-width: 500px) {
    .cheackInSection .modalAndBtnCont {
        padding: 0 8px;
        margin: 10px 0;
    }
    .cheackInSection .modalAndBtnCont button {
        width: 100%;
    }
}

.cheackInSection .modalAndBtnCont .modalTrigger,
.cheackInSection .modalAndBtnCont .modalTrigger:visited,
.cheackInSection .modalAndBtnCont .modalTrigger:active,
.cheackInSection .modalAndBtnCont .modalTrigger:focus,
.cheackInSection .modalAndBtnCont .modalTrigger:focus-within {
    height: 100%;
    box-shadow: none !important;
    border: 0 !important;
    border-color: transparent !important;
    border-radius: 8px;
}
.cheackInSection .modalAndBtnCont .modalTrigger.sendLocation {
    background-color: #17bc9b;
}
.cheackInSection .modalAndBtnCont .modalTrigger.statusMessages {
    background-color: #8ec1eb;
}
.cheackInSection .modalAndBtnCont .modalTrigger.sendAlert {
    background-color: #f5a622;
}
.cheackInSection .modalAndBtnCont .modalTrigger.callPhone {
    background-color: #00447d;
}
.cheackInSection .modalAndBtnCont .modalTrigger.pauseJourney {
    background-color: #9eb4c6;
}
.cheackInSection .modalAndBtnCont .modalTrigger.closeJourney {
    background-color: #de4d46;
}
.cheackInSection .modalAndBtnCont .modalTrigger img {
    width: 25px;
    height: 25px;
    margin: 10px 0;
}
.cheackInSection .modalAndBtnCont .modalTrigger p {
    font-size: 12px;
    font-family: MontserratLight;
    font-weight: bold;
    margin-bottom: 5px;
}
