.myRequestsComp {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: $mainBoxShadow;
    padding: 15px;
    .request h3 {
        color: #508db0;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: "MontserratLight", sans-serif;
    }
    .request .info {
        margin: 10px 0;
    }
    .request .info h6 {
        color: #a5b0c2;
        padding: 10px 0;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: "MontserratLight", sans-serif;
    }
    .request .info p {
        font-family: "Segoe UI", Roboto, "Helvetica Neue";
        font-size: 13px;
        color: #555;
    }
    .request .mainButtonStyle {
        margin-top: 0;
    }
}
