table {
  width: 100%;
}
.mainHeadTitle{
  font-size: 16px;
}


.mat-column-name {
  flex: 0 0 50%;
}
.mat-column-status {
  flex: 0 0 50%;
}

.mat-column-actions {
  flex: 0 0 20%;
}

.add-btn{
  width: 107px;
  height: 34px;
  border-radius: 6px;
  background-color: #673bb7;
  color:white;
    position: absolute;
    right: 420px;
    margin: 0;
}
