<div class="Rectangle">
  <div class="d-flex justify-content-between align-items-baseline mt-4">
    <h4 class="Checkpoints">
      Initiate Journey
    </h4>

    <button mat-flat-button color="primary" (click)="onSubmit()" class="Checkpoints d-flex">
      Submit
    </button>
  </div>

  <mat-error *ngIf="isSubmit && errorMsg">
    <span class="text-center star font-weight-bold">{{errorMsg}}</span>
  </mat-error>

  <div class="Rectangle-Copy-3 d-flex">
    <div class="tab d-flex" [class.active]="tab == 1" (click)="tab = 1">
      <span>
        Details
      </span>
    </div>
    <div class="tab d-flex" [class.active]="tab == 2" (click)="tab = 2">
      <span>
        Cargo
      </span>
    </div>
    <div class="tab d-flex" [class.active]="tab == 3" (click)="tab = 3">
      <span>
        Assessment
      </span>
    </div>
  </div>

  <div class="container p-0">
    <form #initJourneyForm="ngForm">

      <div [hidden]="tab != 1">

        <section>
          <div class="input-group mt-17">
            <div class="flex-5">
              <label>Title <span class="star">*</span></label>
              <input type="text" placeholder="Title" class="form-control  m-0" #title="ngModel" name="title"
                [(ngModel)]="journeyForm.title" required>
              <mat-error *ngIf="title.invalid && ( (title.dirty || title.touched) || isSubmit)">
                Please Enter Journey Title
              </mat-error>
            </div>
            <div class="mx-2"></div>
            <div class="flex-5">
              <label>Request Type <span class="star">*</span></label>
              <select type="text" class="form-control  m-0" #requestTypeId="ngModel" name="requestTypeId"
                [(ngModel)]="journeyForm.requestTypeId" required>
                <option selected disabled value="null">Select Request Type*</option>
                <ng-container *ngFor="let type of requests">
                  <option [value]=type.id>{{type.name}}</option>
                </ng-container>
              </select>
              <mat-error
                *ngIf="!journeyForm.requestTypeId  && ( (requestTypeId.dirty || requestTypeId.touched) || isSubmit)">
                Please Select Request type
              </mat-error>
            </div>
          </div>

          <div class="input-space"></div>
          <div class="input-group">
            <div class="flex-5">
              <label>Department <span class="star">*</span></label>
              <select class="form-control m-0" name="departmentId" required #departmentId="ngModel"
                [(ngModel)]="journeyForm.departmentId">
                <option selected disabled value="null">Select Department*</option>
                <ng-container *ngFor="let dep of departments">
                  <option [value]=dep.id>{{dep.name}}</option>
                </ng-container>
              </select>
              <mat-error class="mt-2"
                *ngIf="!journeyForm.departmentId  && ( (departmentId.dirty || departmentId.touched) || isSubmit)">
                Please Select Department
              </mat-error>
            </div>

            <div class="mx-2"></div>
            <div class="flex-5">
              <label>Delivery Date <span class="star">*</span></label>
              <input type="text" placeholder="Delivery Date*" class="form-control"
                onfocus="(this.type='datetime-local')" id="date" #deliveryDate="ngModel" name="deliveryDate"
                [(ngModel)]="journeyForm.deliveryDate" required>

              <mat-error *ngIf="deliveryDate.invalid  && ( (deliveryDate.dirty || deliveryDate.touched) || isSubmit)">
                Please Select Delivery Date
              </mat-error>
            </div>
          </div>

          <div class="input-group row">
            <div class="col-6">
              <label>Emergency Contact</label>
              <input type="number" placeholder="Emergency Contact" class="form-control" name="emergencyContact"
                [(ngModel)]="journeyForm.emergencyContact">
            </div>
            <div class="col-6">
              <label>Purpose</label>
              <input type="text" placeholder="Purpose" class="form-control" name="purpose"
                [(ngModel)]="journeyForm.purpose">
            </div>
          </div>

          <div class="input-group row">
            <div class="flex-5 col-md-6 d-flex">
              <!-- <label>Location from<span class="star">*</span></label> -->
              <select class="form-control" (change)="onLocationSlotChange($event,1)" *ngIf="!isJourneyFromToVisible">
                <option selected [disabled]="!isJourneyFromToVisible" [value]=0>Select zone or location from</option>
                <optgroup label="Zones">
                  <ng-container *ngFor="let zone of zones">
                    <option [value]=zone.id [selected]="journeyForm?.fromZone == zone.id">{{zone.name}}</option>
                  </ng-container>
                </optgroup>

                <optgroup label="Locations">
                  <ng-container *ngFor="let location of locations">
                    <option [value]=location.id [selected]="journeyForm?.fromLocation == location.id">
                      {{location.name}}</option>
                  </ng-container>
                </optgroup>
              </select>

              <select *ngIf="isJourneyFromToVisible" class="form-control" [disabled]="true">
                <option selected value="0">
                  Select zone or location from
                </option>
              </select>

              <mat-error
                *ngIf="(!journeyForm.isMapLocation && journeyForm.fromZone == null && journeyForm.fromLocation == null  && isSubmit)">
                Please Select Journey from
              </mat-error>
            </div>

            <!-- <div class="mx-2"></div> -->
            <div class="flex-5 col-md-6 d-flex">
              <!-- <label>Location to<span class="star">*</span></label> -->
              <select class="form-control" (change)="onLocationSlotChange($event,2)" *ngIf="!isJourneyFromToVisible">
                <option selected [disabled]="!isJourneyFromToVisible" value=0>Select zone or location to</option>
                <optgroup label="Zones">
                  <ng-container *ngFor="let zone of zones">
                    <option [value]=zone.id [selected]="journeyForm?.toZone == zone.id">{{zone.name}}</option>
                  </ng-container>
                </optgroup>

                <optgroup label="Locations">
                  <ng-container *ngFor="let location of locations">
                    <option [value]=location.id [selected]="journeyForm?.toLocation == location.id">{{location.name}}
                    </option>
                  </ng-container>
                </optgroup>
              </select>

              <select *ngIf="isJourneyFromToVisible" class="form-control" [disabled]="true">
                <option selected value="0">
                  Select zone or location to
                </option>
              </select>

              <button mat-icon-button (click)="showHideFromTo()">
                <mat-icon>room</mat-icon>
              </button>
              <mat-error
                *ngIf="(!journeyForm.isMapLocation  && journeyForm.toZone == null && journeyForm.toLocation == null  && isSubmit)">
                Please Select Journey to
              </mat-error>
            </div>

          </div>

          <div class="input-space"></div>
          <div class="input-group ">
            <div class="flex-5">
              <ng-container *ngIf="isJourneyFromToVisible">
                <!-- From Distination -->
                <label>Journey from <span class="star">*</span></label>
                <input type="text" class="form-control bgLight" placeholder="Journey From*" autocorrect="off"
                  autocapitalize="off" spellcheck="false" name="fromDestination" required
                  #fromDestinationInput="ngModel" [(ngModel)]="journeyForm.fromDestination"
                  ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event,'origin')">
                <div
                  *ngIf="fromDestinationInput.invalid && (fromDestinationInput.dirty || fromDestinationInput.touched)">
                  <mat-error *ngIf="fromDestinationInput.errors.required">Please Enter Journey From
                  </mat-error>
                </div>
              </ng-container>
            </div>


            <div class="mx-2"></div>

            <div class="flex-5">
              <ng-container *ngIf="isJourneyFromToVisible">
                <!-- To Distination -->
                <label>Journey to <span class="star">*</span></label>
                <input type="text" class="form-control bgLight" placeholder="Journey To*" autocorrect="off"
                  autocapitalize="off" spellcheck="false" name="toDestination" #toDestinationInput="ngModel" required
                  [(ngModel)]="journeyForm.toDestination" ngx-google-places-autocomplete
                  (onAddressChange)="handleAddressChange($event,'destination')">

                <div *ngIf="toDestinationInput.invalid && (toDestinationInput.dirty || toDestinationInput.touched)">
                  <mat-error *ngIf="toDestinationInput.errors.required">Please Enter Journey To</mat-error>
                </div>
              </ng-container>
            </div>
          </div>
        </section>

        <section class="initiateJourneyMap">
          <agm-map class="map" [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="9"
            (mapReady)="onMapReady($event)">
            <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints"
              [renderOptions]="renderOptions" [optimizeWaypoints]="optimizeWaypoints">
            </agm-direction>
          </agm-map>
        </section>

        <br>

        <section class="checkpoints">
          <div class="d-flex justify-content-between align-items-baseline">
            <p class="Checkpoints">
              Checkpoints
            </p>

            <mat-error *ngIf="checkPointError">
              Please select checkpoint
            </mat-error>

            <button mat-button (click)="addCheckPoint()" class="Checkpoints d-flex">
              <mat-icon>add_circle</mat-icon>
              Checkpoints
            </button>
          </div>

          <div class="overflow-auto">
            <table>
              <tr *ngFor="let point of journeyForm.checkPoints; let i = index">
                <td>
                  <img id="u5169_img" class="img " src="assets/images/icons/ic_arrows.svg">
                </td>

                <td>
                  <div class="with-icon d-flex">
                    <select class="form-control" (change)="onSlotChange($event,i)" *ngIf="!point.IsMapLocation">
                      <option selected disabled value=0>Select zone or location</option>
                      <optgroup label="Zones">
                        <ng-container *ngFor="let zone of zones">
                          <option [value]=zone.id [selected]="point?.zoneId== zone.id">{{zone.name}}</option>
                        </ng-container>
                      </optgroup>

                      <optgroup label="Locations">
                        <ng-container *ngFor="let location of locations">
                          <option [value]=location.id [selected]="point?.locationId== location.id">{{location.name}}
                          </option>
                        </ng-container>
                      </optgroup>
                    </select>

                    <input type="text" class="form-control " placeholder="Enter Checkpoint Address" autocorrect="off"
                      autocapitalize="off" spellcheck="false" name="FromLocation{{i}}"
                      #checkpointAddressInput{{i}}="ngModel" [(ngModel)]="point.FromLocation"
                      [hidden]="!point.IsMapLocation" id="checkpointAddressClass{{i}}">

                    <button mat-icon-button (click)="iniCheckPoint(i);">
                      <mat-icon>room</mat-icon>
                    </button>
                  </div>

                </td>
                <td>
                  <div class="eta">
                    <select class="form-control" name="ETA{{i}}" [(ngModel)]="point.ETA">
                      <option *ngFor="let item of eta" value="{{item.value}}" [selected]="point.ETA == item.value">
                        {{item.title}}
                      </option>
                    </select>
                  </div>
                </td>

                <td>
                  <mat-checkbox name="haveCargo{{i}}" [(ngModel)]="point.haveCargo" (change)="isHaveCargo()"
                    class="example-margin"><span class="mx-15">Have Cargo</span>
                  </mat-checkbox>
                </td>

                <td>
                  <button mat-icon-button class="d-danger" (click)="removeCheckpoint(i)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </td>
              </tr>

            </table>
          </div>
        </section>

        <section class="details">
          <div class="d-flex align-items-baseline flex-column flex-sm-row">
            <div class="col col-md-6">
              <label> Company Vehicle <sup class="text-danger star">*</sup> </label>
              <div class="my-10"></div>
              <mat-radio-group name="isCompanyVehicle" [(ngModel)]="journeyForm.isCompanyVehicle"
                class="d-flex justify-content-between options" aria-label="Select an option"
                (change)="onChangeCompany($event)">

                <mat-radio-button [value]="true" [checked]="journeyForm.isCompanyVehicle">
                  <span>Yes</span>
                </mat-radio-button>

                <mat-radio-button [value]="false">
                  <span>No</span>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col col-md-6">
              <label> Is Night Driving <sup class="text-danger star">*</sup> </label>
              <div class="my-10"></div>
              <mat-radio-group name="isNight" [(ngModel)]="journeyForm.isNight"
                class="d-flex justify-content-between options" aria-label="Select an option">
                <mat-radio-button [value]="true" name="isNight"><span>Yes</span></mat-radio-button>
                <mat-radio-button [value]="false" name="isNight" [checked]="!journeyForm.isNight"><span>No</span>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="my-12"></div>
          <div class="d-flex align-items-baseline flex-column flex-sm-row">

            <span>Vehicle Type <span class="star">*</span></span>
            <select class="form-control" name="vehicleTypeId" [(ngModel)]="journeyForm.vehicleTypeId"
              (change)="onSelectVehicle($event)">
              <option selected disabled="true" value="0">Select Vehicle Type</option>
              <ng-container *ngFor="let vehicle of vehicleTypes">
                <option [value]=vehicle.vehicleId>{{vehicle.vehicleName}}</option>
              </ng-container>
            </select>

            <div class="input-space"></div>
            <div class="col col-md-6" *ngIf="showHideDriver">
              <span>Driver</span>
              <mat-select class="form-control col-5" style="padding-top: 10px;" name="drivers"
                [(ngModel)]="journeyForm.drivers">
                <mat-option selected disabled="true"> Select Driver</mat-option>
                <mat-option *ngFor="let driver of drivers" [value]="driver">
                  {{driver.driverName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <br>

          <div class="d-flex align-items-baseline flex-column flex-sm-row">
            <div class="col col-md-6 pl-0" *ngIf="journeyForm.isCompanyVehicle && !journeyForm.ispajero">
              <span>Vehicle plate no</span>
              <mat-select class="form-control col-5" style="padding-top: 10px;" name="vehicles"
                [(ngModel)]="journeyForm.vehicles" value=0>
                <mat-option disabled="true" value=0> Select vehicle plate no</mat-option>
                <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
                  {{vehicle.vehicleName}}
                </mat-option>
              </mat-select>
            </div>

            <div class="col col-md-6">
              <label>Priority Degree</label>
              <mat-radio-group name="priorityDegree" [(ngModel)]="journeyForm.priorityDegree"
                class="d-flex justify-content-between options" aria-label="Select an option">
                <mat-radio-button value="0" checked> <span>Low</span> </mat-radio-button>
                <mat-radio-button value="1"><span>Medium</span> </mat-radio-button>
                <mat-radio-button value="2"><span>High</span> </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <br>
        </section>
      </div>

      <div [hidden]="tab != 2">
        <div class="d-flex justify-content-between align-items-baseline Assessment-header">
          <p>
            Cargo
          </p>

          <button mat-flat-button color="primary" (click)="addCargo()">Add Cargo</button>
        </div>

        <section class="checkpoints" *ngFor="let cargo of cargos; let cargoIndex = index">
          <div>
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <button mat-button (click)="cargos?.splice(cargoIndex, 1)" class="text-danger">
                  <mat-icon>remove_circle_outline</mat-icon>
                  Remove
                </button>
              </div>
            </div>
            <div class="row">
              <mat-error class="pb-2 pl-4" *ngIf="!isValidPayloadType && isSubmit">
                Please Select Payload type
              </mat-error>
              <div class="d-flex">
                <label class="payload-text">Payload Type <span class="text-danger">*</span></label>
                <div class="d-flex flex-sm-wrap">
                  <ng-container class="row" *ngFor="let payloadType of payloadTypes ; let payloadTypeIndex = index">
                    <mat-checkbox (change)="onChangePayload(payloadType,cargoIndex,$event.checked)"
                      name="{{'payload' + cargoIndex + payloadTypeIndex}}" [value]="payloadType"
                      [checked]="checkPayload(cargoIndex,payloadType)">
                      <span>{{payloadType.name}}</span>
                    </mat-checkbox>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="overflow-auto" *ngIf="cargo.journeyTrucks?.length != 0">
            <div class="d-flex justify-content-between align-items-baseline">
              <p class="Checkpoints"></p>
              <button mat-button (click)="addNewPayload('Goods',cargoIndex)" class="Checkpoints d-flex">
                <mat-icon class="text-green">add</mat-icon>
                Add New
              </button>
            </div>

            <mat-error class="d-flex justify-content-center pb-4" *ngIf="!isValidPayload && isSubmit">
              Please Enter Payload & weight
            </mat-error>
            <div class="d-flex align-items-baseline flex-column flex-sm-row"
              *ngFor="let journeyTruck of cargo.journeyTrucks; let journeyTruckIndex = index">

              <select class="form-control" name="payloadId" [(ngModel)]="journeyTruck.payloadId">
                <option selected disabled value=0> PayLoad *</option>
                <ng-container *ngFor="let payLoad of payLoads">
                  <option [value]=payLoad.id>{{payLoad.name}}</option>
                </ng-container>
              </select>

              <div class="input-space"></div>
              <input type="text" class="form-control" placeholder="Weight" name="weight"
                [(ngModel)]="journeyTruck.weight">
              <button mat-button (click)="cargo.journeyTrucks?.splice(journeyTruckIndex, 1)"
                class="Checkpoints d-flex text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div class="overflow-auto mt-3" *ngIf="hasPeople && cargo.journeyPassengers?.length != 0">

            <div class="d-flex justify-content-between align-items-baseline">
              <strong class="Checkpoints">
                Passengers details
              </strong>

              <mat-error *ngIf="!isValidPeople && isSubmit">
                Please Enter Full Name & Contact Number
              </mat-error>

              <button mat-button (click)="addNewPayload('People',cargoIndex)" class="Checkpoints d-flex">
                <mat-icon class="text-green">add</mat-icon>
                Add New
              </button>
            </div>

            <table class="table" *ngIf="cargo.journeyPassengers?.length != 0">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Contact No</th>
                  <th>Actions</th>
                </tr>

                <tr *ngFor="let p of cargo.journeyPassengers; let i = index">
                  <ng-container *ngIf="edit != i; else editMode">
                    <td>
                      {{ p.fullName }}
                    </td>
                    <td>
                      {{ p.contactNumber }}
                    </td>

                  </ng-container>
                  <ng-template #editMode>
                    <td>
                      <input type="text" [(ngModel)]=" p.fullName" name="fullName{{i}}"
                        (ngModelChange)="onAddPeopleRow(cargoIndex,i,p)" class="form-control" #fullName="ngModel"
                        required>
                      <mat-error *ngIf="fullName.invalid && ( (fullName.dirty || fullName.touched) || isSubmit)">
                        Please Enter Full Name
                      </mat-error>
                    </td>
                    <td>
                      <input type="number" [(ngModel)]="p.contactNumber" name="contactNo{{i}}"
                        (ngModelChange)="onAddPeopleRow(cargoIndex,i,p)" class="form-control" #contactNo="ngModel"
                        required>
                      <mat-error *ngIf="contactNo.invalid && ( (contactNo.dirty || contactNo.touched) || isSubmit)">
                        Please Enter Contact No
                      </mat-error>
                    </td>

                  </ng-template>
                  <td class="text-center">
                    <button mat-icon-button (click)="edit == i? edit = null : edit = i">
                      <svg *ngIf="edit != i" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <g>
                          <path
                            d="M16.572 11.223c-.247 0-.447.2-.447.447v3.97c-.001.741-.601 1.341-1.342 1.342H2.236c-.74 0-1.34-.6-1.342-1.341V3.988c.001-.74.601-1.341 1.342-1.342h3.97c.247 0 .448-.2.448-.447s-.2-.447-.448-.447h-3.97C1.002 1.753 0 2.753 0 3.988V15.64c.001 1.234 1.002 2.234 2.236 2.236h12.547c1.235-.002 2.235-1.002 2.236-2.236v-3.97c0-.248-.2-.448-.447-.448z" />
                          <path
                            d="M16.842.601c-.786-.786-2.06-.786-2.846 0L6.018 8.58c-.054.055-.094.122-.115.197l-1.049 3.787c-.043.156.001.322.115.436.114.114.28.158.436.115l3.787-1.05c.075-.02.142-.06.197-.114l7.978-7.978c.784-.787.784-2.06 0-2.846L16.842.6zM6.992 8.87l6.53-6.53 2.106 2.106-6.53 6.53L6.993 8.87zm-.42.844l1.682 1.682-2.327.645.645-2.327zm10.162-6.375l-.474.475-2.106-2.106.475-.475c.436-.436 1.144-.436 1.58 0l.525.525c.436.437.436 1.144 0 1.581z" />
                        </g>
                      </svg>

                      <svg *ngIf="edit == i" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check"
                        fill="#28a745" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                      </svg>
                    </button>
                    <button mat-icon-button (click)="cargo.journeyPassengers?.splice(i, 1)" class="text-danger">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </thead>
            </table>
          </div>

        </section>

      </div>

      <div [hidden]="tab != 3">
        <div class="d-flex justify-content-between align-items-baseline Assessment-header">
          <p>
            Assessment
          </p>

          <mat-error *ngIf="!isValidAssessment" class="star">
            Please enter valid assessment's data
          </mat-error>
          <button mat-flat-button color="primary" type="button" (click)="addAssessment()">Add Assessment</button>
        </div>

        <div class="overflow-auto" *ngIf="journeyAssessments.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Timing</th>
                <th>Category</th>
                <th>Assessment Name</th>
                <th>Actions</th>
              </tr>

              <tr *ngFor="let journeyAssessment of journeyAssessments; let journeyAssessmentIndex = index">
                <td>
                  <select class="form-control" [name]="'assessmentTiming'+ journeyAssessmentIndex"
                    [(ngModel)]="journeyAssessment.assessmentTiming">
                    <option value=null>Please Select</option>
                    <option value=0>PreTrip</option>
                    <option value=1>CheckPoint</option>
                    <option value=2>AddingCargo</option>
                    <option value=3>PostTrip</option>
                  </select>
                </td>

                <td>
                  <select class="form-control" [name]="'assessmentCategoryId'+ journeyAssessmentIndex"
                    [(ngModel)]="journeyAssessment.assessmentCategoryId"
                    (change)="getAssessmentByCategory(journeyAssessment.assessmentCategoryId, journeyAssessmentIndex)">
                    <option selected value=0>select category</option>
                    <ng-container *ngFor="let category of assessmentCategories ; let categoryIndex = index">
                      <option [value]="category.id">{{category.name}}</option>
                    </ng-container>
                  </select>
                </td>
                <td>

                  <select class="form-control" [name]="'assessmentId' + journeyAssessmentIndex"
                    [(ngModel)]="journeyAssessment.assessmentId">
                    <option selected disabled value=0>Assessment Name</option>
                    <ng-container *ngFor="let assessment of assessments[journeyAssessment.assessmentCategoryId]">
                      <option [value]="assessment.id">{{assessment.name}}</option>
                    </ng-container>
                  </select>
                </td>
                <td>
                  <button mat-icon-button (click)="removeAssessment(journeyAssessment)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>