.Rectangle-Copy {
  padding-left: 42px;
  padding-right: 54px;
  height: 87px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
}

.open-menu {
  width: 26px;
  height: 18px;
  object-fit: contain;
}

.uk-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  margin: 0 7px;
}

.-notification {
  width: 20px;
  height: 24px;
  object-fit: contain;
}

.Rectangle {
  min-height: 100%;
  background-color: #eefcff;
}

.Intiate-Journey {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
  margin-top: 29px;
}

.container {
  padding: 0 43px;
}

.tab {
  flex: 1 1 auto;
  justify-content: center;
  span {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    display: flex;
    align-items: center;
  }
}

.tab:hover:not(.active) {
  cursor: pointer;
  background-color: #efefef;
}

.Rectangle-Copy-3 {
  margin-top: 18px;
  height: 48px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;

  .active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #559ddf;
    color: #ffffff;
  }
}

.form-control {
  height: 42px;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16294c;
  padding: 0 24px;
}
select.form-control {
  height: 44px;
}
.input-group {
  display: flex;
  flex-direction: column;
  @media (min-width: 576px) {
    -ms-flex-direction: row !important;
    flex-direction: row;
  }
  input,
  select,
  textarea,
  span,
  div.with-icon {
    flex: 1 1;
    flex-shrink: 0;
  }
  div.with-icon {
    display: flex;
    align-items: center;
  }
}
.mt-17 {
  margin-top: 17px;
}
.input-space {
  padding: 4px 11px;
}

.location-icon {
  width: 15px;
  height: 23px;
  object-fit: contain;
}

.map {
  height: 400px;
  margin-top: 11px;
  background: #ffffff;
}

.checkpoints {
  margin-top: 10px;
  padding: 22px 15px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  .add-icon {
    width: 20px;
    height: 20px;
    margin: 0 12px;
    object-fit: contain;
  }
  p.Checkpoints {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
  }
  table {
    text-align: center;
    min-width: 760px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 1px #979797;
    td {
      border: solid 1px #979797;
      padding: 8px 14px;
      div.with-icon {
        align-items: center;
        select {
          width: 100%;
        }
      }
      div.eta {
        display: flex;
        align-items: center;
        width: 166px;
        span {
          width: 50px;
        }
        select {
          width: 100%;
        }
      }
    }
    td.padding-end-0 {
      padding-inline-end: 0;
    }
  }
}

label {
  color: #16294c;
}

label {
  font-size: 16px;
  min-width: 180px;
  color: #16294c;
  margin-left: 5px;
}
span {
  font-size: 16px;
  color: #16294c;
  margin-right: 15px;
  min-width: fit-content;
}

.details {
  min-height: 384px;
}
section.details {
  margin-top: 38px;

  .options {
    min-width: 170px;
    width: 240px;
    max-width: 100%;
  }
  select {
    min-width: auto;
    width: 459px;
    max-width: 100%;
  }
  span.periorty {
    margin-left: 37px;
    margin-right: 3px;
  }
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-sm-row {
  @media (min-width: 576px) {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.mx-15 {
  margin: 0 15px;
}
.overflow-auto {
  overflow: auto;
}

.d-flex {
  display: flex;
}

.align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline;
}
.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.my-10 {
  margin: 10px 0;
}

.my-12 {
  margin: 12px 0;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.Assessment-header {
  margin-top: 21px;
  margin-bottom: 24px;
  p {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
  }
}
.table {
  text-align: center;
  min-width: 760px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #979797;
  background: #ffffff;
  td,
  th {
    border: solid 1px #979797;
    padding: 8px 14px;
  }
}

.text-danger {
  color: red !important;
}

.days {
  max-width: 500px;
}

.cargo-details {
  width: 940px;
  height: 233px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.d-danger {
  color: #d0021b;
}

.dms-label-color {
  background-color: #ffffff;
}

.flex-5 {
  min-width: 49%;
}

input {
  border-radius: 6px !important;
  border: solid 1px #979797 !important;
  background-color: white !important;
  padding-left: 10px !important;
}

.star {
  color: red;
  font-size: larger;
}

.text-danger {
  color: #d0021b !important;
}

.text-green {
  color: #7ed321;
}
.payload-text {
  padding-left: 20px;
  min-width: 160px;
  font-size: 18px;
  font-weight: normal;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}