<section id="forgotPasswordFormSection">
    <section class="formWrapper">
        <h2>Forgot Password</h2>
        <p class="forgotPasswordPolicy">
            Enter your email to receive instruction on how to reset your password
        </p>
        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_user.svg">
                    </span>
                </div>
                <input type="email" class="form-control" placeholder="Email Address" aria-label="EmailAddress"
                    formControlName="username"
                    [ngClass]="{ 'is-invalid': (submitted || (f.username.touched || f.username.dirty)) && f.username.errors }">
                <div *ngIf="(submitted || (f.username.touched || f.username.dirty)) && f.username.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Email is required</div>
                    <div *ngIf="f.username.errors.email">Email format is not valid</div>

                </div>
            </div>

            <button type="submit">
                Submit
            </button>
        </form>
        <div class="d-flex justify-content-end">
            <a class="back-login-btn" routerLink="/login">
                Back to Sign in</a>
        </div>
    </section>
</section>