<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Settings',id:7}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-9">Shifts Management</h2>
        <a class="btn btn-info page-add-new col-md-3" *ngIf="validateFeature(featureConst.shiftCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Shift</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="startTime">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Start time </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.startTime  | date:'h:mm a'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> End time </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.endTime  | date:'h:mm a'}} </td>
            </ng-container>
            <ng-container matColumnDef="isNightDriving">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Night Driving </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isNightDriving? 'Yes': 'No'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.shiftUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.shiftDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="validateFeature(featureConst.shiftActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> {{shift.id>0? 'Update Shift': 'Add Shift'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> Start time <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="time" class="form-control" [(ngModel)]="shift.fromTime"
                                pattern="[0-9]{2}:[0-9]{2}" placeholder="Start time" />
                            <img class="input-group-prepend" *ngIf="shift.startTime==null && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="shift.startTime==null && isSubmitted" class="input-error"> Start time is required.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> End time <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="time" class="form-control" [(ngModel)]="shift.toTime"
                                pattern="[0-9]{2}:[0-9]{2}" placeholder="End time" />
                            <img class="input-group-prepend" *ngIf="shift.endTime==null && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="shift.endTime==null && isSubmitted" class="input-error"> End time is required.
                        </div>
                    </div>
                    <div *ngIf="shift.endTime==shift.startTime && isSubmitted" class="input-error col-md-12"> End time
                        can't equal to Start time. </div>

                    <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="shift.isNightDriving">Night Driving
                        </mat-slide-toggle>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="shift.isActive">Active</mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>