.table {
    text-align: center;
    min-width: 760px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 1px #979797;
    background: #ffffff;
    margin-bottom: 10%;
    td,
    th {
        border: solid 1px #979797;
        padding: 8px 14px;
    }
}

.form-control:disabled {
    background-color: white;
}

.form-control {
    height: 42px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
    font-size: 16px;
    color: #16294c;
    padding: 0 35px;
}

.Assessment-header {
    margin-top: 21px;
    margin-bottom: 24px;
    p {
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--black);
    }
}

.add {
    margin-top: 10px;
    padding: 22px 15px;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.blue {
    background-color: #4a90e2;
}
.d-danger {
    color: #d0021b;
}

.save-btn {
    background-color: rgb(5, 141, 5);
}
.invalid-text {
    font-size: 16px;
}
.eta-time {
    padding: unset !important;
    width: 100px;
}
