<!-- Communication Points -->
<div class="d-flex justify-content-between align-items-baseline Assessment-header">
    <p>
        Communication Points
    </p>
    <div *ngIf="isAllowedToAddUpdateCommunicationPoint" class="d-flex justify-content-around">
        <button mat-flat-button class="blue mr-2" color="primary" type="button" (click)="add()"
            [disabled]="!isAllowedToAddUpdateCommunicationPoint">Add</button>
        <button *ngIf="showSaveButton" mat-flat-button class="save-btn" color="primary" type="button" (click)="save()"
            [disabled]="!isAllowedToAddUpdateCommunicationPoint || form.pristine ">Save</button>
    </div>

</div>

<form #form="ngForm">
    <p class="text-center">
        <mat-error *ngIf="!validPoints && isSubmit">
            Please fill Communication points
        </mat-error>
    </p>

    <table class="table" *ngIf="points?.length > 0">
        <thead>
            <tr>
                <th>Locations</th>
                <th>Notify Driver every</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let point of points; let i = index; trackBy: trackByFn">
                <td>
                    <div class="row pl-3">
                        <div class="col-md-5">
                            <select class="form-control" name="from{{i}}" [(ngModel)]="point.checkpointFromId"
                                [disabled]="!point.allowUpdateDeleteAction" #checkpointFromId="ngModel"
                                [ngClass]="{'is-invalid':checkpointFromId.invalid &&(checkpointFromId.dirty || checkpointFromId.touched)}"
                                (ngModelChange)="setLocationFrom(point)" required>
                                <option [value]="0" disabled>Select location from</option>
                                <ng-container *ngFor="let location of locations">
                                    <option *ngIf="location.isFromLocation || location.isChecPointLocation"
                                        [value]="location.locationId">
                                        {{location.locationName}}</option>
                                </ng-container>
                            </select>

                            <div *ngIf="checkpointFromId.errors" class="invalid-feedback">
                                <div *ngIf="checkpointFromId.errors.required" class="invalid-text">from location is
                                    required
                                </div>
                            </div>
                        </div>

                        <span class="col-md-1 pt-2 text-center">
                            To
                        </span>
                        <div class="col-md-5">
                            <select class="form-control" name="to{{i}}" [(ngModel)]="point.checkpointToId"
                                [disabled]="!point.allowUpdateDeleteAction" #checkpointToId="ngModel"
                                [ngClass]="{'is-invalid':checkpointToId.invalid &&(checkpointToId.dirty || checkpointToId.touched)}"
                                (ngModelChange)="setLocationTo(point)" required>
                                <option [value]="0" disabled>Select location to</option>
                                <ng-container *ngFor="let location of locations">
                                    <option *ngIf="!location.isFromLocation || location.isChecPointLocation"
                                        [value]="location.locationId">
                                        {{location.locationName}}</option>
                                </ng-container>
                            </select>

                            <div *ngIf="checkpointToId.errors" class="invalid-feedback">
                                <div *ngIf="checkpointToId.errors.required" class="invalid-text">to location is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <select class="form-control eta-time" name="ETA{{i}}" [(ngModel)]="selectedEtas[i]" #eta="ngModel"
                        [disabled]="!point.allowUpdateDeleteAction"
                        [ngClass]="{'is-invalid':eta.invalid &&(eta.dirty || eta.touched)}"
                        (ngModelChange)="setDuration(point,$event)" required>
                        <option *ngFor="let eta of etaListUnits" [value]="eta.id" [disabled]="eta.value == '0'">
                            {{eta.title}}</option>
                    </select>

                    <div *ngIf="eta.errors" class="invalid-feedback">
                        <div *ngIf="eta.errors.required" class="invalid-text">ETA is required</div>
                    </div>
                </td>

                <td>
                    <button [disabled]="!point.allowUpdateDeleteAction" mat-button class="d-danger" (click)="remove(i)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<!-- End Communication Points -->