<!--<div class="mobileContainer initiateJourney">
    <h2 class="text-center mainHeadSection">Complete Journey Info</h2>

    <form #initJourneyForm="ngForm" ngNativeValidate>
        <div class="initiateJourney">
            <app-initiate-journey></app-initiate-journey>
            <ul class="collapsible expandable">
              
                
                <li class="active">
                    <div class="collapsible-header">
                        <p>Add Journey Assessment</p>
                        <img src="../../assets/images/Jms_assets/ic_right_arrow.svg">
                    </div>
                    <div class="collapsible-body">
                        <div class="addAssessment">
                            <div class="row">
                                <div class="col-9 questionCont">
                                    <div class="question">
                                        is the cargo & lifting equipment / gears in good condition
                                    </div>
                                </div>
                                <div class="col-3">
                                    <ul class="actions">
                                        <li>
                                            <img src="../../assets/images/assets_icons/pencil-edit-button.svg">
                                        </li>
                                        <li>
                                            <img src="../../assets/images/assets_icons/rubbish-bin.svg">
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <button class="submitAssessment">
                            <img src="../../assets/images/Jms_assets/ic_plus.svg">
                            <span>Add more assessment</span>
                        </button>
                    </div>
                </li>
                
                
                <li class="active">
                    <div class="collapsible-header">
                        <p>Add Vehicle Assessment</p>
                        <img src="../../assets/images/Jms_assets/ic_right_arrow.svg">
                    </div>
                    <div class="collapsible-body">
                        <div class="addAssessment">
                            <div class="row">
                                <div class="col-9 questionCont">
                                    <div class="question">
                                        is the cargo & lifting equipment / gears in good condition
                                    </div>
                                </div>
                                <div class="col-3">
                                    <ul class="actions">
                                        <li>
                                            <img src="../../assets/images/assets_icons/pencil-edit-button.svg">
                                        </li>
                                        <li>
                                            <img src="../../assets/images/assets_icons/rubbish-bin.svg">
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="addAssessment">
                            <div class="row">
                                <div class="col-9 questionCont">
                                    <div class="question">
                                        is the cargo & lifting equipment / gears in good condition
                                    </div>
                                </div>
                                <div class="col-3">
                                    <ul class="actions">
                                        <li>
                                            <img src="../../assets/images/assets_icons/pencil-edit-button.svg">
                                        </li>
                                        <li>
                                            <img src="../../assets/images/assets_icons/rubbish-bin.svg">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button class="submitAssessment">
                            <img src="../../assets/images/Jms_assets/ic_plus.svg">
                            <span>Add more assessment</span>
                        </button>
                    </div>
                </li>
                
            </ul>

            
            <button class="sumbitToInitiate" (click)="submitForm(initJourneyForm)">
                Submit Journey
            </button>

            

        </div>

    </form>

</div>
-->