<div class="form-group" style="margin:2px 0px;">
  <div>
    <input type="file" #file accept="image/*" placeholder="Choose file" (change)="uploadFile(file.files, $event)"
      style="display:none;">
    <button type="button" class="btn btn-primary" (click)="file.click()">Upload</button>
    <span class="upload" *ngIf="progress > 0 && showDetails">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message && showDetails">
      {{message}}
    </span>
  </div>
</div>