<div mat-dialog-title class="d-flex justify-content-between">
  <h5>Merge Journeys</h5>
  <!--tabindex to remove focus from close button-->
</div>
<div class="line" class="mb-4">
  <mat-divider></mat-divider>
</div>
<div mat-dialog-content>
  <p>You want to merge journey(s) for</p>
  <div class="d-flex justify-content-between">
    <span>driver : {{mergedJourneys[0].driver}}</span>
    <span>Vehicle plate no : {{mergedJourneys[0].vehiclePlateNo}}</span>
  </div>
  <div class="mt-3">
    <p>Please arrange the journeys priorities</p>
  </div>
  <div class="dragging-table">
    <div cdkDropList class="example-list" #dropList="cdkDropList" (cdkDropListDropped)="drop($event)">
      <div class="d-flex drag-row" *ngFor="let journey of mergedJourneys; let i = index" cdkDrag cdkDragPreview>
        <div class="journey-drag-drop-icon d-flex justify-content-center align-items-center">
          <img cdkDragHandle src="assets/images/JMS/move.svg">
        </div>
        <div class="journey-title-status">
          <span>{{journey.title}}</span>
          <p>Status: {{journey.status}}</p>
        </div>
        <div class="delete-container d-flex justify-content-end">
          <button *ngIf="journey.status!= 'PendingOnDriverPreAssessment'" mat-raised-button class="hold-btn"
            (click)="setJourneyOnHold(journey,i)" [disabled]="journey.isHold">On-hold</button>
          <img src="assets/images/JMS/delete.svg" (click)="delete(i)">
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="footer-btns">
  <button class="mat-raised-button submit-btn" (click)="submit()">Submit</button>
  <button class="mat-raised-button cancel-btn " (click)="close()">Cancel</button>
</div>