@import "./../../../shared/scss/variables";

.line {
    flex: 1;
    width: 716px;
    height: 1px;
    background-color: #d8d8d8;
}
.dragging-table {
    width: 651px;
    height: 348px;
    background-color: #f9f9f9;
}
.example-list {
    overflow: hidden;
    display: block;
}
.drag-row {
    border-bottom: 1px solid #d8d8d8;
    padding-top: 10px;
    .journey-title-status {
        padding-left: 10px;
        width: 400px;
    }
    .journey-drag-drop-icon {
        border-right: 1px solid #d8d8d8;
        width: 95px;
        height: 63px;
        img {
            width: 24px;
            height: 24px;
            color: #455a64;
            cursor: move;
        }
    }
    .delete-container {
        width: 150px;
        padding-right: 10px;
        img {
            width: 15px;
            height: 19px;
            object-fit: contain;
            cursor: pointer;
        }
    }
}
.hold-btn {
    font-family: SFProDisplay-Medium;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    color: #ffffff;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    background-color: #f5a623;
    margin-right: 30px;
}
.footer-btns {
    display: flex;
    justify-content: space-around;
    float: right;
    margin: 5px 0;
    button {
        margin-left: 15px;
        width: 141px;
        height: 48px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
}
.cancel-btn {
    color: $red-color;
    background-color: $white-color;
}
.submit-btn {
    background-color: $green-color;
    color: $white-color;
}
.cdk-drag-preview {
    // z-index: 99999999999 !important;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-list.cdk-drop-list-dragging .drag-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }