.outerCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #4a90e2 70%, rgb(206 224 247) 30%);
}

.innerCircle img {
    width: 80px;
    margin-top: 15px;
}

.editDv {
    height: 35%;
    padding-top: 8%;
    font-size: 20px;
}
.Edit {
    width: 24px;
    height: 16px;
    font-family: SFProDisplay-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    cursor: pointer;
}
