<div id="secondtDiv" name="secondDiv"
class="secondDiv row form-row col  justify-content-center align-items-center ">
<div class="outerCircle">
    <div class="innerCircle">
        <img [src]="profileImg? createImgPath(profileImg):'assets/images/JMS/user.svg'">
    </div>
    <div class="editDv">
        <a (click)="openUserUplaodModal()" class="Edit"> Edit</a>
    </div>
</div>
</div>