<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Settings',id:7}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Locations Management</h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.locationCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Location</span>
        </a>
    </div>
    <div class="row form-row" [hidden]="showForm">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.locationUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.locationDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="validateFeature(featureConst.locationActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div [hidden]="showForm">
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>


<div class="modal-content" [hidden]="!showForm">
    <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"> {{location.id>0? 'Update Location': 'Add Location'}}</h5>
        <button id="bntClose" type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row form-row">
            <div class="form-group col-md-12">
                <label>Location address</label>
                <div class="input-group mainInputComp">
                    <input type="text" class="form-control" placeholder="Search for Checkpoint" autocorrect="off"
                        autocapitalize="off" spellcheck="off" [(ngModel)]="location.locationAddress" #search id="search"
                        mdbInput />
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <img src="../../assets/images/Jms_assets/ic_pin.svg">
                        </span>
                        <img class="input-group-prepend" *ngIf="location.locationAddress=='' && isSubmitted"
                            src="assets/images/JMS/input-error.svg" />
                    </div>
                    <div *ngIf="location.locationAddress=='' && isSubmitted" class="input-error">Location is
                        required</div>
                </div>
                <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom" #map
                    [mapTypeId]="'terrain'">
                    <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"
                        [markerDraggable]="false"></agm-marker>
                </agm-map>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="inputDefault"> Lat/Long</label>
                <div class="input-group">
                    <input type="number" class="form-control" [(ngModel)]="location.latitude" placeholder="Latitude" />
                    <img class="input-group-prepend" *ngIf="location.latitude==null && isSubmitted"
                        src="assets/images/JMS/input-error.svg" />
                </div>
                <div *ngIf="location.latitude==null && isSubmitted" class="input-error">Latitude is required
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label" for="inputDefault">&nbsp;</label>
                <div class="input-group">
                    <input type="number" class="form-control" [(ngModel)]="location.longitude"
                        placeholder="Longitude" />
                    <img class="input-group-prepend" *ngIf="location.longitude==null && isSubmitted"
                        src="assets/images/JMS/input-error.svg" />
                </div>
                <div *ngIf="location.longitude==null && isSubmitted" class="input-error">Longitude is required
                </div>
            </div>
            <div class="form-group col-md-12">
                <mat-slide-toggle color="primary" [(ngModel)]="location.isActive">Active</mat-slide-toggle>
            </div>
            <div class="form-group col-md-12" style="overflow: auto; max-height: 500px;">
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                    <ngb-panel *ngFor="let locationLocalization of location.locationLocalizations; index as i;"
                        id="toggle-{{i}}" title="{{locationLocalization.languageName}}">
                        <ng-template ngbPanelContent>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="col-form-label" for="inputDefault"> Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" [(ngModel)]="locationLocalization.name"
                                            placeholder="Name" />
                                        <img class="input-group-prepend"
                                            *ngIf="locationLocalization.name=='' && isSubmitted"
                                            src="assets/images/JMS/input-error.svg" />
                                    </div>
                                    <div *ngIf="locationLocalization.name=='' && isSubmitted" class="input-error">Name
                                        is required</div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-form-label" for="inputDescriptionDefault">
                                        Description</label>
                                    <textarea type="text" [ngClass]="{'form-control':true}"
                                        [(ngModel)]="locationLocalization.description"></textarea>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
    </div>
</div>