@import "./../../../../shared/scss/variables";

.submit-btn {
    font-size: 14px;
    width: 550px;
    height: 45px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $green-color;
}
.input-reason {
    width: 540px;
    height: 105px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
    padding-left: 20px;

    &::placeholder{
        font-weight: 500;
        font-size: 16px;
        color: #16294c;
    }
}