<div mat-dialog-title class="d-flex justify-content-between">
  <h5>{{title}}</h5>
  <!--tabindex to remove focus from close button-->
  <button tabindex="-1" class="close" (click)="close()">&times;</button>
</div>

<div mat-dialog-content>
  <textarea name="reason" [(ngModel)]="rejectReason" #reason="ngModel" class="form-control input-reason"
    [placeholder]="placeholder" required></textarea>
</div>

<mat-error *ngIf="reason.invalid && ( (reason.dirty || reason.touched) ||isSubmit)">
  Please Enter Your Reason
</mat-error>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" class="submit-btn" (click)="submit()">Submit</button>
</div>