<div class="container">
    <div class="row form-row">
        <h2 class="page-title col-md-10"></h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.assessmentCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Assessment</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Assessment Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.assessmentUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.assessmentDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="validateFeature(featureConst.assessmentActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>



<div class="modal fade bd-example-modal-lg" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true" style="z-index: -1;" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> {{assessment.id>0? 'Update Assessment': 'Add Assessment'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <!-- <label class="col-form-label">Assessment Category</label> -->
                        <div class="input-group">
                            <select class="form-control select-box" [(ngModel)]="assessment.assessmentCategoryId"
                                [ngClass]="{'is-invalid':category.invalid &&(category.touched || category.dirty)}"
                                (change)="changeAssessmentCategory()" #category="ngModel" required>
                                <option value="null" class="text-medium" selected disabled>Category</option>
                                <option *ngFor="let item of assessmentCategories" value="{{item.id}}">{{item.name}}
                                </option>
                            </select>
                            <label for=""><span class="required-select">*</span></label>
                            <!-- <img class="input-group-prepend"
                                *ngIf="assessment.assessmentCategoryId==null  && isSubmitted"
                                src="assets/images/JMS/input-error.svg" /> -->
                        </div>
                        <div *ngIf="assessment.assessmentCategoryId==null && isSubmitted" class="input-error">Assessment
                            Category is required</div>
                    </div>
                    <div class="form-group col-md-6 timing-container">
                        <div class="">
                            <label class="col-form-label text-medium">Timing <span
                                    class="required-select">*</span></label>

                        </div>
                        <div class="timing-options">
                            <div class=" custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="isPreTrip"
                                    [checked]="assessment.isPreTrip"
                                    (change)="checkValue('isPreTrip', $event.target.checked)" />
                                <label class="custom-control-label" for="isPreTrip"> Pre-Trip</label>
                            </div>
                            <div class=" custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="isCheckPoint"
                                    [checked]="assessment.isCheckPoint"
                                    (change)="checkValue('isCheckPoint', $event.target.checked)" />
                                <label class="custom-control-label" for="isCheckPoint"> Checkpoint</label>
                            </div>
                            <div class=" custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="isCargoList"
                                    [checked]="assessment.isCargoList"
                                    (change)="checkValue('isCargoList', $event.target.checked)" />
                                <label class="custom-control-label" for="isCargoList"> Adding Cargo</label>
                            </div>
                            <div class=" custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="isPostTrip"
                                    [checked]="assessment.isPostTrip"
                                    (change)="checkValue('isPostTrip', $event.target.checked)" />
                                <label class="custom-control-label" for="isPostTrip"> Post-Trip</label>
                            </div>
                        </div>

                        <div *ngIf="!assessment.isAllowUploadingImage && !assessment.isCheckPoint &&  !assessment.isDefaultInAnyJourney &&
                        !assessment.isPostTrip &&  !assessment.isCargoList
                        &&  !assessment.isPreTrip && isSubmitted" class="input-error">
                            Timing is required</div>
                    </div>
                </div>
                <div class="form-row checks-container">
                    <div class="form-group col-md-6">
                        <mat-slide-toggle color="primary" [(ngModel)]="assessment.isDefaultInAnyJourney">Default in all
                            created journeys</mat-slide-toggle>
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <mat-slide-toggle color="primary" [(ngModel)]="assessment.isActive">Active
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-6" *ngIf="false">
                            <mat-slide-toggle color="primary" [(ngModel)]="assessment.isAllowUploadingImage">Allow to upload images</mat-slide-toggle>
                        </div> -->
                </div>
                <div>
                    <div class="form-group" style="overflow: auto; max-height: 500px;">
                        <ngb-accordion class="languages-accordian" #acc="ngbAccordion" [closeOthers]="true">
                            <ngb-panel
                                *ngFor="let assessmentLocalization of assessment.assessmentLocalizations; index as i;"
                                id="toggle-{{i}}" title="{{assessmentLocalization.languageName}}">
                                <ng-template ngbPanelContent>
                                    <app-assessment-localization-questions
                                        [assessmentLocalization]="assessmentLocalization"
                                        [assessmentRisks]="assessment.assessmentRisks" [isSubmitted]="isSubmitted"
                                        [isAutomaticRisk]="isAutomaticRisk" [assessment]="assessment">
                                    </app-assessment-localization-questions>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>