.floatLeft {
  float: left;
}
.right {
  float: right;
}

.example-list {
  /* max-width: 100%;
    margin: 10px;
    border: solid 1px #ccc; */
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.timing-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.timing-options {
  display: flex;
  justify-content: space-between;
}
.checks-container {
  display: flex;
  text-align: left;
}
.modal-title {
  font-family: SFProDisplay-Semibold;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.select-box {
  height: 48px;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #ffffff;
}
.text-medium {
  font-family: SFProDisplay-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.text-regular {
  font-family: SFProDisplay-Regular;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.timing-options label {
  font-family: SFProDisplay-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}
.required-select {
  color: #d0021b;
  font-size: 18px;
  margin-left: 3px;
}
.modal-body label,
.input-error {
  float: left !important;
}

.input-astrek::-webkit-input-placeholder:after {
  content: "*";
  color: #d0021b;
  font-size: 1.15em;
}

.input-astrek::-moz-placeholder:after {
  content: "*";
  color: #d0021b;
  font-size: 1.15em;
}
.input-astrek:-ms-input-placeholder:after {
  content: "*";
  color: #d0021b;
  font-size: 1.15em;
}
.required-asteric {
  color: red;
}
