/* You can add global styles to this file, and also import other style files */

@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import "~normalize.css";
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/sass/variables";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal {
    background: rgb(0 0 0 / 0.5) !important;
    max-height: 100% !important;
    height: 100% !important;
    z-index: -999;
}

.modal-backdrop {
    top: 0;
    left: 0;
    z-index: -999;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal.fade {
    z-index: 10000 !important;
}

.cheackInSection .modalAndBtnCont .close {
    width: inherit !important;
}

@media only screen and (max-width: 500px) {
    .cheackInSection .modalAndBtnCont .close {
        width: inherit !important;
    }
}

agm-map {
    height: 300px;
}

.sumbitToInitiate {
    width: 100% !important;
}

.upload-image-wrapper {
    position: relative;
    display: inline-block;
}

.btn-floating-tr {
    position: absolute;
    font-size: 22px;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    text-shadow: 1px 1px 4px #080808;
    cursor: pointer;
}

.text-danger {
    color: red;
}

.swal2-container {
    z-index: 90200 !important;
}

.multiselect-dropdown .dropdown-btn {
    border: none !important;
    padding: 0 !important;
}

.mobileContainer {
    margin: 0 25px;
}

.mainContainer {
    max-width: 990px;
    margin: auto;
}

@font-face {
    font-family: lato;
    src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(./assets/fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: MontserratLight;
    src: url(./assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: lato;
    src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(./assets/fonts/Quicksand-Regular.otf);
}

.logoNav {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    height: auto;
}

.logoNav img {
    width: 157px;
    height: 56px;
}

.menuAndNotificationNav {
    background-color: #fff;
    height: auto;
    padding: 10px 0;
    line-height: 1px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menuAndNotificationNav a {
    display: block;
}

.menuAndNotificationNav h2 {
    color: #494949;
    font-size: 20px;
    font-family: "lato";
    margin: 16px 0;
    font-weight: bold;
}

.menuAndNotificationNav a.sidenav-trigger {
    position: static;
    float: none;
    height: auto;
    margin: 0;
    z-index: auto;
    display: block !important;
}

.menuAndNotificationNav a.sidenav-trigger img {
    border-radius: 5px;
}

.notificationsNumberNavIcon {
    position: relative;
}

.notificationsNumberNavIcon .notificationsNumber {
    position: absolute;
    bottom: 3px;
    right: -6px;
}

.notificationsNumberNavIcon .notificationsNumber span {
    border-radius: 50%;
    background-color: #f5a622;
    padding: 3px 6px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.mainHeadSection {
    font-family: MontserratLight;
    margin: 25px 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    color: #666;
}

.sidenav {
    width: 282px;
}

.sidenav .userInfo {
    background-color: #559ddf;
    height: 282px;
    text-align: center;
}

.sidenav .userInfo img,
.sidenav .userInfo button {
    margin: 25px 0;
}

.sidenav .userInfo button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    padding: 5px 15px;
}

.sidenav .userInfo h2 {
    color: #fff;
    line-height: 32px;
}

.sidenav ul li {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidenav ul li img {
    margin: 5px 15px 0 15px;
    width: 23px;
    height: 23px;
}

.sidenav ul li h3 {
    font-size: 18px;
    color: #0aa699;
    letter-spacing: 1px;
    line-height: 32px;
}

.sidenav ul li.selected h3 {
    color: #575757;
}

.mainButtonStyle,
.formWrapper button[type="submit"] {
    width: 100%;
    border: 0;
    padding: 10px 0;
    border-radius: 7px;
    background-color: #17bc9b;
    font-family: lato;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 30px;
}

.formWrapper {
    background-color: #fff;
    padding: 35px 20px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    text-align: center;
}

.formWrapper h2 {
    font-size: 18px;
    color: #3d3b3b;
    font-weight: bold;
    margin-bottom: 20px;
}

.mainInputComp {
    margin: 20px 0;
}

.mainInputComp .input-group-prepend .input-group-text,
.mainInputComp input.form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #979797;
    padding: 0;
}

.mainInputComp .input-group-prepend .input-group-text {
    background-color: transparent;
    margin: 0;
    padding-right: 10px;
}

.mainInputComp .input-group-prepend .input-group-text img {
    width: 14px;
    height: 14px;
    color: black;
}

.mainInputComp input.form-control,
.mainInputComp input.form-control::-webkit-input-placeholder,
.mainInputComp input.form-control::-webkit-input-placeholder {
    color: #979797;
    font-family: lato;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.36px;
    line-height: 18px;
}

.mainInputComp input.form-control,
.mainInputComp input.form-control::-webkit-input-placeholder,
.mainInputComp input.form-control::placeholder {
    color: #979797;
    font-family: lato;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.36px;
    line-height: 18px;
}

ul.collapsible {
    border: 0;
    margin: 20px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.collapsible:first-of-type {
    margin-top: 40px;
}

ul.collapsible > li {
    margin: 20px 0;
    border: 0;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

ul.collapsible .collapsible-header {
    background-color: #006fad !important;
    color: #fff !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

ul.collapsible .collapsible-header p {
    font-size: 15px;
    letter-spacing: -0.36px;
    line-height: 18px;
}

ul.collapsible .collapsible-header img {
    background-color: #fff;
    padding: 8px 5px 5px 5px;
}

ul.collapsible .collapsible-body {
    padding: 0 20px;
    background-color: #fff;
    border: 0;
}

body {
    background-color: #eefcff;
    font-size: 14px;
    font-family: lato;
}

#loginFormSection {
    margin-top: 120px;
    padding: 0 30px;
}

#loginFormSection .resetPassword {
    margin-top: 30px;
}

#loginFormSection .resetPassword a {
    color: #016fae;
    font-size: 15px;
    font-weight: 600;
}

#forgotPasswordFormSection {
    margin-top: 120px;
    padding: 0 30px;
}

#forgotPasswordFormSection .forgotPasswordPolicy {
    margin: 40px 0 20px 0;
    text-align: left;
    color: #808080;
    font-size: 12px;
    font-weight: bold;
}

#newPasswordFormSection {
    margin-top: 120px;
    padding: 0 30px;
}

#newPasswordFormSection .newPasswordPolicy {
    text-align: left;
    padding: 0 15px;
    color: #808080;
    font-size: 12px;
}

#newPasswordFormSection .newPasswordPolicy li {
    margin: 2px 0;
}

#homePage .sectionHeader {
    margin: 50px 0 20px 0;
    color: #3d3b3b;
    font-size: 24px;
}

#homePage .homePageAction {
    background-color: #ddd;
    margin-top: 25px;
    border-radius: 8px;
    cursor: pointer;
}
/*
#homePage .homePageAction.initJourney {
  background-color: #19BC9C;
}

#homePage .homePageAction.driverSelection {
  background-color: #00447D;
}

#homePage .homePageAction.pendingJourney {
  background-color: #F5A622;
}

#homePage .homePageAction.journeyTrip {
  background-color: #549DDF;
}

#homePage .homePageAction img {
  margin: 20px 0;
}

#homePage .homePageAction h2 {
  font-size: 22px;
  padding: 0 12px 20px 12px;
  color: #FFF;
  font-family: Quicksand;
  font-weight: bold;
} */

#titleHere {
    background-color: #fff;
    padding: 15px;
    margin: 25px 0;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    border-radius: 5px;
}

#titleHere h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #727272;
}

#titleHere ul li {
    margin: 10px 0;
}

#titleHere ul li:last-of-type {
    margin-bottom: 0;
}

#titleHere ul li img {
    height: 13px;
    width: 10px;
    margin-bottom: 1px;
    margin-right: 5px;
}

#titleHere ul li span {
    color: #979797;
    font-size: 13px;
}

#searchInDrivers .input-group {
    border: 2px solid #979797;
    border-radius: 5px;
}

#searchInDrivers .input-group .input-group-text {
    background-color: transparent;
    border: 0;
}

#searchInDrivers .input-group input {
    border: 0;
    background-color: transparent;
}

#searchInDrivers .input-group input.form-control::-webkit-input-placeholder {
    font-family: lato;
    line-height: 32px;
    font-size: 13px;
}

#searchInDrivers .input-group input.form-control:-ms-input-placeholder {
    font-family: lato;
    line-height: 32px;
    font-size: 13px;
}

#searchInDrivers .input-group input.form-control::-ms-input-placeholder {
    font-family: lato;
    line-height: 32px;
    font-size: 13px;
}

#searchInDrivers .input-group input.form-control::placeholder {
    font-family: lato;
    line-height: 32px;
    font-size: 13px;
}

#driversSelectionsCards {
    margin-top: 10px;
}

#driversSelectionsCards .driverCard {
    background-color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-size: 11px;
    color: #828282;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    border-radius: 7px;
    font-weight: 500;
    margin: 10px 0;
}

#driversSelectionsCards .driverCard .driverImg {
    width: 32px;
    height: 32px;
}

#driversSelectionsCards .driverCard .driverName {
    font-size: 15px;
    font-weight: bold;
    color: #686868;
}

#driversSelectionsCards .driverCard .driverName,
#driversSelectionsCards .driverCard .totalHours,
#driversSelectionsCards .driverCard .isTraining,
#driversSelectionsCards .driverCard .licenseInfo,
#driversSelectionsCards .driverCard .vehicles,
#driversSelectionsCards .driverCard .gateStauts {
    margin: 10px 0;
}

#driversSelectionsCards .driverCard .driverStatus {
    color: #ffab2b;
    background-color: rgba(255, 171, 43, 0.1);
    padding: 5px 10px;
    font-size: 9px;
    border: 0;
}

.initiateJourney ul.collapsible .collapsible-body {
    color: #979797;
}

.initiateJourney ul.collapsible .collapsible-body {
    padding: 15px 20px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp {
    margin: 15px 0;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp:first-of-type {
    margin: 0;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp .input-group-prepend .input-group-text {
    padding: 0;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input::-webkit-input-placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
    font-size: 10px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input:-ms-input-placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
    font-size: 10px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input::-ms-input-placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
    font-size: 10px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input::placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
    font-size: 10px;
}

.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup > p {
    font-weight: bold;
    font-size: 10px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .autoCompLocations {
    padding: 15px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .autoCompLocations .row {
    margin-top: 10px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .autoCompLocations .row:first-of-type {
    margin-top: 0;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsIcons {
    position: relative;
    text-align: center;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsIcons > div {
    position: absolute;
    top: 70%;
    left: 40%;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection {
    padding-left: 0;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input {
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: 100%;
    color: #fff;
    font-size: 13px;
    padding-bottom: 2px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .addNewDestination input {
    border-bottom: 0;
}

.initiateJourney ul.collapsible .collapsible-body form {
    margin: 10px 0;
}

.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup {
    margin: 10px 0;
}

.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup .radioButtonsGroupCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.initiateJourney ul.collapsible .collapsible-body .submitAssessment {
    background-color: #5babff;
    width: 100%;
    border: 0;
    border-radius: 7px;
    padding: 10px 0;
}

.initiateJourney ul.collapsible .collapsible-body .submitAssessment img {
    height: 23px;
    width: 23px;
}

.initiateJourney ul.collapsible .collapsible-body .submitAssessment span {
    font-size: 15px;
    color: #fff;
    margin: 0 10px;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment {
    margin: 10px 0 25px 0;
    color: #828282;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .questionCont {
    padding-right: 0;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .question {
    background-color: #f3f3f3;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .actions {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .actions li {
    background-color: #f3f3f3;
    padding: 5px 0;
    border-radius: 5px;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .actions li img {
    width: 10px;
    height: 14px;
}

.initiateJourney [type="radio"]:not(:checked) + span,
.initiateJourney [type="radio"]:checked + span {
    padding-left: 10px;
}

.sumbitToInitiate,
.journeyApproval .changeDriver {
    width: 100%;
    text-align: center;
    background-color: #17bc9b;
    border: 0;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 900;
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 7px;
}

#notifications {
    margin: 25px 0;
}

#notifications .notification {
    background-color: #fff;
    border: 1px solid #ededed;
    padding: 15px 0;
}

#notifications .notification.notRead {
    background-color: #d2f7ff;
}

#notifications .notification:first-of-type {
    margin: 15px 0;
}

#notifications .mobileContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#notifications .notification .notContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#notifications .notification .notContainer .notificationIcon {
    width: 29px;
    height: 29px;
    margin-right: 15px;
}

#notifications .notification .notContainer .notificationDesc .notificationName {
    color: #424242;
    font-size: 13px;
    font-weight: 600;
}

#notifications .notification .notContainer .notificationDesc .notificationDestination {
    color: #828282;
    font-size: 12px;
}

#notifications .notification .notificationDate {
    font-size: 12px;
    color: #c0c0c0;
    font-weight: bold;
}

#notifications .notification.notRead .notificationDate {
    color: #6ac6d9;
}

.assessments ul li {
    margin-bottom: 40px;
}

.assessments ul li .collapsible-body {
    padding: 0;
}

.assessments ul li .collapsible-body p {
    color: #979797;
    font-family: Lato;
    font-size: 15px;
    padding: 25px;
}

.assessments ul li .collapsible-body .answer {
    text-align: center;
}

.assessments ul li .collapsible-body .answer button {
    width: 49.4%;
    border: 0;
    background-color: #48cbc3;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 3px;
}

.assessments ul li .collapsible-body .answer button:last-of-type {
    background-color: #ca6c6c;
}

.myRequestsComp {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    padding: 15px;
}

.myRequestsComp .request h3 {
    color: #508db0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "MontserratLight", sans-serif;
}

.myRequestsComp .request .info {
    margin: 10px 0;
}

.myRequestsComp .request .info h6 {
    color: #a5b0c2;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "MontserratLight", sans-serif;
}

.myRequestsComp .request .info p {
    font-family: "Segoe UI", Roboto, "Helvetica Neue";
    font-size: 13px;
    color: #555;
}

.myRequestsComp .request .mainButtonStyle,
.myRequestsComp .request .formWrapper button[type="submit"],
.formWrapper .myRequestsComp .request button[type="submit"] {
    margin-top: 0;
}

.journeyApproval ul .collapsible-body {
    padding: 0;
}

.journeyApproval .collapsible-body .detail {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.journeyApproval .collapsible-body .detail .col-3 {
    padding-left: 0;
}

.journeyApproval .collapsible-body .detail:last-of-type {
    border-bottom: 0;
}

.journeyApproval .collapsible-body .detail img {
    margin-right: 10px;
}

.journeyApproval .collapsible-body .detail h3,
.journeyApproval .collapsible-body .detail p {
    display: inline;
    color: #979797;
    font-size: 14px;
}

.journeyApproval .collapsible-body .detail h3 {
    font-weight: bold;
}

.journeyApproval .collapsible-body .detail p {
    font-size: 13px;
}

.journeyApproval .drivAss .detail p {
    margin: 10px 0;
    display: block;
}

.journeyApproval .collapsible-body .detail .yes,
.journeyApproval .collapsible-body .detail .no {
    width: 100%;
    margin: 10px 0;
    border: 0;
    background-color: #48cbc3;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.journeyApproval .collapsible-body .detail .no {
    background-color: #ca6c6c;
}

.journeyApproval .changeDriver {
    background-color: #afafaf;
}

.journeyMonitoring .point {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #979797;
    font-family: Lato;
    padding: 15px 0;
}

.journeyMonitoring .point .time {
    font-size: 11px;
    font-weight: bold;
}

.journeyMonitoring .point img {
    width: 37px;
    height: 37px;
}

.journeyMonitoring .point:first-of-type img {
    width: 30px;
    height: 30px;
}

.journeyMonitoring .point .info {
    font-size: 13px;
}

.journeyMonitoring .point:first-of-type .info,
.journeyMonitoring .point:last-of-type .info {
    font-weight: bold;
}

.myJourneyMap {
    height: 175px;
    border-radius: 8px;
    margin: 30px 0;
}

.driverAndTripInfo {
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin-bottom: 30px;
    padding: 15px;
}

.driverAndTripInfo .nameAndDestination {
    margin: 20px 0;
}

.driverAndTripInfo .nameAndDestination h3 {
    color: #4f8db0;
    font-size: 17px;
    font-weight: bold;
}

.driverAndTripInfo .nameAndDestination p {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: bold;
}

.driverAndTripInfo .teamAndPassengers {
    margin: 20px 0;
}

.driverAndTripInfo .teamAndPassengers .key {
    color: #abb6c6;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.driverAndTripInfo .teamAndPassengers .val {
    color: #8f8f8f;
    font-weight: bold;
    font-size: 14px;
}

.driverAndTripInfo .journeyInfo li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0;
}

.driverAndTripInfo .journeyInfo li.infoWithNoDesc {
    margin: 25px 0;
}

.driverAndTripInfo .journeyInfo li .info h4 {
    color: #8f8f8f;
    font-family: MontserratLight;
    font-weight: bold;
    font-size: 16px;
}

.driverAndTripInfo .journeyInfo li .info p {
    color: #c1cad5;
    font-size: 12px;
    font-weight: bold;
}

.driverAndTripInfo .journeyInfo li button {
    padding: 5px 15px;
    border: 0;
    color: #fff;
    background-color: #17bc9b;
    border-radius: 5px;
}

.driverAndTripInfo .journeyInfo li button.notActive {
    color: #999;
    background-color: #d0d0d0;
}

.cheackInSection {
    background-color: #fff;
    border-radius: 7px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.cheackInSection .infoAndCheckCont {
    border-bottom: 1px solid #ddd;
    padding: 20px 15px;
}

.cheackInSection .infoAndCheckCont .info h3 {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.cheackInSection .infoAndCheckCont .info h3 span {
    color: #17bc9b;
}

.cheackInSection .infoAndCheckCont .info p {
    font-size: 13px;
    line-height: 18px;
    color: #979797;
    margin-top: 10px;
}

.cheackInSection .infoAndCheckCont .checkInBtn {
    border: 2px solid #00adee;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px 5px;
}

.cheackInSection .infoAndCheckCont .checkInBtn p {
    line-height: 15px;
    color: #00adee;
    font-size: 14px;
    font-weight: bold;
}

.cheackInSection .buttonsAndPopUpsCont {
    padding: 15px;
}

.cheackInSection .modalAndBtnCont {
    padding: 0 15px;
    margin: 10px 0;
    width: 50%;
}

.cheackInSection .modalAndBtnCont button {
    width: 80%;
}

@media only screen and (max-width: 500px) {
    .cheackInSection .modalAndBtnCont {
        padding: 0 8px;
        margin: 10px 0;
    }
    .cheackInSection .modalAndBtnCont button {
        width: 100%;
    }
}

.cheackInSection .modalAndBtnCont .modalTrigger,
.cheackInSection .modalAndBtnCont .modalTrigger:visited,
.cheackInSection .modalAndBtnCont .modalTrigger:active,
.cheackInSection .modalAndBtnCont .modalTrigger:focus,
.cheackInSection .modalAndBtnCont .modalTrigger:focus-within {
    height: 100%;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    border-color: transparent !important;
    border-radius: 8px;
}

.cheackInSection .modalAndBtnCont .modalTrigger.sendLocation {
    background-color: #17bc9b;
}

.cheackInSection .modalAndBtnCont .modalTrigger.statusMessages {
    background-color: #8ec1eb;
}

.cheackInSection .modalAndBtnCont .modalTrigger.sendAlert {
    background-color: #f5a622;
}

.cheackInSection .modalAndBtnCont .modalTrigger.callPhone {
    background-color: #00447d;
}

.cheackInSection .modalAndBtnCont .modalTrigger.pauseJourney {
    background-color: #9eb4c6;
}

.cheackInSection .modalAndBtnCont .modalTrigger.closeJourney {
    background-color: #de4d46;
}

.cheackInSection .modalAndBtnCont .modalTrigger img {
    width: 25px;
    height: 25px;
    margin: 10px 0;
}

.cheackInSection .modalAndBtnCont .modalTrigger p {
    font-size: 12px;
    font-family: MontserratLight;
    font-weight: bold;
    margin-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */
.cursor {
    cursor: pointer;
}
.input-error {
    font-family: SFProDisplay;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d0021b;
}
.required {
    color: #d0021b;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba(22, 168, 140, 0.15) !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #d8d8d8 !important;
}

@media only screen and (max-width: 500px) {
    .cheackInSection .modal {
        padding: 0 8px;
        margin: 10px 0;
    }
    .cheackInSection .modal button {
        width: 100%;
    }
}

.page-title {
    width: 177px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 2% 0;
}
.page-add-new {
    width: 118px;
    height: 40px;
    border-radius: 6px;
    background-color: #673bb7 !important;
    margin: 2% 0 !important;
    text-transform: unset;
}
.page-add-new-text {
    width: 105px;
    height: 16px;
    font-family: SFProDisplay-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.filter {
    width: 30px;
    height: 16px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    border-bottom: none !important;
}
.table-tr-text {
    width: 98px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.table-tr-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}
.table-tr-th {
    width: 41px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}
.modal-header-text {
    width: 154px;
    height: 20px;
    font-family: LucidaGrande;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
}
.text-box-col-12 {
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
}
.text-area-col-12 {
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
}

.accordion > .card .card-header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
    background-color: #559ddf !important;
}
.btn-link {
    color: white !important;
    background-color: transparent !important;
    border: none !important;
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
    background-color: #16a88c;
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    border-radius: 5.5px;
    background-color: rgba(22, 168, 140, 0.15);
}

.img-lg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    /* border-radius: 50%; */
}
.img-md {
    width: 50px;
    height: 50px;
    object-fit: contain;
    /* border-radius: 50%; */
}
.img-sm {
    width: 15px;
    height: 15px;
    object-fit: contain;
    border-radius: 50%;
}
.img-sm-md {
    width: 15px !important;
    height: 15px !important;
    object-fit: contain;
}
.img-reset {
    width: 20px !important;
    height: 20px !important;
    object-fit: contain;
}
.td-margin {
    margin: 2%;
}
.add-question {
    width: 97px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a90e2;
}
.question-drag-drop-icon {
    width: 20px;
    height: 20px;
}
.questition-header {
    width: 80px;
    height: 19px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.question-box {
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
}
.question-drag-drop-box {
    /* border-radius: 6px;
  border: solid 1px #979797;
  background-color: #ffffff; */
}
.green-oval {
    width: 9px;
    height: 9px;
    background-color: #7ed321;
    border-radius: 50%;
}
.yellow-oval {
    width: 9px;
    height: 9px;
    background-color: #f5a623;
    border-radius: 50%;
}
.red-oval {
    width: 9px;
    height: 9px;
    background-color: #d0021b;
    border-radius: 50%;
}
/* Styles for tab labels */
.tabs-links .mat-tab-label {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    color: #000000;
    font-family: SFProDisplay-Medium;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: 50%;
    opacity: 1;
}

/* Styles for the active tab label */
.tabs-links .mat-tab-label.mat-tab-label-active {
    background-color: #559ddf !important;
    color: #ffffff !important;
}
.tabs-links .mat-ink-bar {
    display: none;
}
.app-text {
    width: 105px;
    height: 21px;
    font-family: SFProDisplay-Medium;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 11px 45px 0;
}
.checks-container .mat-slide-toggle-content {
    font-family: SFProDisplay-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000000;
}
.languages-accordian.accordion > .card .card-header {
    padding: 0;
    box-shadow: none;
}
.languages-accordian.accordion > .card .card-body {
    text-align: left;
}
.languages-accordian.accordion > .card .card-body span,
label {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.languages-accordian.accordion > .card .card-header .btn-link {
    width: 100%;
    height: 48px;
    text-decoration: none;
    text-align: left;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    background-color: #559ddf;
}
.languages-accordian.accordion > .card .card-body label > .required-input {
    color: #d0021b !important;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}
.card-header-conatiner .mat-card-header-text {
    display: none;
}

.back-login-btn {
    width: 120px;
    height: 45px;
    color: #7a7979 !important;
    padding-top: 40px;
    text-decoration: none !important;
    cursor: pointer;
}

.accordion-container .mat-expansion-panel-content {
    border: 1px solid #4a90e2;
}

.action-radio-group .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #008464 !important;
}

.action-radio-group .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #008464;
}
.cdk-overlay-container {
    z-index: 90000 !important;
}
.back-btn {
    font-size: 16px;
}
.page-text {
    font-family: SFProDisplay-Medium;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: 34px;
}
