<div class="container">
  <div class="d-flex justify-content-end pr-5 pt-3">
    <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Journey-Management',id:4}]"
      class="cursor back-btn">
      <i class="fa fa-home"></i> <span>&nbsp; Back</span>
    </a>
  </div>
  <div class="row form-row">
    <h2 class="page-title col-md-8">Alerts Managements </h2>
    <a *ngIf="validateFeature(featureConst.AlertUpdate)" class="btn btn-info page-add-new col-md-4"
      (click)="saveAlert()">
      <span class="page-add-new-text align-middle">Save</span>
    </a>
  </div>
  <div class="row form-row">

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell class="table-tr-th"  *matHeaderCellDef mat-sort-header> ID. </th>
        <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
    </ng-container> -->
      <ng-container matColumnDef="events">
        <th mat-header-cell *matHeaderCellDef> Events </th>
        <td mat-cell *matCellDef="let element">
          <div class="row form-row form-group col-md-12">
            <label> &nbsp; </label>
            <select class="form-control" [(ngModel)]="element.eventName">
              <option *ngFor="let feature of features" [value]="feature.name">
                {{feature.name}}
              </option>

            </select>
            <div class="required"
              *ngIf="element.isSubmitted && element.eventName==null ||element.isSubmitted &&  element.eventName=='' "> *
            </div>
          </div>
        </td>

      </ng-container>
      <ng-container matColumnDef="alertName">
        <th mat-header-cell *matHeaderCellDef> Alert Name </th>
        <td mat-cell *matCellDef="let element">
          <div class="row form-row form-group col-md-12" *ngIf="element.isnewAlert && !element.isReturnedFromDb">
            <label> &nbsp; </label>
            <input type="text" id="name" name="name" class="form-control col-md-8 " [(ngModel)]="element.name" />
            <div class="required"
              *ngIf="element.isSubmitted && element.name==null ||element.isSubmitted &&element.name=='' ">*</div>
          </div>
          <div class="row form-row form-group col-md-12" *ngFor="let group of element.groubs; let i =index">
            <label> &nbsp; </label>
            <input type="text" id="'name'+i " name="'name'+i" class="form-control col-md-8 " [(ngModel)]="group.name" />
            <div class="required" *ngIf="group.isSubmitted && group.name==null || group.isSubmitted && group.name=='' ">
              *</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="notifyafter">
        <th mat-header-cell *matHeaderCellDef>Notify After</th>
        <td mat-cell *matCellDef="let element">
          <div class="row form-row form-group col-md-12" *ngIf="element.isnewAlert && !element.isReturnedFromDb">
            <select class="form-control col-md-7 " [(ngModel)]="element.alertDuration"
              (change)="selectDuration($event , element)" [value]="1">
              <option value="0">Hours</option>
              <option value="1">Minutes</option>
            </select>
            <select *ngIf="element.isHoursSelected" class="form-control col-md-5" id="hours" name="hours"
              [(ngModel)]="element.after">
              <option [value]="hour" *ngFor="let hour of hours">{{hour}}</option>
            </select>
            <select *ngIf="element.ismiutesSelected" id="mintues" name="mintues" class="form-control col-md-5"
              [(ngModel)]="element.after">
              <option [value]="min" *ngFor="let min of mintues">{{min}}</option>
            </select>
            <div class="required"
              *ngIf="element.isSubmitted && element.after==null ||element.isSubmitted && element.after=='' ">*</div>
          </div>

          <div class="row form-row form-group col-md-12" *ngFor="let group of element.groubs; let i = index">
            <div class="row form-row form-group col-md-12 notify-time">
              <select class="form-control col-md-7 " id="duration" name="duration " [(ngModel)]="group.alertDuration"
                (change)="selecGrouptDuration($event,group)">
                <option value="0">Hours</option>
                <option value="1">Minutes</option>
              </select>
              <select *ngIf="group.isHoursSelected" class="form-control col-md-5" id="hours" name="hours"
                [(ngModel)]="group.after">
                <option [value]="hour" *ngFor="let hour of hours">{{hour}}</option>
              </select>
              <select *ngIf="group.ismiutesSelected" id="mintues" name="mintues" class="form-control col-md-5"
                [(ngModel)]="group.after">
                <option [value]="min" *ngFor="let min of mintues">{{min}}</option>
              </select>


            </div>
            <div class="required"
              *ngIf=" group.isSubmitted &&group.after==null ||group.isSubmitted &&   group.after=='' ">*</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="notifyuserroles">
        <th mat-header-cell *matHeaderCellDef> Notify User Roles </th>
        <td mat-cell *matCellDef="let element">
          <div class="row form-row form-group col-md-12" *ngIf="element.isnewAlert && !element.isReturnedFromDb">
            <label> &nbsp; </label>
            <ng-multiselect-dropdown [placeholder]="'Select Role(s)  ...'" [data]="Roles"
              [(ngModel)]="element.usersToNotify" [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event,element)" (onSelectAll)="onSelectAll($event,element)"
              (onDeSelect)="onItemDeSelect($event,element)" (onDeSelectAll)="onItemDeSelectAll($event,element)">
              [name]="roles"
              id="roles"
            </ng-multiselect-dropdown>
            <div class="required" *ngIf="element.isSubmitted && element.usersToNotify.length<=0">*</div>
            <div class="row form-row form-group col-md-2">
              <a (click)="removeUnSavedAlert(element)">
                <img src="assets/images/JMS/remove.svg">
              </a>
            </div>
          </div>


          <div class="row form-row form-group col-md-12" *ngFor="let group of element.groubs; let i = index">
            <label> &nbsp; </label>
            <ng-multiselect-dropdown class="col-md-10" [placeholder]="'Select Role(s)  ...'" [data]="Roles"
              [(ngModel)]="group.usersToNotify" [settings]="dropdownSettings"
              (onSelect)="onItemSelectGroup($event,group,i)" (onSelectAll)="onSelectAllGroup($event,group,i)"
              (onDeSelect)="onItemDeSelectGroup($event,group,i)"
              (onDeSelectAll)="onItemDeSelectAllGroup($event,group,i)">
              [name]="'roles' + i"
              id="'roles' + i"
            </ng-multiselect-dropdown>
            <div class="required" *ngIf="group.isSubmitted && group.usersToNotify.length<=0">*</div>
            <div class="row form-row form-group col-md-2" *ngIf="!group.isMain">
              <a (click)="removeFromDb(group , i)">
                <img src="assets/images/JMS/remove.svg">
              </a>

            </div>

          </div>


        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <a class="link cursor" (click)="AddNew(element)">
            Add additional alert
          </a>

        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <!-- <tr mat-row *matRowDef="let row; columns: ['groupName']; when: isAGroup"></tr> -->

    </table>


  </div>
  <hr />
  <div class="row form-row form-group col-md-12 pull-right">
    <button type="button" class="btn btn-info page-add-new col-md-4" (click)="addNewAlert()"> Add another event</button>
  </div>
</div>