.modal{
  background: transparent!important;
  max-height:100%!important;;
  height:100%!important;
  z-index: -999;
}
.modal-backdrop {
top: 0;
left: 0;
z-index: -999;
width: 100vw;
height: 100vh;
background-color: #000;
}
.modal.fade {
z-index: -1 !important;
}
