<div>
  <section id="homePage" class="text-center">
    <div class="mobileContainer container">

      <div class="row mt-4">
        <div class="page-text col-md-10 d-flex justify-content-start">Payloads</div>
        <div class="col-md-2 d-flex justify-content-end pr-5">
          <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Settings',id:7}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
          </a>
        </div>
      </div>

      <br>
      <div class="container">
        <mat-tab-group class="tabs-links" #tabGroup>
          <mat-tab label="Payloads Types">
            <ng-template matTabContent>
              <app-payload-type-management></app-payload-type-management>
            </ng-template>
          </mat-tab>
          <mat-tab label="Payloads">
            <ng-template matTabContent>
              <app-payload-management></app-payload-management>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
</div>