<section id="homePage">
  <div class="mobileContainer container">
    <div class="row col-12">
      <div class="form-group col-12"> <span> &nbsp;</span> </div>
    </div>
    <div class="row col-12">
      <h3 class="home-header-text page-title">
        <strong> Welcome {{currentUser.fullName}}</strong>
      </h3>
    </div>

    <div class="row">
      <ng-container *ngFor="let item of menu">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="validateFeatures(item.permissions)">
          <div *ngIf="item.route =='/sub-groups'" class="card"
            [routerLink]="[item.route,{Name:item.routeName,id:item.id}]">
            <div class="img-container">
              <img [src]="item.icon" class="card-img_" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
            </div>
          </div>
          <div *ngIf="item.route !='/sub-groups'" class="card" [routerLink]="item.route">
            <div class="img-container">
              <img [src]="item.icon" class="card-img_" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<!--end home page actions-->