.home-header-text {
  font-family: SFProDisplay;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 10px;
}
.home-feature {
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #559ddf;
  cursor: pointer;
  margin: 5px !important;
  align-items: center !important;
}
.home-feature-text {
  font-family: SFProDisplay;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  vertical-align: middle !important;
}
.home-feature-icon {
  width: 42px;
  height: 43.7px;
  object-fit: contain;
  padding: 1% !important;
}
.card .img-container {
  border-radius: 12.5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.32);
  background-color: #559ddf;
  width: 200px;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-img_ {
  width: 25%;
}
.card {
  height: 275px;
  width: 200px;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.card:focus {
  outline: none;
}
.card-title {
  width: 205px;
  height: 24px;
  font-family: SFProDisplay-Medium;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #274885;
}
