.div-feature-box{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}
.div-feature-header{
    border-radius: 3px;
    background-color: #4a90e2;
}
.div-feater-header-text{
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.add-link{
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a90e2;
    text-decoration: underline;
}