<!-- app.component.html -->
<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/']" class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Workflows Management</h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.workflowCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Workflow</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.workflowUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1"
                            *ngIf="!element.isHavingActiveJourney&& validateFeature(featureConst.workflowDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="!element.isHavingActiveJourney && validateFeature(featureConst.workflowActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-header-text" id="modalLabel">
                    {{workflow.id>0? 'Update Workflow': 'Add Workflow'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> Name <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="workflow.name" placeholder="Name" />
                            <img class="input-group-prepend" *ngIf="workflow.name=='' && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                    </div>
                    <div *ngIf="workflow.name=='' && isSubmitted" class="input-error col-md-12"> Name is required.
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"> &nbsp;</label>
                        <div>
                            <mat-slide-toggle color="primary" [(ngModel)]="workflow.isDefault">Default Workflow
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <mat-slide-toggle color="primary" [(ngModel)]="workflow.isActive">Active</mat-slide-toggle>
                    </div>
                    <div class="form-row col-md-12">
                        <div class="row col-md-12">
                            <div class="form-group col-md-6">
                                <span class="add-question">&nbsp;</span>
                            </div>
                            <div class="form-group col-md-3">
                                <a class="btn btn-info page-add-new" (click)="addFeature()">
                                    <span class="page-add-new-text align-middle">Add Feature &nbsp;</span>
                                </a>
                            </div>
                            <div class="form-group col-md-3">
                                <a class="btn btn-info page-add-new" (click)="addWorkflow()">
                                    <span class="page-add-new-text align-middle">Add Workflow</span>
                                </a>
                            </div>
                        </div>
                        <div class="form-row col-md-12"
                            *ngFor="let workflowStep of workflow.workflowSteps; index as i;">
                            <div class="form-row col-md-12 div-feature-header">
                                <div class="form-group col-md-11">
                                    <label class="col-form-label div-feater-header-text">Step {{i+1}}</label>
                                </div>
                                <div class="form-group col-md-1">
                                    <a (click)="deleteStep(i)" href="javascript:void(0);">
                                        <img class="img-sm-md" src="assets/images/JMS/remove-x.svg">
                                    </a>
                                </div>
                            </div>
                            <div class="form-row col-md-12 div-feature-box" *ngIf="workflowStep.isFeature">
                                <div class="form-group col-md-12">
                                    <div><span>&nbsp;</span></div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-md-4">
                                        <select class="form-control" [(ngModel)]="workflowStep.featureKey">
                                            <option disabled selected>Select Feature Name</option>
                                            <option *ngFor="let item of Features" value="{{item.id}}">{{item.value}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <span>&nbsp;</span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <a class="cursor" (click)="addFeatureRole(i)">
                                            <span class="add-link">Add Role</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row col-md-12" *ngIf="workflowStep.workflowStepRoles.length>0">
                                    <div class="form-row col-md-12"
                                        *ngFor="let workflowStepRole of workflowStep.workflowStepRoles; index as ri; ">
                                        <div class="row col-md-12">
                                            <div class="form-group col-md-4">
                                                <select class="form-control"
                                                    [(ngModel)]="workflowStepRole.customRoleId">
                                                    <option disabled selected>Select Role</option>
                                                    <option *ngFor="let item of CustomRoles" value="{{item.id}}">
                                                        {{item.name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <span>&nbsp;</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <a (click)="deleteFeatureRole(i,ri)" href="javascript:void(0);">
                                                    <img src="assets/images/JMS/remove.svg">
                                                </a>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <a class="cursor" (click)="addRoleCondition(i,ri)">
                                                    <span class="add-link">Add Condition</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row col-md-12"
                                            *ngIf="workflowStepRole.workflowStepRoleConditions.length>0">
                                            <div class="form-row col-md-12"
                                                *ngFor="let workflowStepRoleCondition of workflowStepRole.workflowStepRoleConditions; index as rci">
                                                <div class="form-group col-md-2" *ngIf="rci!=0">
                                                    <select class="form-control"
                                                        [(ngModel)]="workflowStepRoleCondition.concatenateType">
                                                        <option disabled selected>Select Concatenate Type</option>
                                                        <option value="1">And</option>
                                                        <option value="2">OR</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <select class="form-control"
                                                        [(ngModel)]="workflowStepRoleCondition.conditionKey">
                                                        <option disabled selected>Select Condition</option>
                                                        <option *ngFor="let item of Conditions" value="{{item.id}}">
                                                            {{item.value}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <mat-slide-toggle color="primary"
                                                        [(ngModel)]="workflowStepRoleCondition.conditionIsTrue">True
                                                    </mat-slide-toggle>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <a (click)="deleteRoleCondition(i, ri, rci)"
                                                        href="javascript:void(0);">
                                                        <img src="assets/images/JMS/remove.svg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-row col-md-12 div-feature-box" *ngIf="!workflowStep.isFeature">
                                <div class="form-group col-md-12">
                                    <div><span>&nbsp;</span></div>
                                </div>
                                <div class="form-row col-md-12"
                                    *ngFor="let workflowStepWorkflow of workflowStep.workflowStepWorkflows; index as wi;">
                                    <div class="form-group col-md-2" *ngIf="wi!=0">
                                        <select class="form-control" [(ngModel)]="workflowStepWorkflow.concatenateType">
                                            <option disabled selected>Select Concatenate Type</option>
                                            <option value="1">And</option>
                                            <option value="2">OR</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select class="form-control" [(ngModel)]="workflowStepWorkflow.workflowId">
                                            <option disabled selected>Select Workflow</option>
                                            <option *ngFor="let item of Workflows" value="{{item.id}}">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <select class="form-control" [(ngModel)]="workflowStepWorkflow.customRoleId">
                                            <option disabled selected>Select Role</option>
                                            <option *ngFor="let item of CustomRoles" value="{{item.id}}">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <a (click)="deleteSubWorkflow(i,wi)" href="javascript:void(0);">
                                            <img src="assets/images/JMS/remove.svg">
                                        </a>
                                    </div>
                                </div>
                                <div class="form-row col-md-12">
                                    <div class="form-group col-md-8"><span>&nbsp;</span></div>
                                    <div class="form-group col-md-4">
                                        <a class="cursor" (click)="addSubWorkflow(i)">
                                            <span class="add-link">Add Another Workflow</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="row col-md-12">
                                <div class="form-group"><span>&nbsp; </span></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>

        </div>
    </div>
</div>