<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Users-Management',id:3}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Managers Management</h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.managerCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Manager</span>
        </a>
    </div>
    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="fullName">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="rolesNames">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    <ng-container *ngFor="let role of element.rolesNames; let i = index">{{role}}
                        <ng-container *ngIf="element.rolesNames.length -1 !== i">,</ng-container>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.managerUpdate)"
                            (click)="Update(element)" data-toggle="modal" data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1"
                            *ngIf="!element.isHavingActiveJourney && validateFeature(featureConst.managerDelete)"
                            (click)="delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <mat-slide-toggle class="col-md-2" color="primary"
                            *ngIf="validateFeature(featureConst.managerActivateDeactivate)"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{manager.id>0? 'Update Manager': 'Add Manager'}}</h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Username <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="manager.username"
                                placeholder="Username" [readonly]="manager.id>0" />
                            <img class="input-group-prepend" *ngIf="manager.username=='' && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="manager.username=='' && isSubmitted" class="input-error"> Username is required.
                        </div>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="col-form-label">Email<span class="required">*</span></label>
                        <div class="input-group">
                            <input type="email" class="form-control" [(ngModel)]="manager.email" placeholder="Email" />
                            <img class="input-group-prepend"
                                *ngIf="(manager.email=='' ||!validateEmail())&& isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="manager.email==''&&isSubmitted" class="input-error">Email is required</div>
                        <div *ngIf="!validateEmail() && isSubmitted && manager.email!=''" class="input-error">Email
                            format not valid</div>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="col-form-label">Fullname <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="manager.fullName"
                                placeholder="Fullname" />
                            <img class="input-group-prepend" *ngIf="manager.fullName=='' && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="manager.fullName=='' && isSubmitted" class="input-error"> Fullname is required.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">&nbsp;</label>
                        <div>
                            <mat-slide-toggle color="primary" [(ngModel)]="manager.isActive">Active</mat-slide-toggle>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Password <span class="required"
                                *ngIf="manager.id<=0">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" [(ngModel)]="manager.password" />
                            <img class="input-group-prepend"
                                *ngIf="manager.password =='' && manager.id<=0 && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div class="input-error" *ngIf="manager.password =='' && manager.id<=0 && isSubmitted">Password
                            is required</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Confirm Password <span class="required"
                                *ngIf="manager.id<=0">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" [(ngModel)]="manager.confrimPassword" />
                            <img class="input-group-prepend" *ngIf="manager.confrimPassword!=manager.password"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div class="input-error" *ngIf="manager.confrimPassword!=manager.password"> Password does not
                            match</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Department <span class="required">*</span></label>
                        <div class="input-group">
                            <ng-multiselect-dropdown class="form-control" [placeholder]="'Select Department(s)  ...'"
                                [data]="Teams" [(ngModel)]="manager.teams" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                            <img class="input-group-prepend" *ngIf="manager.teams==null && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="manager.teams==null&&isSubmitted" class="input-error">Department is required</div>
                    </div>
                    <div class="form-group col-md-6" *ngIf="false">
                        <label class="col-form-label">Workforce</label>
                        <select class="form-control" [(ngModel)]="manager.workForceId">
                            <option *ngFor="let item of WorkForces" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Role <span class="required">*</span></label>
                        <div class="input-group">
                            <ng-multiselect-dropdown class="form-control" [placeholder]="'Select Role(s)  ...'"
                                [data]="Roles" [(ngModel)]="manager.roles" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                            <img class="input-group-prepend" *ngIf="manager.roles==null && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="manager.roles==null&&isSubmitted" class="input-error">Role is required</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Position</label>
                        <input type="text" class="form-control" [(ngModel)]="manager.position" placeholder="Position" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-form-label">Phone No <span class="required">*</span></label>
                        <div class="input-group">
                            <input type="tel" class="form-control" [(ngModel)]="manager.phoneNumber"
                                placeholder="Phone No" />
                            <img class="input-group-prepend" *ngIf="!validatePhone() && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="manager.phoneNumber && !validatePhone() && isSubmitted" class="input-error">Phone No
                            format not valid for
                            ex: +(code)-xx-xx-xx </div>
                        <div *ngIf="!manager.phoneNumber && isSubmitted" class="input-error"> Please enter the phone
                            number </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-form-label">Emergency Contact</label>
                        <input type="number" class="form-control" [(ngModel)]="manager.emergencyContact"
                            placeholder="Emergency Contact" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="inputDefault">Comments</label>
                        <textarea class="form-control" [(ngModel)]="manager.comments"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="upload-image-wrapper">
                            <span *ngIf="manager.image" class="btn-floating-tr text-danger" (click)="removeImage()"><i
                                    class="fas fa-times"></i></span>
                            <img class="img-lg"
                                [src]="manager.image!=null &&manager.image!='' ?createImgPath(manager.image): 'assets/images/JMS/upload.svg'"
                                alt="profile picture" />
                        </div>
                        <br />
                        <app-upload [showDetails]="!!manager.image" (onUploadFinished)="uploadFinished($event)">
                        </app-upload>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>