@import "./../../shared/scss/variables";

.page-container {
    margin-top: 6%;
}
.add-btn {
    width: 164px;
    height: 34px;
    border-radius: 6px;
    background-color: #673bb7;
    border: none;
}
input.filter-box {
    height: 48px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
}
select,
input {
    &.filter-box {
        &:not([type]),
        &[type="text"]:not(.browser-default),
        &[type="password"]:not(.browser-default),
        &[type="email"]:not(.browser-default),
        &[type="url"]:not(.browser-default),
        &[type="time"]:not(.browser-default),
        &[type="date"]:not(.browser-default),
        &[type="datetime"]:not(.browser-default),
        &[type="datetime-local"]:not(.browser-default),
        &[type="tel"]:not(.browser-default),
        &[type="number"]:not(.browser-default),
        &[type="search"]:not(.browser-default) {
            display: block;
            height: 48px;
            border-radius: 6px;
            border: solid 1px #979797;
            background-color: #ffffff;
        }
    }
}

.box-text {
    font-family: SFProDisplay-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16294c;
    padding-left: 25px !important;
    margin-left: -12px !important;
}
::placeholder {
    color: #16294c;
}
.mat-card {
    width: 976px;
    height: 247px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #018c6f;
    background-color: #ffffff;
    padding: 0;
    .mat-card-header {
        border-bottom: 1px solid #d8d8d8;
    }
}
.card-header {
    display: flex;
    justify-content: space-between;
}
.header-actions {
    display: flex;
    a {
        margin-left: 10px;
        img {
            width: 18px;
            height: 18px;
        }
    }
}
.header-title {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    color: #000000;
}
.card-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-body div {
    display: flex;
    margin-bottom: 10px;
    label {
        font-family: SFProDisplay-Semibold;
        font-size: 16px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }
}
.date-input {
    input {
        border-bottom: none;
    }
    display: flex;
    height: 48px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #ffffff;
    padding-left: 10px;
}

.btns-container {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 0px;
}

.journey-container {
    height: 280px;
}

.journey-container:hover {
    cursor: pointer;
    border: 2px solid $green-color;
}
:host ::ng-deep.mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
}
.merged-id {
    color:#1165e4;
    &:hover{
        text-decoration: underline;
    }
}