<div class="container-fluid page-container">
    <div class="d-flex justify-content-end pr-2 mb-2">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/']" class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row">
        <h4 class="col-7 text-left no-padding">
            Journeys List
        </h4>

        <div class="col-5 pr-0">
            <div class="btns-container">
                <button *ngIf="validateFeature(featureConst.journeyCreate)" class="add-btn page-add-new-text"
                    routerLink="/initiate-journey">Initiate
                    Journey</button>
                <button *ngIf="validateFeature(featureConst.journeyMerge)" (click)="openMergeJourneysModal()"
                    class="add-btn page-add-new-text">Merge Journey</button>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3 col-sm-6">
            <input type="text" [(ngModel)]="filterParams.title" (keyup.enter)="changeFilters()"
                (ngModelChange)="filterByTitle()" class="filter-box box-text" placeholder="Title / Id">
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="date-input">
                <input matInput [matDatepicker]="pickerDate1" name="createtionDate"
                    [(ngModel)]="filterParams.creationDate" (ngModelChange)="changeFilters()"
                    placeholder="Creation Date">
                <mat-datepicker-toggle matSuffix [for]="pickerDate1"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate1></mat-datepicker>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="date-input">
                <input matInput [matDatepicker]="pickerDate2" name="delieveryDate"
                    [(ngModel)]="filterParams.deliveryDate" (ngModelChange)="changeFilters()"
                    placeholder="Delivery Date">
                <mat-datepicker-toggle matSuffix [for]="pickerDate2"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate2></mat-datepicker>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 pr-0">
            <select name="status" class="filter-box box-text" (change)="changeStatus($event.target.value)">
                <option disabled value="-1" selected>Status</option>
                <option *ngFor="let item of statusList" [value]="item.id">{{item.name}}</option>
            </select>
        </div>

    </div>

    <div class="row" *ngFor="let item of journeysListState; let i = index">
        <mat-card class="journey-container">
            <mat-card-header class="card-header-conatiner">
                <div class="w-100 card-header">
                    <div class="header-title">
                        <mat-checkbox
                            *ngIf="validateJourneyStatus(item.listItem.status.statusId) && (!item.listItem.mergedJourneyIds || item?.listItem?.mergedJourneyIds.length === 0) && validateFeature(featureConst.journeyMerge)"
                            [(ngModel)]="item.isChecked" (ngModelChange)="addToMergeList(item)" class="pr-2">
                        </mat-checkbox>
                        {{item.listItem.title}}
                    </div>
                    <div class="header-actions">
                        <span class="pr-2 h5">#{{item.listItem.id}}</span>
                        <a *ngIf="item.listItem.mergedJourneyIds && item?.listItem?.mergedJourneyIds.length > 0"
                            class="cursor" (click)="openUnmergeJourneyModal(item.listItem.id)">
                            <img src="assets/images/JMS/merge-copy.svg">
                        </a>
                        <a *ngIf="validateFeature(featureConst.journeyUpdate) && item.listItem.status.statusId != journeyStatus.JourneyCancelled && item.listItem.status.statusId != journeyStatus.JourneyCompleted && item.listItem.status.statusId != journeyStatus.JourneyRejected"
                            class="cursor" (click)="editJourney(item.listItem.id)">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a *ngIf="validateFeature(featureConst.journeyCancel) && item.listItem.status.statusId != journeyStatus.JourneyCancelled && item.listItem.status.statusId != journeyStatus.JourneyCompleted"
                            class="cursor" (click)="openCancelModal(item.listItem.id)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="card-content-wrapper" (click)="journeyDetails(item.listItem.id)">
                <div class="card-body">
                    <div>
                        <label for="from">From: &nbsp;</label>
                        <p id="from">{{item.listItem.fromLocation}}</p>
                    </div>
                    <div>
                        <label>Creation date: &nbsp;</label>
                        <p>{{item.listItem.startDate | date: 'mediumDate'}} -
                            {{item.listItem.startDate | date: 'shortTime' }}</p>
                    </div>
                    <div>
                        <label>Department: &nbsp;</label>
                        <p>{{item.listItem.departmentName}}</p>
                    </div>
                    <div>
                        <label>Status: &nbsp;</label>
                        <p>
                            <span
                                *ngIf="item?.listItem.JourneyStatus == journeyStatus.PendingOnDriverPostTripAssessment || item?.JourneyStatus == journeyStatus.PendingPostTripAssessmentApproval || item?.JourneyStatus == journeyStatus.JourneyCompleted">
                                {{item?.listItem.IsSuccess ? 'Success --' : 'Failed --'}}
                            </span>
                            {{item.listItem.status?.statusName}}
                        </p>
                    </div>
                    <div>
                        <label>Vehicle plate no: &nbsp;</label>
                        <p>{{item.listItem.vehiclePlateNo}}</p>
                    </div>
                </div>
                <div class="card-body">

                    <div>
                        <label>To: &nbsp;</label>
                        <p>{{item.listItem.toLocation}}</p>
                    </div>
                    <div>
                        <label>Delivery date: &nbsp;</label>
                        <p>{{item.listItem.deliveryDate | date: 'mediumDate'}} -
                            {{item.listItem.deliveryDate | date: 'shortTime' }}
                        </p>
                    </div>
                    <div>
                        <label>Driver: &nbsp;</label>
                        <p>{{item.listItem.driverName}}</p>
                    </div>
                    <div *ngIf="item.listItem.reason">
                        <label>Reason: &nbsp;</label>
                        <p>{{item.listItem.reason}}</p>
                    </div>
                    <div *ngIf="item.listItem.mergedJourneyIds && item?.listItem?.mergedJourneyIds.length > 0">
                        <label>Merged with: &nbsp;</label>
                        <a class="merged-id" *ngFor="let journeyId of item.listItem.mergedJourneyIds; let i = index"
                            (click)="journeyDetails(journeyId)">{{journeyId}}
                            <span *ngIf="item?.listItem?.mergedJourneyIds.length -1 !== i">, </span>
                        </a>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="journeysListState?.length > 0">
        <app-pagination *ngIf="totalCount > 0" [currentPage]="pageIndex" [pageSize]="pageSize" [count]="totalCount"
            (onChangePage)="getJourneys($event)"></app-pagination>
    </div>
</div>