<div id="wrapper">
  <!-- give it an id -->
  <div class="row">
    <div class="page-text col-md-10 d-flex justify-content-start">Vehicles</div>
    <div class="col-md-2 d-flex justify-content-end pr-5">
      <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Settings',id:7}]"
        class="cursor back-btn">
        <i class="fa fa-home"></i> <span>&nbsp; Back</span>
      </a>
    </div>
  </div>
  <br>
  <div fxLayout="row" fxLayoutGap="16px" fxFill>
    <div fxFlex="80" fxFill>
      <mat-tab-group #tabGroup class="tabs-links" animationDuration="0ms" dynamicHeight mat-stretch-tabs="always">
        <mat-tab label="Vehicles Types" [tabIndex]="0">
          <ng-template matTabContent>
            <app-vehicle-type-management></app-vehicle-type-management>
          </ng-template>
        </mat-tab>
        <mat-tab label="Vehicles" [tabIndex]="1">
          <ng-template matTabContent>
            <app-vehicle-management></app-vehicle-management>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>