:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
}
.mat-tab-body-wrapper {
  flex-grow: 1;
}
#wrapper {
  padding: 16px;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box; /*new*/
}
#tab-group {
  height: 100%;
}
#tab-group mat-tab-body {
  flex-grow: 1;
}

.modal {
  background: transparent !important;
  max-height: 100% !important;
  height: 100% !important;
  z-index: -999;
}
.modal-backdrop {
  top: 0;
  left: 0;
  z-index: -999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal.fade {
  z-index: 10000 !important;
}

/* .modal{
  position: relative ;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal.fade {
  z-index: -999 !important;
} */
