<div class="container">
    <div class="d-flex justify-content-end pr-5 pt-3">
        <a routerLinkActive="active" routerLink="/" [routerLink]="['/sub-groups',{Name:'Journey-Management',id:4}]"
            class="cursor back-btn">
            <i class="fa fa-home"></i> <span>&nbsp; Back</span>
        </a>
    </div>
    <div class="row form-row">
        <h2 class="page-title col-md-10">Answer Types Management</h2>
        <a class="btn btn-info page-add-new col-md-2" *ngIf="validateFeature(featureConst.answerTypeCreate)"
            data-toggle="modal" data-target="#modalContent" (click)="initModal()">
            <span class="page-add-new-text align-middle">Add Answer Type</span>
        </a>
    </div>

    <div class="row form-row">
        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="50%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> ID. </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="isActive">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell class="table-tr-text" *matCellDef="let element">
                    {{element.isActive? 'Active': 'De-active'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell class="table-tr-th" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row">
                        <!-- *ngIf="validateFeature(featureConst.answerTypeUpdate)" -->
                        <a class="cursor col-md-1" (click)="update(element)" data-toggle="modal"
                            data-target="#modalContent">
                            <img src="assets/images/JMS/edit.svg">
                        </a>
                        <a class="cursor col-md-1" *ngIf="validateFeature(featureConst.answerTypeDelete)"
                            (click)="Delete(element)">
                            <img src="assets/images/JMS/delete.svg">
                        </a>
                        <!-- *ngIf="validateFeature(featureConst.answerTypeActivateDeactivate)"  -->
                        <mat-slide-toggle class="col-md-2" color="primary"
                            (click)="ActivateOrDeactivate($event,element)" [(ngModel)]="element.isActive">
                        </mat-slide-toggle>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
        </mat-paginator>
    </div>
</div>

<div class="modal fade" id="modalContent" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> {{answerType.id>0? 'Update Answer Type': 'Add Answer Type'}}
                </h5>
                <button id="bntClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">

                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="inputDefault">Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="answerType.name" placeholder="Name"
                                #title="ngModel" required />
                            <img class="input-group-prepend" *ngIf="title.invalid && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>

                        <div *ngIf="title.invalid && isSubmitted" class="input-error">Name is required</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="inputDefault">Display Way</label>
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="answerType.displayWay" #displayWay="ngModel"
                                required>
                                <option disabled selected value="null"> ---Select---</option>
                                <option *ngFor="let item of DisplayWays" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <img class="input-group-prepend" *ngIf="displayWay.invalid && isSubmitted"
                                src="assets/images/JMS/input-error.svg" />
                        </div>
                        <div *ngIf="displayWay.invalid && isSubmitted" class="input-error">Display Way is
                            required</div>
                    </div>
                    <div class="form-group col-md-12">
                        <mat-slide-toggle color="primary" [(ngModel)]="answerType.isActive">Active</mat-slide-toggle>
                    </div>

                    <div class="form-group col-md-6" *ngIf="answerType.displayWay==2">
                        <label class="col-form-label" for="inputDefault">Checked Point</label>
                        <input type="number" class="form-control" [(ngModel)]="answerType.checkPoint"
                            placeholder="Checked Point" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="answerType.displayWay==2">
                        <label class="col-form-label" for="inputDefault">Unchecked Point</label>
                        <input type="number" class="form-control" [(ngModel)]="answerType.unCheckPoint"
                            placeholder="Unchecked Point" />
                    </div>

                    <div class="form-group col-md-12" style="overflow: auto; max-height: 500px;"
                        *ngIf="answerType.displayWay!=2 && answerType.displayWay!=8 && answerType.displayWay!=5">
                        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                            <ngb-panel
                                *ngFor="let answerTypeLocalization of answerType.answerTypeLocalizations; index as i;"
                                id="toggle-{{i}}" title="{{answerTypeLocalization.languageName}}">
                                <ng-template ngbPanelContent>
                                    <div class="form-row ">
                                        <div class="form-group col-md-8">
                                            <span class="questition-header">Answers</span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <a class="cursor" *ngIf="answerTypeLocalization.languageIsDefault"
                                                (click)="addAnswer()">
                                                <img src="assets/images/JMS/add-question.svg" />
                                                <span>&nbsp;</span>
                                                <span class="add-question">Add Answer</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="form-row"
                                        *ngFor="let answerItem of answerTypeLocalization.answerTypeItems; index as answerTypeIndex;">
                                        <div class="form-group col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="answerItem.name"
                                                    placeholder="Answer"
                                                    name="answerTypeItemName_{{answerTypeIndex}}_{{i}}"
                                                    #answerTypeItemName{{answerTypeIndex}}{{i}}="ngModel" />
                                                <img class="input-group-prepend"
                                                    *ngIf="answerItem.name=='' && isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="answerItem.name == '' && isSubmitted" class="input-error">Answer
                                                is required</div>
                                        </div>

                                        <div class="form-group col-md-4"
                                            *ngIf="answerTypeLocalization.languageIsDefault">
                                            <div class="input-group">
                                                <input type="number" class="form-control" [(ngModel)]="answerItem.point"
                                                    placeholder="Point" />
                                                <img class="input-group-prepend"
                                                    *ngIf="answerItem.point<0 && isSubmitted"
                                                    src="assets/images/JMS/input-error.svg" />
                                            </div>
                                            <div *ngIf="answerItem.point<0  && isSubmitted" class="input-error">Point is
                                                required</div>
                                        </div>
                                        <div class="form-group col-md-2"
                                            *ngIf="answerTypeLocalization.languageIsDefault">
                                            <a (click)="deleteAnswer(answerTypeIndex)" href="javascript:void(0);">
                                                <img src="assets/images/JMS/remove.svg">
                                            </a>
                                        </div>
                                    </div>

                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sumbitToInitiate" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>

</div>