$mainBackGroundColor: #edfcff;
$greyFontsColor: #979797;
$darkGreyFontsColor: #808080;

$mainBoxShadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);

@font-face {
    font-family: lato;
    src: url(./assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: latoBold;
    src: url(./assets/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(./assets/fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: MontserratLight;
    src: url(./assets/fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: SFProDisplay-Medium;
    src: url(./assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
}
@font-face {
    font-family: SFProDisplay-Regular;
    src: url(./assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}
@font-face {
    font-family: SFProDisplay-Semibold;
    src: url(./assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}
